@()

<div class="product-gallery-page">

    <!-- left rail -->
    <div class="col-sm-8 about-left-rail">
        <!-- row 1: intro video -->
        <div class="row about-product-row">
            <div class="col-sm-12 about-product-tile">
                <!-- if video is embedded from youtube or vimeo -->
                <div class="about-product--video embedded">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ENAXRU-3Tsw" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <!-- row 2: description and feature list -->
        <div class="row about-product-row">
            <div ng-show="product.productLongDescription" class="col-sm-7 about-product-tile">
                <div class="about-product--feature">
                    <p class="about-product--header">Our Product</p>
                    <p class="about-product--content">{{product.productLongDescription}}</p>
                </div>
            </div>
            <div ng-show="product.featureList" class="col-sm-5 about-product-tile">
                <div class="about-product--feature">
                    <p class="about-product--header">Cool Features</p>
                    <p class="about-product--content">{{product.featureList}}</p>
                </div>
            </div>
        </div>

        <!-- row 3: mission statements -->
        <div ng-show="product.missionStatement" class="row about-product-row">
            <div class="col-sm-8 about-product-tile">
                <div class="about-product--mission">
                    <p class="about-product--header">Mission</p>
                    <p class="about-product--content">{{product.missionStatement}}</p>
                </div>
            </div>
            <div class="col-sm-4 about-product-tile">
                <div class="about-product--mission-creator" style="background-image: url('@routes.Assets.at("images/user/belleds/michaelchen.jpeg")')"></div>
            </div>
        </div>

        <!-- row 4: product story -->
        <div ng-show="product.productStory" class="row about-product-row">
            <div class="col-sm-12 about-product-tile">
                <div class="about-product--story">
                    <p class="about-product--header">Story of {{product.productName}}</p>
                    <p class="about-product--content">{{product.productStory}}</p>
                </div>
            </div>
        </div>

        <!-- row 5: product team -->
        <div class="row about-product-row">
            <div class="col-sm-12 about-product-tile">
                <div class="about-product--team">
                    <p class="about-product--header">Meet the team</p>
                    <div class="fluid-container about-product--team-content">
                        <div class="col-sm-4 about-product--team-member">
                            <div class="about-product--team-member-photo" style="background-image: url('@routes.Assets.at("images/user/belleds/alanzhou.jpg")');">
                                <div class="meet-creator-overlay-info">
                                    <h1>Meet Creator</h1>
                                    <h2>Michael Chen</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 about-product--team-member">
                            <div class="about-product--team-member-photo" style="background-image: url('@routes.Assets.at("images/user/belleds/nimayparekh.jpeg")');">
                                <div class="meet-creator-overlay-info">
                                    <h1>Meet Creator</h1>
                                    <h2>Michael Chen</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 about-product--team-member">
                            <div class="about-product--team-member-photo" style="background-image: url('@routes.Assets.at("images/user/belleds/danieltaub.png")');">
                                <div class="meet-creator-overlay-info">
                                    <h1>Meet Creator</h1>
                                    <h2>Michael Chen</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- right rail -->
    <div class="col-sm-4 about-right-rail">
        <!-- row 1: update from creator -->
        <div class="row about-product-row">
            <div class="col-sm-12 about-product-tile">
                <div class="about-product--update">
                    <p class="about-product--header-right">
                        <i class="fa fa-bullhorn"></i>
                        Updates from creator
                    </p>
                    <p class="about-product--content">Feb 20, 2015<br><br>We are launching a product trial program with our next generation Q bulb. Please SIGNUP soon, and get an early access on the latest and greatest innovation!</p>
                </div>
            </div>
        </div>

        <!--div class="fb-post"
        data-href="https://www.facebook.com/FacebookDevelopers/posts/10152128760693553"
        data-width="500"></div-->
        <div class="row about-product-row">
            <div class="col-sm-12 about-product-tile">
                <up-facebook-post product="product.id"></up-facebook-post>
            </div>
        </div>

        <!-- row 2: creator twitter -->
        <!--<div class="row about-product-row">-->
            <!--<div class="col-sm-12 about-product-tile">-->
                <!--<div class="about-product--twitter">-->
                    <!--<p class="about-product--header-right">-->
                        <!--<i class="fa fa-twitter"></i>-->
                        <!--@@BelledsTech</p>-->
                    <!--<p class="about-product--content">@@MIT-born @@BelledsTech sells smart lights that change to the beat of music, so you can have a dance party anywhere http://goo.gl/3iPVG3</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!-- row 3: creator facebook -->
        <!--<div class="row about-product-row">-->
            <!--<div class="col-sm-12 about-product-tile">-->
                <!--<div class="about-product--facebook">-->
                    <!--<p class="about-product--header-right">-->
                        <!--<i class="fa fa-facebook"></i>-->
                        <!--Belleds on Facebook</p>-->
                    <!--<p class="about-product--content">Congratulations to Belleds! We won third-place prize of MIT-CHIEF competition this weekend. And we are on MIT news today!</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!-- row 4: user quote -->
        <div class="row about-product-row">
            <div class="col-sm-12 about-product-tile">
                <div class="about-product--quote">
                    <div class="triangle-border">
                        <p class="about-product--quote-content">I love the idea of streaming music with the smart LED. It would be awesome if I could configure the "genres" (effects) so that the bulb can change color in various ways. Much like how you choose audio output effect in an home theater receiver.</p>
                        <p class="about-product--quote-user">- Josh Abdul</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- row 5: trendy photo -->
        <div class="row about-product-row">
            <div class="col-sm-12 about-product-tile">
                <div class="about-product--trendy">
                    <p class="about-product--header-right"><i class="fa fa-picture-o"></i>Trendy photo</p>
                </div>
                <div class="about-product--trendy-photo" style="background-image: url('@("https://s3.amazonaws.com/sproutup-mvp-cdn/1_Belleds/b6f514b0-17fc-4fcd-a43f-4e4bb481773f_%40josh.png")')"></div>
                <p class="about-product--trendy-photo-footer">Sent by <span class="about-product--trendy-photo-em">Josh Abdul</span>, Upvotes: <span class="about-product--trendy-photo-em">100</span></p>
            </div>
        </div>
    </div>

</div>