@moreHead = {
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/creator-dashboard.css")">
}

@main(Messages("My product | SproutUp: Redefine Commerce for Emerging Products"), moreHead) {

<div class="row add-new-product-page">
    <h1>Add a new product</h1>
    <h2>Hi CREATOR, thanks for joining our Beta! Please let us know a little bit more about your product, and we will get back to you shortly.</h2>

    <!-- Basic Information -->
    <div class="product-edit--header">Basic Information</div>
    <div class="row product-input-row">
        <div class="col-sm-6 product-input-cell">
            <input type="text" class="form-control form-validate form-input medium" placeholder="Product name">
        </div>
        <div class="col-sm-6 product-input-cell">
            <input type="text" class="form-control form-validate form-input medium" placeholder="Company name">
        </div>
    </div>
    <div class="row product-input-row">
        <div class="col-sm-12 product-input-cell">
            <input type="text" class="form-control form-validate form-input medium" placeholder="Product punchline, please be concise">
        </div>
    </div>

    <!-- URLs -->
    <div class="product-edit--header">Website, Social Media</div>
    <div class="row product-input-row">
        <div class="col-sm-12 product-input-cell">
            <input type="text" class="form-control form-input medium left-feedback" placeholder="Product page: www.example.com">
            <span class="fa fa-lg fa-home"></span>
        </div>
    </div>
    <div class="row product-input-row">
        <div class="col-sm-12 product-input-cell">
            <input type="text" class="form-control form-input medium left-feedback" placeholder="Product Facebook: facebook.com/example">
            <span class="fa fa-lg fa-facebook-square"></span>
        </div>
    </div>
    <div class="row product-input-row">
        <div class="col-sm-12 product-input-cell">
            <input type="text" class="form-control form-input medium left-feedback" placeholder="Product Twitter: twitte.com/example">
            <span class="fa fa-lg fa-twitter-square"></span>
        </div>
    </div>
    <div class="row product-input-row">
        <div class="col-sm-12 product-input-cell">
            <input type="text" class="form-control form-input medium left-feedback" placeholder="Product Instagram: instagram.com/example">
            <span class="fa fa-lg fa-instagram"></span>
        </div>
    </div>

    <!-- Video -->
    <div class="product-edit--header">Product Video</div>
    <div class="row product-input-row">
         <div class="col-sm-12 product-input-cell">
            <input type="text" class="form-control form-input medium left-feedback" placeholder="Product video URL (YouTube, Vimeo, etc.)">
            <span class="fa fa-lg fa-video-camera"></span>
        </div>
    </div>
    
    <div class="add-product-actions">
        <button class="btn btn-lg add-product-btn save" type="submit">Add Product</button>
        <button class="btn btn-lg add-product-btn cancel" type="submit">Cancel</button>
    </div>

</div>
}