@moreHead = {

<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/creator.css")">

}

@main(Messages("For Creators | SproutUp: Redefine Commerce for Emerging Products"), moreHead) {

<!-- Value Prop Banner -->
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Creating a cool thing?</h1>
                    <h3>SproutUp’s online community brings together creators, enthusiasts and consumers to help emerging products grow</h3>
                    <a href="#" class="btn btn-lg btn-lg-outline">Get early access</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Overview -->
<div class="row text-center">
    <div class="col-lg-12">
        <h2 class="overview-title">SproutUp helps emerging products grow and win</h2>
        <p class="overview-subtitle">
            We create an online platform that connects product creators with a community of product enthusiasts and social media influencers to help emerging products evolve, drive buzz and commercialize. We offer creators an integrated set of services to market product, collect feedback, support customer issues, discover new ideas and grow user base.
        </p>
    </div>
</div>

<hr>

<!-- Three sets of solutions -->
<div class="row text-center">
    <div class="col-lg-12">
        <h2 class="overview-title">Our offerings</h2>
    </div>
</div>
<div class="su-solution">
    <div class="col-sm-4 su-solution-wrapper">
        <div class="su-solution-body collaboration">
            <div class="su-solution-header">
                <div class="su-solution-icon"><i class="fa fa-3x fa-users"></i></div>
                <div class="su-solution-title">COLLABORATION</div>
                <div class="su-solution-subtitle">with enthusiastic users</div>
            </div>
            <div class="su-solution-details">
                <div class="su-solution-details--blurb">
                    <h1>Community forum</h1>
                    <p>Your venue of collaboration, where enthusiastic users to share experience, exchange ideas, make suggestions, and ask and answer questions.</p>
                </div>
                <div class="su-solution-details--blurb">
                    <h1>Delightful survey</h1>
                    <p>Create simple, delightful survey to collect feedback directly from the community.</p>
                </div>
                <div class="su-solution-details--blurb">
                    <h1>Product trials</h1>
                    <p>Put your product prototype in the hands of real users and iterate together with them. SproutUp helps you coordinate product tryouts.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 su-solution-wrapper">
        <div class="su-solution-body marketing">
            <div class="su-solution-header">
                <div class="su-solution-icon"><i class="fa fa-3x fa-bullhorn"></i></div>
                <div class="su-solution-title">MARKETING</div>
                <div class="su-solution-subtitle">with content and product champions</div>
            </div>
            <div class="su-solution-details">
                <div class="su-solution-details--blurb">
                    <h1>Creator's story</h1>
                    <p>Instead of showing cold specs, warmly connect with customers by telling your stories, mission, and team behind the product.</p>
                </div>
                <div class="su-solution-details--blurb">
                    <h1>Content</h1>
                    <p>Capture great content (such as testimonials, product photos and videos) generated by your best customers. Share them across social media to appeal more customers.</p>
                </div>
                <div class="su-solution-details--blurb">
                    <h1>Product champions</h1>
                    <p>SproutUp helps creators identify and connect with product champions, and leverage their social influence to spread the word, promote brand awareness, create buzz, and drive sales.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 su-solution-wrapper">
        <div class="su-solution-body analytics">
            <div class="su-solution-header">
                <div class="su-solution-icon"><i class="fa fa-3x fa-line-chart"></i></div>
                <div class="su-solution-title">ANALYTICS</div>
                <div class="su-solution-subtitle">with actionable dashboard</div>
            </div>
            <div class="su-solution-details">
                <div class="su-solution-details--blurb">
                    <h1>Feedback analysis</h1>
                    <p>Collecting feedback is just step one. SproutUp helps creators understand what topics customers are talking about.</p>
                </div>
                <div class="su-solution-details--blurb">
                    <h1>Data tracking</h1>
                    <p>Value is proved by data. SproutUp offers creators a comprehensive dashboard to understand user following, engagement, impression and conversion.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<!-- Early access form -->
<div class="row text-center">
    <div class="col-lg-12">
        <h2 class="overview-title">Interested? Get early access!</h2>
    </div>

    <div class="early-access-signup">
        <div class="early-access-signup-header">
            We are expanding collaboration with the most innovative creators in the world. We love to hear from you, and please leave your contact and join our beta launch in early 2015.
        </div>
        <div class="col-sm-12 early-access-signup-form">
            <input type="text" class="form-control early-access-signup-form-input" placeholder="Your name">
        </div>
        <div class="col-sm-12 early-access-signup-form">
            <input type="email" class="form-control early-access-signup-form-input" placeholder="You email">
        </div>
        <div class="col-sm-12 early-access-signup-form">
            <input type="text" class="form-control early-access-signup-form-input" placeholder="Please provide a link to your product website">
        </div>
        <div class="col-sm-12 early-access-signup-form">
            <a class="btn btn-lg btn-early-access-signup">Join the list</a>
        </div>
    </div>

</div>

@footer()

<!-- JS for columns with equal height -->
<script>
    equalheight = function(container) {

        var currentTallest = 0,
                currentRowStart = 0,
                rowDivs = new Array(),
                $el,
                topPosition = 0;
        $(container).each(function() {

            $el = $(this);
            $($el).height('auto')
            topPostion = $el.position().top;

            if (currentRowStart != topPostion) {
                for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {
                    rowDivs[currentDiv].height(currentTallest);
                }
                rowDivs.length = 0; // empty the array
                currentRowStart = topPostion;
                currentTallest = $el.height();
                rowDivs.push($el);
            } else {
                rowDivs.push($el);
                currentTallest = (currentTallest < $el.height()) ? ($el.height()) : (currentTallest);
            }
            for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {
                rowDivs[currentDiv].height(currentTallest);
            }
        });
    }

    $(window).load(function() {
        equalheight('.su-solution-body');
    });


    $(window).resize(function(){
        equalheight('.su-solution-body');
    });

</script>

}
