@moreHead = {
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/signup-login-modal.css")">
}

@main(Messages("Reset password | SproutUp: Redefine Commerce for Emerging Products"), moreHead) {

    <div class="row marketing-container">

        <div class="signup-login-area">
            <div class="reset-password-form-header">
                <h1>Forgot your password?</h1>
                <h2>Enter the email associated with your account, and we'll send over a link to reset your password.</h2>
            </div>
            <div class="signup-login-form">
                <input class="form-control signup-login-input" type="email" placeholder="Your login email">
                <button class="btn btn-lg password-reset-btn" type="submit">Send Reset Link</button>
            </div>
        </div>

    </div>
}
