@moreHead = {
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/signup-login-modal.css")">
}

@main(Messages(""), moreHead) {
    <div class="row marketing-container">
        <div class="signup-login-area">
            <!-- facebook login -->
            <a href="/authenticate/facebook">
                <button analytics-on="click" analytics-event="Log in with Facebook" type="submit" ng-click="provider('facebook')" class="btn btn-lg btn-facebook"><i class="fa fa-facebook-square"></i>Log in with Facebook</button>
            </a>
            <!-- twitter login -->
            <a href="/authenticate/twitter">
                <button analytics-on="click" analytics-event="Log in with Twitter" type="submit" ng-click="provider('twitter')" class="btn btn-lg btn-twitter"><i class="fa fa-twitter-square"></i>Log in with Twitter</button>
            </a>
            <!-- separator -->
            <div class="signup-or-separator">
                <h6 class="text-special">OR</h6>
                <hr>
            </div>
            <!-- email login -->
            <form name="loginForm" class="loginForm" novalidate>
                <div class="signup-login-form">
                    <div ng-show="true">
                        <div class="signup-login-form--error-message" ng-show="login.error"><i class="fa fa-minus-circle"></i>Err... seems like invalid email or password</div>
                    </div>
                    <input ng-model="login.email" class="form-control signup-login-input" id="email" type="text" required placeholder="Email address">
                    <input ng-model="login.password" class="form-control signup-login-input" id="password" type="password" required placeholder="Password">
                    <button analytics-on="click" analytics-event="Log in with email" ng-disabled="loginForm.$invalid" ng-click="ok()" class="btn btn-lg signup-login-btn" type="submit">Log in</button>
                </div>
            </form>
            <!-- footer -->
            <hr class="signup-login-form-separator">
            <div ng-click="signup()" class="signup-login-form-footer">Don't have an account? <a href="#">Sign up</a> here.</div>
            <!-- <div class="signup-login-form-footer"><a href="#">Forgot your password?</a></div> -->

        </div>
    </div>

}
