@moreHead = {
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/creator-dashboard.css")">
}

@main(Messages("My Content Mock | SproutUp"), moreHead) {

<div class="row my-content-page">

    <!-- Content -->
    <div class="col-sm-12">

        <div class="row my-content-item">
            <!-- content thumbnail -->
            <div class="col-sm-8 my-content-item-summary">
                <p class="product-trial-item--status">Content added 2 days ago</p>
                <img class="my-content-image img-responsive" src="http://rack.1.mshcdn.com/media/ZgkyMDE1LzA3LzIyLzUyL1NwYWNlSmFtMi5hMDQxYS5qcGcKcAl0aHVtYgk5NTB4NTM0IwplCWpwZw/626b0601/1bf/SpaceJam2.jpg">
                <p class="my-content-headline">'Space Jam 2' tho!? LeBron James inks deal with Warner Bros</p>
                <p class="my-content-excerpt">After LeBron James announces a partnership with Warner Bros., thirst for 'Space Jam 2' overruns the Internet.</p>
            </div>

            <!-- data -->
            <div class="col-sm-4 my-content-item-stat">
                <p class="product-trial-item--status">Unique Page Views</p>
                <p class="my-content-headline">999.9k</p>
            </div>
        </div>

        <div class="row my-content-item">
            <!-- content thumbnail -->
            <div class="col-sm-8 my-content-item-summary">
                <p class="product-trial-item--status">Content added 1 week ago</p>
                <img class="my-content-image img-responsive" src="http://rack.1.mshcdn.com/media/ZgkyMDE1LzA3LzIyLzUyL1NwYWNlSmFtMi5hMDQxYS5qcGcKcAl0aHVtYgk5NTB4NTM0IwplCWpwZw/626b0601/1bf/SpaceJam2.jpg">
                <p class="my-content-headline">'Space Jam 2' tho!? LeBron James inks deal with Warner Bros</p>
                <p class="my-content-excerpt">After LeBron James announces a partnership with Warner Bros., thirst for 'Space Jam 2' overruns the Internet.</p>
            </div>

            <!-- data -->
            <div class="col-sm-4 my-content-item-stat">
                <p class="product-trial-item--status">Unique Page Views</p>
                <p class="my-content-headline">999.9k</p>
            </div>
        </div>

    </div>
}
