@moreHead = {
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/creator-dashboard.css")">
}

@main(Messages("My Content Mock | SproutUp"), moreHead) {

<div class="row my-content-page">

    <div class="col-sm-8 my-content-left-rail">

        <!-- add content -->
        <div class="col-sm-12 my-content-item">
            <!-- user photo -->
            <div class="col-sm-2 my-content-user-avatar">
                <img class="img-responsive my-content-user-img img-center" src="@routes.Assets.at("images/about/team/tao.jpg")">
            </div>
            <!-- content thumbnail -->
            <div class="col-sm-10 my-content-body">
                <div class="my-content-item--summary">
                    <div class="row my-content-add-item">
                        <!-- <button class="btn btn-lg sproutup-btn-add-content"><i class="fa fa-font"></i>Text</button> -->
                        <button class="btn btn-lg sproutup-btn-add-content"><i class="fa fa-link"></i>Link</button>
                        <button class="btn btn-lg sproutup-btn-add-content"><i class="fa fa-picture-o"></i>Photo</button>
                        <button class="btn btn-lg sproutup-btn-add-content"><i class="fa fa-video-camera"></i>Video</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- add content: link -->
        <div class="col-sm-12 my-content-item">
            <!-- user photo -->
            <div class="col-sm-2 my-content-user-avatar">
                <img class="img-responsive my-content-user-img img-center" src="@routes.Assets.at("images/about/team/tao.jpg")">
            </div>
            <!-- content thumbnail -->
            <div class="col-sm-10 my-content-body">
                <div class="my-content-item--summary">
                    <p class="my-content-user">User Name<span>@@twitterhandle</span></p>
                    <div class="my-content-new">
                        <input class="form-control post-new-textbox related-products" placeholder="Add related products (REQUIRED)">
                        <hr>
                        <textarea placeholder="Type of Paste a URL of literally anything - article, blog, YouTube video or tweet, etc." class="form-control post-new-textarea link"></textarea>
                    </div>
                    <div class="post-new-comment-actions">
                        <button type="button" class="btn btn-cancel-post">Cancel</button>
                        <button type="button" class="btn btn-post-default" disabled="disabled">Post</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- add content: photo -->
        <div class="col-sm-12 my-content-item">
            <!-- user photo -->
            <div class="col-sm-2 my-content-user-avatar">
                <img class="img-responsive my-content-user-img img-center" src="@routes.Assets.at("images/about/team/tao.jpg")">
            </div>
            <!-- content thumbnail -->
            <div class="col-sm-10 my-content-body">
                <div class="my-content-item--summary">
                    <p class="my-content-user">User Name<span>@@twitterhandle</span></p>
                    <div class="my-content-new">
                        <input class="form-control post-new-textbox related-products" placeholder="Add related products (REQUIRED)">
                        <hr>
                        <textarea placeholder="Add a description if you like" class="form-control post-new-textarea link"></textarea>
                        <hr>
                        <a href="#" class="btn btn-lg btn-my-content-add-media"><i class="fa fa-camera"></i>Upload photo</a>
                    </div>
                    <div class="post-new-comment-actions">
                        <button type="button" class="btn btn-cancel-post">Cancel</button>
                        <button type="button" class="btn btn-post-default" disabled="disabled">Post</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- add content: video -->
        <div class="col-sm-12 my-content-item">
            <!-- user photo -->
            <div class="col-sm-2 my-content-user-avatar">
                <img class="img-responsive my-content-user-img img-center" src="@routes.Assets.at("images/about/team/tao.jpg")">
            </div>
            <!-- content thumbnail -->
            <div class="col-sm-10 my-content-body">
                <div class="my-content-item--summary">
                    <p class="my-content-user">User Name<span>@@twitterhandle</span></p>
                    <div class="my-content-new">
                        <input class="form-control post-new-textbox related-products" placeholder="Add related products (REQUIRED)">
                        <hr>
                        <textarea placeholder="Add a description if you like" class="form-control post-new-textarea link"></textarea>
                        <hr>
                        <a href="#" class="btn btn-lg btn-my-content-add-media"><i class="fa fa-video-camera"></i>Upload video</a>
                    </div>
                    <div class="post-new-comment-actions">
                        <button type="button" class="btn btn-cancel-post">Cancel</button>
                        <button type="button" class="btn btn-post-default" disabled="disabled">Post</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- content blurb -->
        <div class="col-sm-12 my-content-item">
            <!-- user photo -->
            <div class="col-sm-2 my-content-user-avatar">
                <img class="img-responsive my-content-user-img img-center" src="@routes.Assets.at("images/default-avatar.png")">
            </div>
            <!-- content thumbnail -->
            <div class="col-sm-10 my-content-body">
                <div class="my-content-item--summary">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="my-content-user">User Name<span>@@twitterhandle</span></p>
                            <p class="my-content-timestamp">Yesterday at 4:30pm</p>
                        </div>
                        <div class="col-sm-6">
                            <a href="#" class="my-content-related-product new-product"><i class="fa fa-tag"></i>New Product</a>
                        </div>
                    </div>
                    <div class="my-content-item-main">
                        <img class="my-content-image img-responsive" src="http://cdn.shopify.com/s/files/1/0122/8442/t/15/assets/FBimage.jpg?9612294250804976937">
                        <p class="my-content-headline">Revolights</p>
                        <p class="my-content-text">Revolights is an awesome bike safety light!!</p>
                    </div>
                    <div class="my-content-actions">
                        <a href="#">UPVOTE (89)</a>
                        <a href="#">COMMENT (12)</a>
                        <a href="#">SHARE</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 my-content-item">
            <!-- user photo -->
            <div class="col-sm-2 my-content-user-avatar">
                <img class="img-responsive my-content-user-img img-center" src="@routes.Assets.at("images/default-avatar.png")">
            </div>
            <!-- content thumbnail -->
            <div class="col-sm-10 my-content-body">
                <div class="my-content-item--summary">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="my-content-user">User Name<span>@@twitterhandle</span></p>
                            <p class="my-content-timestamp">Yesterday at 4:30pm</p>
                        </div>
                        <div class="col-sm-6">
                            <a href="#" class="my-content-related-product"><i class="fa fa-tag"></i>BloomSky</a>
                        </div>
                    </div>
                    <div class="my-content-item-main">
                        <img class="my-content-image img-responsive" src="http://rack.1.mshcdn.com/media/ZgkyMDE1LzA3LzIyLzUyL1NwYWNlSmFtMi5hMDQxYS5qcGcKcAl0aHVtYgk5NTB4NTM0IwplCWpwZw/626b0601/1bf/SpaceJam2.jpg">
                        <p class="my-content-headline">'Space Jam 2' tho!? LeBron James inks deal with Warner Bros</p>
                        <p class="my-content-text">After LeBron James announces a partnership with Warner Bros., thirst for 'Space Jam 2' overruns the Internet.</p>
                    </div>
                    <div class="my-content-actions">
                        <a href="#">UPVOTE (89)</a>
                        <a href="#">COMMENT (12)</a>
                        <a href="#">SHARE</a>
                    </div>
                </div>
                <!-- comment area -->
                <div class="my-content-comments">
                    <div class="row my-content-comment-row">
                        <div class="col-sm-2 my-content-user-avatar">
                        <img class="img-responsive my-content-user-img-sm img-center" src="@routes.Assets.at("images/user/UM9WLXps_400x400.jpg")">
                        </div>
                        <div class="col-sm-10 my-content-comment-blurb">
                            <p class="my-content-user comment">User Name<span>@@twitterhandle</span></p>
                            <div class="post-comment-form">
                                <textarea class="form-control post-comment-textarea" rows="2"></textarea>
                            </div>
                            <div class="post-new-comment-actions">
                                <button type="button" class="btn btn-cancel-post">Cancel</button>
                                <button type="button" class="btn btn-post-default" disabled="disabled">Post</button>
                            </div>
                        </div>
                    </div>
                    <div class="row my-content-comment-row">
                        <div class="col-sm-2 my-content-user-avatar">
                        <img class="img-responsive my-content-user-img-sm img-center" src="@routes.Assets.at("images/user/UM9WLXps_400x400.jpg")">
                        </div>
                        <div class="col-sm-10 my-content-comment-blurb">
                            <p class="my-content-user comment">User Name<span>@@twitterhandle</span></p>
                            <p class="my-content-timestamp comment">Yesterday at 4:30pm</p>
                            <p class="my-content-text comment">After LeBron James announces a partnership with Warner Bros., thirst for 'Space Jam 2' overruns the Internet.</p>
                            <div class="my-content-actions">
                                <a href="#">UPVOTE (89)</a>
                                <a href="#">SHARE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 my-content-item">
            <div class="col-sm-2 my-content-user-avatar">
            <img class="img-responsive my-content-user-img img-center" src="@routes.Assets.at("images/user/UM9WLXps_400x400.jpg")">
            </div>
            <!-- content thumbnail -->
            <div class="col-sm-10 my-content-body">
                <div class="my-content-item--summary">
                    <p class="my-content-user">User Name<span>@@twitterhandle</span></p>
                    <p class="my-content-timestamp">2 days ago</p>
                    <div class="my-content-item-main">
                        <img class="my-content-image img-responsive" src="http://rack.1.mshcdn.com/media/ZgkyMDE1LzA3LzIyLzUyL1NwYWNlSmFtMi5hMDQxYS5qcGcKcAl0aHVtYgk5NTB4NTM0IwplCWpwZw/626b0601/1bf/SpaceJam2.jpg">
                    </div>
                    <div class="my-content-actions">
                        <a href="#">UPVOTE (89)</a>
                        <a href="#">COMMENT (12)</a>
                        <a href="#">SHARE</a>
                    </div>
                </div>
                <!-- comment area -->
                <div class="my-content-comments">
                    <div class="row my-content-comment-row">
                        <div class="col-sm-2 my-content-user-avatar">
                        <img class="img-responsive my-content-user-img-sm img-center" src="@routes.Assets.at("images/user/UM9WLXps_400x400.jpg")">
                        </div>
                        <div class="col-sm-10 my-content-comment-blurb">
                            <p class="my-content-user comment">User Name<span>@@twitterhandle</span></p>
                            <p class="my-content-timestamp comment">Yesterday at 4:30pm</p>
                            <p class="my-content-text comment">After LeBron James announces a partnership with Warner Bros., thirst for 'Space Jam 2' overruns the Internet.</p>
                            <div class="my-content-actions">
                                <a href="#">UPVOTE (89)</a>
                                <a href="#">SHARE</a>
                            </div>
                        </div>
                    </div>
                    <div class="row my-content-comment-row">
                        <div class="col-sm-2 my-content-user-avatar">
                        <img class="img-responsive my-content-user-img-sm img-center" src="@routes.Assets.at("images/user/UM9WLXps_400x400.jpg")">
                        </div>
                        <div class="col-sm-10 my-content-comment-blurb">
                            <p class="my-content-user comment">User Name<span>@@twitterhandle</span></p>
                            <p class="my-content-timestamp comment">Yesterday at 4:30pm</p>
                            <p class="my-content-text comment">After LeBron James announces a partnership with Warner Bros., thirst for 'Space Jam 2' overruns the Internet.</p>
                            <div class="my-content-actions">
                                <a href="#">UPVOTE (89)</a>
                                <a href="#">SHARE</a>
                            </div>
                        </div>
                    </div>
                    <div class="row my-content-comment-row">
                        <div class="col-sm-2 my-content-user-avatar">
                        <img class="img-responsive my-content-user-img-sm img-center" src="@routes.Assets.at("images/user/UM9WLXps_400x400.jpg")">
                        </div>
                        <div class="col-sm-10 my-content-comment-blurb">
                            <p class="my-content-user comment">User Name<span>@@twitterhandle</span></p>
                            <p class="my-content-timestamp comment">Yesterday at 4:30pm</p>
                            <p class="my-content-text comment">After LeBron James announces a partnership with Warner Bros., thirst for 'Space Jam 2' overruns the Internet.</p>
                            <div class="my-content-actions">
                                <a href="#">UPVOTE (89)</a>
                                <a href="#">SHARE</a>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center my-content-comment-more">
                        <a href="#">Show more comments</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 my-content-item">
            <div class="col-sm-2 my-content-user-avatar">
            <img class="img-responsive my-content-user-img img-center" src="@routes.Assets.at("images/user/UM9WLXps_400x400.jpg")">
            </div>
            <!-- content thumbnail -->
            <div class="col-sm-10 my-content-body">
                <div class="my-content-item--summary">
                    <p class="my-content-user">User Name<span>@@twitterhandle</span></p>
                    <p class="my-content-timestamp">3 days ago</p>
                    <div class="my-content-item-main">
                        <div class="my-content-image flowplayer">
                            <video>
                                <source type="application/x-mpegurl" src="http://dc2jx5ot5judg.cloudfront.net/1_Belleds/788c7fe4-0f75-4beb-bf3b-e6febf3941d2/788c7fe4-0f75-4beb-bf3b-e6febf3941d2.m3u8">
                                <source type="video/webm" src="http://dc2jx5ot5judg.cloudfront.net/1_Belleds/788c7fe4-0f75-4beb-bf3b-e6febf3941d2/788c7fe4-0f75-4beb-bf3b-e6febf3941d2.webm">
                                <source type="video/mp4" src="http://dc2jx5ot5judg.cloudfront.net/1_Belleds/788c7fe4-0f75-4beb-bf3b-e6febf3941d2/788c7fe4-0f75-4beb-bf3b-e6febf3941d2.mp4">
                            </video>
                        </div>
                    </div>
                    <div class="my-content-actions">
                        <a href="#">UPVOTE (89)</a>
                        <a href="#">COMMENT (12)</a>
                        <a href="#">SHARE</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 my-content-item">
            <div class="col-sm-2 my-content-user-avatar">
            <img class="img-responsive my-content-user-img img-center" src="@routes.Assets.at("images/user/UM9WLXps_400x400.jpg")">
            </div>
            <!-- content thumbnail -->
            <div class="col-sm-10 my-content-body">
                <div class="my-content-item--summary">
                    <p class="my-content-user">User Name<span>@@twitterhandle</span></p>
                    <p class="my-content-timestamp">3 days ago</p>
                    <div class="my-content-item-main">
                        <div class="my-content-video embedded">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/zTP5wAwnyZE" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="my-content-actions">
                        <a href="#">UPVOTE (89)</a>
                        <a href="#">COMMENT (12)</a>
                        <a href="#">SHARE</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 my-content-item">
            <div class="col-sm-2 my-content-user-avatar">
            <img class="img-responsive my-content-user-img img-center" src="@routes.Assets.at("images/user/UM9WLXps_400x400.jpg")">
            </div>
            <!-- content thumbnail -->
            <div class="col-sm-10 my-content-body">
                <div class="my-content-item--summary">
                    <p class="my-content-user">User Name<span>@@twitterhandle</span></p>
                    <p class="my-content-timestamp">3 days ago</p>
                    <div class="my-content-item-main">
                        <div class="my-content-video embedded">
                            <iframe src="https://vine.co/v/eIDitaYELgl/embed/simple" width="600" height="600" frameborder="0"></iframe>
                        </div>
                    </div>
                    <div class="my-content-actions">
                        <a href="#">UPVOTE (89)</a>
                        <a href="#">COMMENT (12)</a>
                        <a href="#">SHARE</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-sm-4 my-content-right-rail">
        <div class="my-content-info-header">
            <p>What is Buzz</p>
        </div>
        <div class="my-content-info-body">
            <p>Buzz is a place for you, influencers, to showcase the awesome content you create for emerging products.</p>
        </div>

        <div class="my-content-info-header">
            <p>Benefits of Buzz</p>
        </div>
        <div class="my-content-info-body">
            <h3><i class="fa fa-star"></i>Show off your talent</h3>
            <p>You've got talent on creating intriguing content - time to show off to the world!</p>
            <h3><i class="fa fa-bullhorn"></i>Get broad distribution</h3>
            <p>Your content will be promoted to a broad community of tech influencers and enthusiasts, in addition to your existing channels.</p>
            <h3><i class="fa fa-users"></i>Socialize with others</h3>
            <p>Connect with like-minded tech enthusiasts, upvote or share content you love, and make constructive comments to help each other grow.</p>
            <h3><i class="fa fa-gift"></i>Earn rewards</h3>
            <p>Earn rewards for publishing great content and actively participating in quality discussions.</p>
        </div>
    </div>

</div>
}
