@(product: models.Product)

<div class="product-gallery-page">

    <div class="col-lg-12 gallery-tabs">
        <div class="gallery-tabs--content">
            <a class="btn btn-lg btn-gallery-tab active" href="#"><i class="fa fa-photo"></i>Photos</a>
            <a class="btn btn-lg btn-gallery-tab" href="#"><i class="fa fa-video-camera"></i>Videos</a>
        </div>
    </div>

    <!-- ask people to share photos or videos -->
    <div class="col-sm-12 gallery-header">
            We love photos and videos. We believe photos and videos tell greater product stories than any word does.<br>
            <span><a href="#"><i class="fa fa-plus-circle fa-lg"></i>Start your show</a> and share your experience with everyone!</span>
    </div>

    <!-- current user new photo/video: after user clicks "post" button above -->
    <div class="post-new-media-row">
        <div class="post-new-media-blurb">
            <div class="post-user-name">Ed Smith</div>
            <div class="post-new-media-form">
                <div class="post-new-media-file">
                    <a href="#" class="btn btn-lg btn-media-upload"><i class="fa fa-plus-circle"></i></a>
                </div>
                <div class="post-new-media-comment">
                    <textarea placeholder="Tell something about this photo..." class="form-control post-media-comment-textarea" rows="3"></textarea>
                </div>
            </div>
            <div class="post-new-comment-actions">
                <button type="button" class="btn btn-cancel-post">Cancel</button>
                <button type="button" class="btn btn-post-media">Upload</button>
            </div>
        </div>
    </div>

    <div class="media">
        <div class="masonry js-masonry" data-masonry-options='{"isFitWidth": true, "transitionDuration": 0, "gutter": 4}'>

            <div class="masonry-media-item video">
                <div class="flowplayer">
                    <video preload="auto">
                        <source type="video/mp4" src="http://dc2jx5ot5judg.cloudfront.net/76ca7212-272b-435a-ab48-71757a6ae89a/76ca7212-272b-435a-ab48-71757a6ae89a.mp4">
                        <source type="video/webm" src="http://dc2jx5ot5judg.cloudfront.net/76ca7212-272b-435a-ab48-71757a6ae89a/76ca7212-272b-435a-ab48-71757a6ae89a.webm">
                    </video>
                </div>
            </div>

            <!-- when video is in process -->
            <div class="masonry-media-item video in-processing">
                <div class="video-processing-placeholder">
                    <i class="fa fa-3x fa-spinner fa-spin"></i>
                    <p>Your video is being processed. It will be ready shortly.</p>
                </div>
            </div>

            <div class="masonry-media-item photo">
                <img class="media-photo" src="http://d209heoa233yab.cloudfront.net/1_Belleds/b87053eb-a485-403b-8049-47008ed32047_IMG_3168.JPG">
                <div class="media-photo-overlay">
                    <div class="media-photo-info">
                        <div class="media-user">
                            Tao Ni #1<a href="#"><i class="fa fa-ellipsis-h"></i></a>
                        </div>
                        <div class="media-actions">
                            <a href="#"><i class="fa fa-rocket"></i>Up (89)</a>
                            <a href="#"><i class="fa fa-share"></i>Share</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="masonry-media-item video">
                <div class="flowplayer">
                    <video preload="auto">
                        <source type="application/x-mpegurl" src="http://dc2jx5ot5judg.cloudfront.net/1_Belleds/0a70e884-10fb-4c4a-9353-a3752e1545d0/0a70e884-10fb-4c4a-9353-a3752e1545d0.m3u8">
                        <source type="video/webm" src="http://dc2jx5ot5judg.cloudfront.net/1_Belleds/0a70e884-10fb-4c4a-9353-a3752e1545d0/0a70e884-10fb-4c4a-9353-a3752e1545d0.webm">
                        <source type="video/mp4" src="http://dc2jx5ot5judg.cloudfront.net/1_Belleds/0a70e884-10fb-4c4a-9353-a3752e1545d0/0a70e884-10fb-4c4a-9353-a3752e1545d0.mp4">
                    </video>
                </div>
                <div class="media-video-info">
                    <div class="media-user">
                        Tao Ni #2
                    </div>
                    <div class="media-actions">
                        <a href="#"><i class="fa fa-rocket"></i>Up (89)</a>
                        <a href="#"></i>Share</a>
                    </div>
                </div>
            </div>

            <div class="masonry-media-item photo">
                <img class="media-photo" src="http://d209heoa233yab.cloudfront.net/1_Belleds/4d5cef22-054b-48eb-bee4-48bfdab794d4_@@doyouevenconnor.jpg">
                <div class="media-photo-overlay">
                    <div class="media-photo-info">
                        <div class="media-user">
                            Tao Ni #3
                        </div>
                        <div class="media-actions">
                            <a href="#"><i class="fa fa-rocket"></i>Up (89)</a>
                            <a href="#"><i class="fa fa-share"></i>Share</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="masonry-media-item photo">
                <img class="media-photo" src="http://d209heoa233yab.cloudfront.net/1_Belleds/6b17e935-270f-4ee3-aa18-9d982a7976fa_@@boel.jpg">
                <div class="media-photo-overlay">
                    <div class="media-photo-info">
                        <div class="media-user">
                            Tao Ni #4
                        </div>
                        <div class="media-actions">
                            <a href="#"><i class="fa fa-rocket"></i>Up (89)</a>
                            <a href="#"><i class="fa fa-share"></i>Share</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="masonry-media-item photo">
                <img class="media-photo" src="http://d209heoa233yab.cloudfront.net/1_Belleds/3b209b0d-c3b8-4ac3-9f3d-38195c964442_@@jsimmons.jpg">
                <div class="media-photo-overlay">
                    <div class="media-photo-info">
                        <div class="media-user">
                            Tao Ni #5
                        </div>
                        <div class="media-actions">
                            <a href="#"><i class="fa fa-rocket"></i>Up (89)</a>
                            <a href="#"><i class="fa fa-share"></i>Share</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="masonry-media-item photo">
                <img class="media-photo" src="http://d209heoa233yab.cloudfront.net/1_Belleds/79b43e9f-7a1c-431d-ba96-2f5ae8487bdb_@@solidpumba.jpg">
                <div class="media-photo-overlay">
                    <div class="media-photo-info">
                        <div class="media-user">
                            Tao Ni #6
                        </div>
                        <div class="media-actions">
                            <a href="#"><i class="fa fa-rocket"></i>Up (89)</a>
                            <a href="#"><i class="fa fa-share"></i>Share</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="masonry-media-item photo">
                <img class="media-photo" src="https://s3.amazonaws.com/sproutup-mvp-cdn/2_Soma Water/9a8db696-7d4c-41c6-b669-e036faac8ef6_@@joannarubysoon.jpg">
                <div class="media-photo-overlay">
                    <div class="media-photo-info">
                        <div class="media-user">
                            Tao Ni #7
                        </div>
                        <div class="media-actions">
                            <a href="#"><i class="fa fa-rocket"></i>Up (89)</a>
                            <a href="#"><i class="fa fa-share"></i>Share</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="masonry-media-item photo">
                <img class="media-photo" src="https://s3.amazonaws.com/sproutup-mvp-cdn/2_Soma Water/ef6a1575-1377-4b6c-81a2-d635b90f703d_@@kylecircle.jpg">
                <div class="media-photo-overlay">
                    <div class="media-photo-info">
                        <div class="media-user">
                            Tao Ni #8
                        </div>
                        <div class="media-actions">
                            <a href="#"><i class="fa fa-rocket"></i>Up (89)</a>
                            <a href="#"><i class="fa fa-share"></i>Share</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="masonry-media-item video">
                <div class="flowplayer">
                    <video>
                        <source type="application/x-mpegurl" src="http://dc2jx5ot5judg.cloudfront.net/1_Belleds/788c7fe4-0f75-4beb-bf3b-e6febf3941d2/788c7fe4-0f75-4beb-bf3b-e6febf3941d2.m3u8">
                        <source type="video/webm" src="http://dc2jx5ot5judg.cloudfront.net/1_Belleds/788c7fe4-0f75-4beb-bf3b-e6febf3941d2/788c7fe4-0f75-4beb-bf3b-e6febf3941d2.webm">
                        <source type="video/mp4" src="http://dc2jx5ot5judg.cloudfront.net/1_Belleds/788c7fe4-0f75-4beb-bf3b-e6febf3941d2/788c7fe4-0f75-4beb-bf3b-e6febf3941d2.mp4">
                    </video>
                </div>
                <div class="media-video-info">
                    <div class="media-user">
                        Tao Ni #9
                    </div>
                    <div class="media-actions">
                        <a href="#"><i class="fa fa-rocket"></i>Up (89)</a>
                        <a href="#"><i class="fa fa-share"></i>Share</a>
                    </div>
                </div>
            </div>

            <div class="masonry-media-item photo">
                <img class="media-photo" src="https://s3.amazonaws.com/sproutup-mvp-cdn/8_Hidden Radio/8ede6426-4de5-4e67-a76a-158f4e3e1a8c_@@cove_home.jpg">
                <div class="media-photo-overlay">
                    <div class="media-photo-info">
                        <div class="media-user">
                            Tao Ni #10
                        </div>
                        <div class="media-actions">
                            <a href="#"><i class="fa fa-rocket"></i>Up (89)</a>
                            <a href="#"><i class="fa fa-share"></i>Share</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="masonry-media-item photo">
                <img class="media-photo" src="http://d209heoa233yab.cloudfront.net/1_Belleds/b87053eb-a485-403b-8049-47008ed32047_IMG_3168.JPG">
                <div class="media-photo-overlay active">
                    <div class="media-photo-info">
                        <div class="media-user">
                            Tao Ni #11<a href="#"><i class="fa fa-ellipsis-h"></i></a>
                        </div>
                        <div class="media-story">
                            Just got the Belleds Q bulb set. Installation is very easy. Love the coloring effect. Kids like dancing with the changing hue.
                        </div>
                        <div class="media-actions">
                            <a href="#"><i class="fa fa-rocket"></i>Up (89)</a>
                            <a href="#"><i class="fa fa-share"></i>Share</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
