<div class="product-about-page">
<!-- left rail -->
<div class="col-sm-9 about-left-rail">
    <!-- row 1: intro video -->
    <div class="row about-product-row">
        <div class="col-sm-12 about-product-tile">
            <div class="about-product--video">
                <div class="flowplayer is-splash" style="background-size:cover;background-color:#777; background-image:url('@routes.Assets.at("videos/belleds-video.jpg")');">
                    <video>
                        <source type="video/mp4" src="@routes.Assets.at("videos/belleds-video.mp4")">
                    </video>
                </div>
            </div>
        </div>
    </div>

    <!-- row 2: description and feature list -->
    <div class="row about-product-row">
        <div class="col-sm-7 about-product-tile--left">
            <div class="about-product--feature">
                <p class="about-product--content">The Belleds system integrates wireless smart LED bulbs with streaming music. The Q makes it easy to create and share your own light shows!<br><br> The Q Station has a standard 1/8" audio jack as an output to your home audio system or headphones. Once connected to the the Q Station, your audio system becomes WiFi-enabled. That means you can play music to it from a networked device like a smart phone or computer.</p>
            </div>
        </div>
        <div class="col-sm-5 about-product-tile--right">
            <div class="about-product--feature">
                <p class="about-product--content">Smart lighting<br><br>Customizable lighting<br><br>Energy efficient<br><br>Music streaming</p>
            </div>
        </div>
    </div>

    <!-- row 3: mission statements -->
    <div class="row about-product-row">
        <div class="col-sm-8 about-product-tile--left">
            <div class="about-product--mission">
                <p class="about-product--header">Mission</p>
                <p class="about-product--content">Our energy-efficient and affordable LED light bulbs connect to the world through the Q Station router, allowing you to both create a Q (queue) of music and send lighting Qs (cues) from the same smartphone app.</p>
            </div>
        </div>
        <div class="col-sm-4 about-product-tile--right">
            <div class="about-product--mission-creator" style="background-image: url('@routes.Assets.at("images/user/belleds/michaelchen.jpeg")')">
                <div class="meet-creator-overlay-info">
                    <h1>Meet Creator</h1>
                    <h2>Michael Chen</h2>
                </div>
            </div>
        </div>
    </div>

    <!-- row 4: product story -->
    <div class="row about-product-row">
        <div class="col-sm-12 about-product-tile">
            <div class="about-product--story">
                <p class="about-product--header">Story of Belleds</p>
                <p class="about-product--content">Our energy-efficient and affordable LED light bulbs connect to the world through the Q Station router, allowing you to both create a Q (queue) of music and send lighting Qs (cues) from the same smartphone app.<br><br>
                    The Q Station has a standard 1/8" audio jack as an output to your home audio system or headphones. Once connected to the the Q Station, your audio system becomes WiFi-enabled. That means you can play music to it from a networked device like a smart phone or computer.<br><br>
                    When playing music over WiFi, the Q intelligently provides a light show for each song you listen to. You can personalize the show based on your mood with presets in the Android/iOS app. It's easy to customize your playlist and share it with your friends!<br><br>
                    The Q Station is a WiFi router that also talks to the Q Bulbs over a lower-power wireless connection. You use the Q Station like you use a normal router, with settings for music-response customization built into the router's settings web page. You have the option to automatically synchronize the lights to any music you play through the Q Station, whether that music streams from the Internet, your cell phone (wireless speakers), or a USB drive plugged into the Q Station's USB port.
                </p>
            </div>
        </div>
    </div>

    <!-- row 5: product team -->
    <div class="row about-product-row">
        <div class="col-sm-12 about-product-tile">
            <div class="about-product--team">
                <p class="about-product--header">Meet the team</p>
                <div class="fluid-container about-product--team-content">
                    <div class="col-sm-4 about-product--team-member">
                        <div class="about-product--team-member-photo" style="background-image: url('@routes.Assets.at("images/user/belleds/alanzhou.jpg")');">
                            <div class="meet-creator-overlay-info">
                                <h1>Meet Creator</h1>
                                <h2>Michael Chen</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 about-product--team-member">
                        <div class="about-product--team-member-photo" style="background-image: url('@routes.Assets.at("images/user/belleds/nimayparekh.jpeg")');">
                            <div class="meet-creator-overlay-info">
                                <h1>Meet Creator</h1>
                                <h2>Michael Chen</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 about-product--team-member">
                        <div class="about-product--team-member-photo" style="background-image: url('@routes.Assets.at("images/user/belleds/danieltaub.png")');">
                            <div class="meet-creator-overlay-info">
                                <h1>Meet Creator</h1>
                                <h2>Michael Chen</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- right rail -->
<div class="col-sm-3 about-right-rail">
    <!-- row 1: update from creator -->
    <div class="row about-product-row">
        <div class="col-sm-12 about-product-tile">
            <div class="about-product--update">
                <p class="about-product--header-right">
                    <i class="fa fa-bullhorn"></i>
                    Updates from creator
                </p>
                <p class="about-product--content">
                    Feb 20, 2015<br><br>We are launching a product trial program with our next generation Q bulb. Please SIGNUP soon, and get an early access on the latest and greatest innovation!
                </p>
            </div>
        </div>
    </div>

    <!-- row 2: creator twitter -->
    <div class="row about-product-row">
        <div class="col-sm-12 about-product-tile">
            <div class="about-product--twitter">
                <p class="about-product--header-right">
                    <i class="fa fa-twitter"></i>
                    @@BelledsTech</p>
                <p class="about-product--content">
                    @@MIT-born @@BelledsTech sells smart lights that change to the beat of music, so you can have a dance party anywhere http://goo.gl/3iPVG3</p>
            </div>
        </div>
    </div>

    <!-- row 3: creator facebook -->
    <div class="row about-product-row">
        <div class="col-sm-12 about-product-tile">
            <div class="about-product--facebook">
                <p class="about-product--header-right">
                    <i class="fa fa-facebook"></i>
                    Belleds on Facebook</p>
                <p class="about-product--content">
                    Congratulations to Belleds! We won third-place prize of MIT-CHIEF competition this weekend. And we are on MIT news today!</p>
            </div>
        </div>
    </div>

    <!-- row 4: user quote -->
    <div class="row about-product-row">
        <div class="col-sm-12 about-product-tile">
            <div class="about-product--quote">
                <div class="triangle-border">
                    <p class="about-product--quote-content">I love the idea of streaming music with the smart LED. It would be awesome if I could configure the "genres" (effects) so that the bulb can change color in various ways. Much like how you choose audio output effect in an home theater receiver.</p>
                    <p class="about-product--quote-user">- Josh Abdul</p>
                </div>
            </div>
        </div>
    </div>

    <!-- row 5: trendy photo -->
    <div class="row about-product-row">
        <div class="col-sm-12 about-product-tile">
            <div class="about-product--trendy">
                <p class="about-product--header-no-padding"><i class="fa fa-picture-o"></i>Trendy photo</p>
            </div>
            <div class="about-product--trendy-photo" style="background-image: url('@("https://s3.amazonaws.com/sproutup-mvp-cdn/1_Belleds/b6f514b0-17fc-4fcd-a43f-4e4bb481773f_%40josh.png")')"></div>
            <p class="about-product--footer-no-padding">Sent by <span class="about-product--footer-no-padding-em">Josh Abdul</span>, Upvotes: <span class="about-product--footer-no-padding-em">100</span></p>
        </div>
    </div>

</div>

</div>
