@moreHead = {
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/creator-dashboard.css")">
}

@main(Messages("Dashboard Mock | SproutUp"), moreHead) {

<div class="row dashboard-page">

    <!-- TOC -->
    <div class="col-sm-3">
        <div class="list-group">
            <a href="#" class="list-group-item active">Current Trials<span class="badge">1</span></a>
            <a href="#" class="list-group-item">Past Trials<span class="badge">3</span></a>
        </div>
    </div>

    <!-- Content -->
    <div class="col-sm-9">
        <div class="row product-trial-item">
            <div class="col-sm-12 product-trial-item-banner" style="background-image: url('@("http://d30xksqof6w2my.cloudfront.net/2dd1e278-7636-43c4-97ae-262da1d070f8_0_admin.jpg?w=600&h=100")')">
                <p>Crescendo</p>
            </div>
            <div class="col-sm-12 product-trial-item--detail">
                <p class="product-trial-item--status current"><i class="fa fa-check-circle"></i>Requested on June 12, 2015</p>
                <p class="product-trial-item--status"><i class="fa fa-check-circle"></i>You haven't uploaded any content yet. Come back when you're ready!</p>
                <div class="product-trial-item--actions">
                    <a href="#" class="btn btn-lg sproutup-btn-md-main">Manage my content</a>
                    <a href="#" class="btn btn-lg sproutup-btn-md-main">Join discussion</a>
                    <a href="#" class="btn btn-lg sproutup-btn-md-main">Tweet</a>
                    <a href="#" class="btn btn-lg sproutup-btn-md-outline red">Cancel trial request</a>
                </div>
            </div>
        </div>
    </div>

</div>
}
