@(product: models.Product)

<!-- product photos -->
<div class="media">

    @for(media <- product.mediaItems) {
        @if(media.mediaType == "video") {
            <div class="col-md-6 col-sm-12 media-video">
                <div class="flowplayer">
                    <video>
                        <source type="application/x-mpegurl" src="@(media.cloudFrontLink + ".m3u8")">
                        <source type="video/webm" src="@(media.cloudFrontLink + ".webm")">
                        <source type="video/mp4" src="@(media.cloudFrontLink + ".mp4")">
                    </video>
                </div>
            </div>
        }
    }

    @for(media <- product.mediaItems) {
            @if(media.mediaType == "image") {
                <div class="col-lg-4 col-md-4 col-sm-6 media-photo">
                    <div class="media-photo-background"
                    style="background-image: url('@media.cloudFrontLink');">
                    <div class="media-photo-overlay"></div>
                    <div class="media-photo-meta">
                        <p class="media-user">@media.submittedByUserID</p>
                        <ul class="list-inline media-social-buttons">
                            <li>
                                <a href=""><i class="fa fa-heart-o"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-share-alt"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }
    }
</div>
<!-- end of product photos -->

<hr>
