@moreHead = {
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/signup-login-modal.css")">
}

@main(Messages("Reset password | SproutUp: Redefine Commerce for Emerging Products"), moreHead) {

<div class="reset-password-form">
    <div class="reset-password-form-header">Reset your password</div>
    <div class="signup-login-form">
        <input class="form-control signup-login-input" id="password" type="password" placeholder="New password">
        <input class="form-control signup-login-input" id="password" type="password" placeholder="Confirm password">
        <!-- agreement -->
        <div class="signup-agreement">
            By clicking "Save & Continue", I confirm that I accept SproutUp's <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.
        </div>
        <button class="btn btn-lg signup-login-btn" type="submit">Save & Continue</button>
    </div>

</div>

}