@moreHead = {
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/signup-login-modal.css")">
}

@main(Messages("Reset password | SproutUp: Redefine Commerce for Emerging Products"), moreHead) {

<div class="reset-password-form">
    <div class="reset-password-form-header">
        <h1>Reset your password</h1>
        <h2>Hi, Tao Ni! We know forgetting password is annoying, so create a more memorable one.</h2>
    </div>
    <div class="signup-login-form">
        <input class="form-control signup-login-input" id="password" type="password" placeholder="New password">
        <input class="form-control signup-login-input" id="password" type="password" placeholder="Confirm password">
        <button class="btn btn-lg password-reset-btn" type="submit">Save & Continue</button>
    </div>

</div>

}