@moreHead = {
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/creator-dashboard.css")">
}

@main(Messages("Dashboard Mock | SproutUp"), moreHead) {

<div class="row dashboard-page">

    <!-- TOC -->
    <div class="col-sm-3">
        <div class="list-group">
            <a href="#" class="list-group-item active">Current Trials<span class="badge">1</span></a>
            <a href="#" class="list-group-item">Past Trials<span class="badge">3</span></a>
        </div>
    </div>

    <!-- Content -->
    <div class="col-sm-9">
        <div class="product-trial-header small">
            <a href="/mockups/product_trials" target=“_self”><i class="fa fa-angle-left"></i>Back to Current Trials</a>
        </div>

        <div class="row product-trial-item">
            <div class="col-sm-12 product-trial-item-banner" style="background-image: url('@("http://d30xksqof6w2my.cloudfront.net/2dd1e278-7636-43c4-97ae-262da1d070f8_0_admin.jpg?w=600&h=100")')">
                <p>Crescendo<span>Trial Status</span></p>
            </div>
            <div class="col-sm-12 product-trial-item--detail">
                <p class="product-trial-item--status current"><i class="fa fa-check-circle"></i>JUN 12, 2015: Request received</p>
                <p class="product-trial-item--status-desc">Thanks for requesting a product trial. We'll start to process it very soon. Stay tuned :)</p>
                <p class="product-trial-item--status future"><i class="fa fa-check-circle"></i>In preparation</p>
                <p class="product-trial-item--status-desc">We're working hard to ready an awesome product trial experience for you. May take a while and thansk for your patience.</p>
                <p class="product-trial-item--status future"><i class="fa fa-check-circle"></i>Product shipped</p>
                <p class="product-trial-item--status-desc">Woo hoo, we just shipped the product to you. It will arrive in a few days.</p>
                <p class="product-trial-item--status future"><i class="fa fa-check-circle"></i>Product delivered</p>
                <p class="product-trial-item--status-desc">The product you requested is delivered. Enjoy!</p>
                <p class="product-trial-item--status future"><i class="fa fa-check-circle"></i>Product returned</p>
                <p class="product-trial-item--status-desc">Thanks for returning the product. We hope you had a great experience!</p>
            </div>
        </div>

    </div>
</div>
}
