@moreHead = {}

@main_influencer(Messages(""), moreHead) {

<!-- if twitter account provided and qualified as an influencer -->
<div class="product-trial-banner" style="background-image: url('https://s3.amazonaws.com/sproutup-mvp-cdn/assets/11112.jpg')">
    <div class="product-info-wrapper">
        <div class="col-lg-12 product-info">
            <div class="signup-wizard">
                <h1>Thanks for requesting Product Trial. A few more things to ask...</h1>
                <div class="signup-wizard-row">
                    <input type="text" class="form-control form-input large" placeholder="Your shipping address" required>
                    <input type="text" class="form-control form-input large" placeholder="Your phone number" required>
                    <textarea class="form-control form-input-textarea no-resize" placeholder="Briefly describe why you're interested in trying Soma Carafe" rows="1"></textarea>
                </div>

                <p>Once you sign up, the product will be shipped to the address you provided. You may be contacted by phone for shipping and trial related questions.</p>

                <div class="signup-wizard-actions">
                    <button class="btn btn-lg sproutup-btn-md-main save">Continue</button>
                    <button class="btn btn-lg sproutup-btn-md-main cancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- after signing up for request -->
<div class="product-trial-banner" style="background-image: url('https://s3.amazonaws.com/sproutup-mvp-cdn/assets/11112.jpg')">
    <div class="product-info-wrapper">
        <div class="col-lg-12 product-info">
            <div class="signup-wizard">
                <h1>Congrats, you're in line! What's next?</h1>
                <h3><i class="fa fa-chevron-circle-right"></i>Unbox and enjoy</h3>
                <p>We know you are excited and can’t wait playing with your new toy. But please handle with care, and do NOT throw away the box. We will collect the product back after your trial.</p>
                <h3><i class="fa fa-chevron-circle-right"></i>Make content and spread the word</h3>
                <p>Help the product creator: write a blog; make a YouTube videos; share on Twitter and Facebook. Get great perks for promoting the product and spreading the word.</p>
                <h3><i class="fa fa-chevron-circle-right"></i>Re-pack in the box and pat your back</h3>
                <p>When trial is over, just pack everything back in the box and send back (we provide shipping label).</p>
                <div class="signup-wizard-actions">
                    <button class="btn btn-lg sproutup-btn-md-main save">Cool, got it</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- if not qualified for product trial -->
<div class="product-trial-banner" style="background-image: url('https://s3.amazonaws.com/sproutup-mvp-cdn/assets/11112.jpg')">
    <div class="product-info-wrapper">
        <div class="col-lg-12 product-info">
            <div class="signup-wizard">
                <h1>Thanks for requesting Product Trial.</h1>
                <h2>At this point, Product Trial is only available to qualified social influencers. But hey, you come here because you are enthusiastic about cool products - we know that! So, there are other ways to participate and earn trials.</h2>
                <div class="signup-wizard-actions">
                    <button class="btn btn-lg sproutup-btn-md-main save">Check it out</button>
                </div>
            </div>
        </div>
    </div>
</div>

}
