@moreHead = {}

@main(Messages(""), moreHead) {
<div class="product-trial-banner" style="background-image: url('https://s3.amazonaws.com/sproutup-mvp-cdn/assets/11112.jpg')">
    <div class="product-info-wrapper">
        <div class="col-lg-12 product-info">
            <div class="signup-wizard">
                <h1>Thanks for requesting Product Trial. One more thing to ask...</h1>
                <h2>Please let us know your twitter account</h2>

                <div class="signup-wizard-row">
                    <input type="text" class="form-control form-input large" placeholder="@@username" required>
                </div>

                <p>At this point, we are offering Product Trials to a limited group of users. We use your twitter handle to determine your eligibility.</p>

                <div class="signup-wizard-actions">
                    <button class="btn btn-lg add-product-btn save">Continue</button>
                    <button class="btn btn-lg add-product-btn cancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="product-trial-banner" style="background-image: url('https://s3.amazonaws.com/sproutup-mvp-cdn/assets/11112.jpg')">
    <div class="product-info-wrapper">
        <div class="col-lg-12 product-info">
            <div class="signup-wizard">
                <h1>Thanks for requesting Product Trial. A couple of more things to ask...</h1>
                <h2>Please let us know your address and phone number</h2>

                <div class="signup-wizard-row">
                    <input type="text" class="form-control form-input large" placeholder="Your address" required>
                    <input type="text" class="form-control form-input large" placeholder="Your phone number" required>
                </div>

                <p>Once you sign up, the product will be shipped to the address you provided. You may be contacted by phone for shipping and trial related questions.</p>

                <div class="signup-wizard-actions">
                    <button class="btn btn-lg add-product-btn save">Continue</button>
                    <button class="btn btn-lg add-product-btn cancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="product-trial-banner" style="background-image: url('https://s3.amazonaws.com/sproutup-mvp-cdn/assets/11112.jpg')">
    <div class="product-info-wrapper">
        <div class="col-lg-12 product-info">
            <div class="signup-wizard">
                <h1>Congratulations, you're in line for Product Trial.</h1>
                <div class="signup-wizard-actions">
                    <button class="btn btn-lg add-product-btn save">Finish</button>
                </div>
            </div>
        </div>
    </div>
</div>

}
