@moreHead = {
}

@main(Messages("My Profile | SproutUp: Redefine Commerce for Emerging Products"), moreHead) {

<div class="profile-header">
    <div class="profile-info">
        <div class="col-lg-12">
            <div class="profile-user--avatar">
                <img class="profile-avatar--img-circle" src="@routes.Assets.at("images/user/mike.jpg")">
            </div>
            <div class="profile-user--details">
                <p class="profile-user--name">Mike Santore <span class="profile-user--alias">@@mikesantore</span></p>
                <p class="profile-user--description">Product geek, designer, extraordinary content writer. Love emerging products.</p>
                <ul class="list-inline profile-user--badge">
                    <li class="profile-user--badge-item">Creator</li>
                    <li class="profile-user--badge-item">Member</li>
                    <li class="profile-user--badge-item">Champion</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Menu in banner -->
    <div class="col-lg-12 profile-menu">
        <div class="profile-menu--content">
            <a class="profile-menu--item active" href="#">
                <span class="profile-menu--item-value">59</span>
                <span class="profile-menu--item-label">Photos</span>
            </a>
            <a class="profile-menu--item" href="#">
                <span class="profile-menu--item-value">16</span>
                <span class="profile-menu--item-label">Videos</span>
            </a>
            <a class="profile-menu--item" href="#">
                <span class="profile-menu--item-value">99</span>
                <span class="profile-menu--item-label">Products</span>
            </a>
            <a class="profile-menu--item" href="#">
                <span class="profile-menu--item-value">300</span>
                <span class="profile-menu--item-label">Followers</span>
            </a>
            <a class="profile-menu--item" href="#">
                <span class="profile-menu--item-value">60</span>
                <span class="profile-menu--item-label">Followings</span>
            </a>
        </div>

        <div class="profile-menu--action">
            <div class="profile-menu--message error">
                <i class="fa fa-lg fa-frown-o"></i>Oops, something is wrong!
            </div>
            <div class="profile-menu--message success">
                <i class="fa fa-lg fa-smile-o"></i>Your profile is saved!
            </div>
            <!-- Edit profile is for self -->
            <a class="btn btn-lg btn-outline" href="#">Edit Profile</a>
            <!--<a class="btn btn-lg btn-outline" href="#">Cancel</a>-->
            <a class="btn btn-lg btn-outline--save disabled" href="#">Save</a>
            <a class="btn btn-lg btn-outline--save" href="#"><i class="fa fa-circle-o-notch fa-spin"></i></a>
            <!-- Follow and Message is for others -->
            <!--<a class="btn btn-lg btn-following" href="#"><i class="fa fa-check"></i>Following</a>-->
        </div>
    </div>
</div>

<!-- My Photos -->
@user_profile_mock_photo()

<!-- My Products -->
@user_profile_mock_product()

<!-- My Followers/Followings -->
@user_profile_mock_follow()

<!-- Edit Profile -->
@user_profile_mock_edit()

<!-- My Videos -->

}
