@moreHead = {
}

@main(Messages("My Profile | SproutUp: Redefine Commerce for Emerging Products"), moreHead) {

<div class="user-settings-wrapper">
    <div class="row">
        <!-- TOC -->
        <div class="col-sm-4">
            <div class="list-group">
                <a href="#" class="list-group-item active">Account Basics</a>
                <a href="#" class="list-group-item">Profile</a>
                <a href="#" class="list-group-item">Email Notification</a>
                <a href="#" class="list-group-item">Mobile</a>
                <a href="#" class="list-group-item">Social Networks</a>
            </div>
            <button class="btn btn-lg save-settings-btn" type="submit">Save Changes</button>
        </div>

        <!-- Settings -->
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Account Basics</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Profile</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Email Notification</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Mobile</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Social Networks</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
    </div>
</div>
}
