<div class="row follow-list-page">
    <div class="col-lg-2 col-md-3 col-sm-4 follow-user-wrapper">
        <div class="follow-user">
            <div class="follow-user--avatar">
                <img class="img-responsive follow-user-img-circle img-center" src="@routes.Assets.at("images/user/kevin.jpg")">
            </div>
            <div class="follow-user-info">
                <div class="follow-user--name">Kevin Cevalsco</div>
                <div class="follow-user--description">Product geek, designer, extraordinary content writer. Love emerging products.</div>
            </div>
            <div class="follow-user--action">
                <a class="btn btn-lg action-btn-following">Following</a>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-4 follow-user-wrapper">
        <div class="follow-user">
            <div class="follow-user--avatar">
                <img class="img-responsive follow-user-img-circle img-center" src="@routes.Assets.at("images/user/kevin.jpg")">
            </div>
            <div class="follow-user-info">
                <div class="follow-user--name">Kevin Cevalsco</div>
                <div class="follow-user--description">Product geek, designer, extraordinary content writer. Love emerging products.</div>
            </div>
            <div class="follow-user--action">
                <a class="btn btn-lg action-btn-following">Following</a>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-4 follow-user-wrapper">
        <div class="follow-user">
            <div class="follow-user--avatar">
                <img class="img-responsive follow-user-img-circle img-center" src="@routes.Assets.at("images/user/kevin.jpg")">
            </div>
            <div class="follow-user-info">
                <div class="follow-user--name">Kevin Cevalsco</div>
                <div class="follow-user--description">Product geek, designer, extraordinary content writer. Love emerging products.</div>
            </div>
            <div class="follow-user--action">
                <a class="btn btn-lg action-btn-following">Following</a>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-4 follow-user-wrapper">
        <div class="follow-user">
            <div class="follow-user--avatar">
                <img class="img-responsive follow-user-img-circle img-center" src="@routes.Assets.at("images/user/kevin.jpg")">
            </div>
            <div class="follow-user-info">
                <div class="follow-user--name">Kevin Cevalsco</div>
                <div class="follow-user--description">Product geek, designer, extraordinary content writer. Love emerging products.</div>
            </div>
            <div class="follow-user--action">
                <a class="btn btn-lg action-btn-following">Following</a>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-4 follow-user-wrapper">
        <div class="follow-user">
            <div class="follow-user--avatar">
                <img class="img-responsive follow-user-img-circle img-center" src="@routes.Assets.at("images/user/kevin.jpg")">
            </div>
            <div class="follow-user-info">
                <div class="follow-user--name">Kevin Cevalsco</div>
                <div class="follow-user--description">Product geek, designer, extraordinary content writer. Love emerging products.</div>
            </div>
            <div class="follow-user--action">
                <a class="btn btn-lg action-btn-following">Following</a>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-4 follow-user-wrapper">
        <div class="follow-user">
            <div class="follow-user--avatar">
                <img class="img-responsive follow-user-img-circle img-center" src="@routes.Assets.at("images/user/josh.jpg")">
            </div>
            <div class="follow-user-info">
                <div class="follow-user--name">Josh Abdul</div>
                <div class="follow-user--description">Product geek, designer, extraordinary content writer.</div>
            </div>
            <div class="follow-user--action">
                <a class="btn btn-lg action-btn-follow"><i class="fa fa-user-plus"></i>Follow</a>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-4 follow-user-wrapper">
        <div class="follow-user">
            <div class="follow-user--avatar">
                <img class="img-responsive follow-user-img-circle img-center" src="@routes.Assets.at("images/user/josh.jpg")">
            </div>
            <div class="follow-user-info">
                <div class="follow-user--name">Josh Abdul</div>
                <div class="follow-user--description">Product geek, designer, extraordinary content writer.</div>
            </div>
            <div class="follow-user--action">
                <a class="btn btn-lg action-btn-follow"><i class="fa fa-user-plus"></i>Follow</a>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-4 follow-user-wrapper">
        <div class="follow-user">
            <div class="follow-user--avatar">
                <img class="img-responsive follow-user-img-circle img-center" src="@routes.Assets.at("images/user/josh.jpg")">
            </div>
            <div class="follow-user-info">
                <div class="follow-user--name">Josh Abdul</div>
                <div class="follow-user--description">Product geek, designer, extraordinary content writer.</div>
            </div>
            <div class="follow-user--action">
                <a class="btn btn-lg action-btn-follow"><i class="fa fa-user-plus"></i>Follow</a>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 follow-user-wrapper">
        <div class="follow-user">
            <div class="follow-user--avatar">
                <img class="img-responsive follow-user-img-circle img-center" src="@routes.Assets.at("images/user/ning.jpg")">
            </div>
            <div class="follow-user-info">
                <div class="follow-user--name">Ning Yu</div>
                <div class="follow-user--description">Product geek, designer, extraordinary content writer. Love emerging products.</div>
            </div>
            <div class="follow-user--action">
                <a class="btn btn-lg action-btn-unfollow"><i class="fa fa-user-times"></i>Unfollow</a>
            </div>
        </div>
    </div>

</div>
