@moreHead = {
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/profile.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/profile-edit.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/profile-photo.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/profile-product.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/profile-follow.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/profile-video.css")">
}

@main(Messages("My Profile | SproutUp: Redefine Commerce for Emerging Products"), moreHead) {

<div class="profile-header">
    <div class="profile-info">
        <div class="col-lg-12">
            <div class="profile-user--avatar">
                <img class="profile-avatar--img-circle" src="@routes.Assets.at("images/user/mike.jpg")">
            </div>
            <div class="profile-user--details">
                <p class="profile-user--name">Mike Santore <span class="profile-user--alias">@@mikesantore</span></p>
                <p class="profile-user--description">Product geek, designer, extraordinary content writer. Love emerging products.</p>
                <ul class="list-inline profile-user--badge">
                    <li class="profile-user--badge-item">Creator</a></li>
                    <li class="profile-user--badge-item">Member</a></li>
                    <li class="profile-user--badge-item">Champion</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Menu in banner -->
    <div class="col-lg-12 profile-menu">
        <div class="profile-menu--content">
            <a class="profile-menu--item active" href="#">
                <span class="profile-menu--item-value">59</span>
                <span class="profile-menu--item-label">Photos</span>
            </a>
            <a class="profile-menu--item" href="#">
                <span class="profile-menu--item-value">16</span>
                <span class="profile-menu--item-label">Videos</span>
            </a>
            <a class="profile-menu--item" href="#">
                <span class="profile-menu--item-value">99</span>
                <span class="profile-menu--item-label">Products</span>
            </a>
            <a class="profile-menu--item" href="#">
                <span class="profile-menu--item-value">300</span>
                <span class="profile-menu--item-label">Followers</span>
            </a>
            <a class="profile-menu--item" href="#">
                <span class="profile-menu--item-value">60</span>
                <span class="profile-menu--item-label">Followings</span>
            </a>
        </div>
        <div class="profile-menu--action">
            <!-- Edit profile is for self -->
            <a class="btn btn-lg btn-outline" href="#">Profile and Account</a>
            <!-- Follow and Message is for others -->
            <a class="btn btn-lg btn-outline" href="#">Follow</a>
            <a class="btn btn-lg btn-outline" href="#">Message</a>
        </div>
    </div>
</div>

<!-- My Photos -->
@user_profile_mock_photo()

<!-- My Products -->
@user_profile_mock_product()

<!-- My Followers/Followings -->
@user_profile_mock_follow()

<!-- Edit Profile -->
@user_profile_mock_edit()

<!-- My Videos -->

}
