<div class="col-sm-12 edit-profile-page">

    <div class="col-sm-6 profile-left-rail">
        <!-- Basic Information -->
        <div class="profile-edit--header">Basic Information</div>
        <!-- full name -->
        <div class="row profile-input-row">
            <div class="col-sm-6 profile-input-cell-left">
                <input type="text" class="form-control profile-edit-input" placeholder="First Name" value="Mike">
            </div>
            <div class="col-sm-6 profile-input-cell-right">
                <input type="text" class="form-control profile-edit-input" placeholder="Last Name" value="Santore">
            </div>
        </div>
        <!-- email and username -->
        <div class="row profile-input-row">
            <div class="col-sm-6 profile-input-cell-left">
                <input type="email" class="form-control profile-edit-input" placeholder="Email" value="mike.santore@@gmail.com">
            </div>
            <div class="col-sm-6 profile-input-cell-right">
                <input type="text" class="form-control profile-edit-input" placeholder="Pick a username">
            </div>
        </div>
        <!-- short description -->
        <div class="row profile-input-row">
            <div class="col-sm-12 profile-input-cell">
                <textarea class="form-control profile-edit-input-textarea" placeholder="Short description aboutu yourself" rows="2">Product geek, designer, extraordinary content writer. Love emerging products.</textarea>
            </div>
        </div>

        <!-- Change Password -->
        <div class="profile-edit--header">Change Password</div>
        <div class="row profile-input-row">
            <div class="col-sm-6 profile-input-cell-left">
                <input type="password" class="form-control profile-edit-input" placeholder="New password">
            </div>
            <div class="col-sm-6 profile-input-cell-right">
                <input type="password" class="form-control profile-edit-input" placeholder="Confirm new password">
            </div>
        </div>

        <!-- Shipping Address -->
        <div class="profile-edit--header">Shipping Address</div>
        <!-- street address -->
        <div class="row profile-input-row">
            <div class="col-sm-8 profile-input-cell-left">
                <input type="text" class="form-control profile-edit-input" placeholder="Street Address">
            </div>
            <div class="col-sm-4 profile-input-cell-right">
                <input type="text" class="form-control profile-edit-input" placeholder="Apt/Suite">
            </div>
        </div>
        <!-- zip code, city, state: auto fill city and state according to zip -->
        <div class="row profile-input-row">
            <div class="col-sm-4 profile-input-cell-left">
                <input type="text" class="form-control profile-edit-input" placeholder="ZIP">
            </div>
        </div>

        <!-- payment -->
        <div class="profile-edit--header">Credit Cards</div>
        <div class="profile-edit--description">
            Your payment information will appear after you first check-out. Hope to see you soon!
        </div>

    </div>

    <div class="col-sm-6 profile-right-rail">
        <div class="profile-edit--header">Social Networks</div>
        <div class="row profile-input-row">
            <div class="col-sm-12 profile-input-cell">
                <input type="text" class="form-control profile-edit-input left-feedback" placeholder="Your Facebook: facebook.com/example">
                <span class="fa fa-lg fa-facebook-square"></span>
            </div>
        </div>
        <div class="row profile-input-row">
            <div class="col-sm-12 profile-input-cell">
                <input type="text" class="form-control profile-edit-input left-feedback" placeholder="Your Twitter: twitte.com/@@username">
                <span class="fa fa-lg fa-twitter-square"></span>
            </div>
        </div>
        <div class="row profile-input-row">
            <div class="col-sm-12 profile-input-cell">
                <input type="text" class="form-control profile-edit-input left-feedback" placeholder="Your Pinterest, pinterest.com/example">
                <span class="fa fa-lg fa-pinterest-square"></span>
            </div>
        </div>
        <div class="row profile-input-row">
            <div class="col-sm-12 profile-input-cell">
                <input type="text" class="form-control profile-edit-input left-feedback" placeholder="Your blog">
                <span class="fa fa-lg fa-rss-square"></span>
            </div>
        </div>
    </div>

</div>

