<div class="wrapper-user-profile">
    <div class="profile-media-page">
    <div class="col-lg-3 col-md-3 col-sm-4 media-photo">
        <div class="media-photo-background"
             style="background-image: url('http://d209heoa233yab.cloudfront.net/1_Belleds/79b43e9f-7a1c-431d-ba96-2f5ae8487bdb_@@solidpumba.jpg');">
            <div class="media-photo-overlay"></div>
            <div class="media-photo-actions">
                <a class="media-photo-actions--item" href="#"><i class="fa fa-rocket"></i>Up (89)</a>
                <a class="media-photo-actions--item" href="#"><i class="fa fa-share"></i>Share</a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-4 media-photo">
        <div class="media-photo-background"
             style="background-image: url('http://d209heoa233yab.cloudfront.net/1_Belleds/79b43e9f-7a1c-431d-ba96-2f5ae8487bdb_@@solidpumba.jpg');">
            <div class="media-photo-overlay"></div>
            <div class="media-photo-actions">
                <a class="media-photo-actions--item" href="#"><i class="fa fa-rocket"></i>Up (89)</a>
                <a class="media-photo-actions--item" href="#"><i class="fa fa-share"></i>Share</a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-4 media-photo">
        <div class="media-photo-background"
             style="background-image: url('http://d209heoa233yab.cloudfront.net/1_Belleds/79b43e9f-7a1c-431d-ba96-2f5ae8487bdb_@@solidpumba.jpg');">
            <div class="media-photo-overlay-active"></div>
            <div class="media-photo-edit-button">
                <a class="btn btn-lg remove-btn-solid" href="#"><i class="fa fa-lg fa-times"></i></a>
            </div>
            <div class="media-photo-info">
                <div class="media-story">Just got the Belleds Q bulb set. Installation is very easy. Love the coloring effect. Kids like dancing with the changing hue.</div>
            </div>
            <div class="media-photo-actions">
                <a class="media-photo-actions--item" href="#"><i class="fa fa-rocket"></i>Up (89)</a>
                <a class="media-photo-actions--item" href="#"><i class="fa fa-share"></i>Share</a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-4 media-photo">
        <div class="media-photo-background"
             style="background-image: url('http://d209heoa233yab.cloudfront.net/1_Belleds/79b43e9f-7a1c-431d-ba96-2f5ae8487bdb_@@solidpumba.jpg');">
            <div class="media-photo-overlay"></div>
            <div class="media-photo-actions">
                <a class="media-photo-actions--item" href="#"><i class="fa fa-rocket"></i>Up (89)</a>
                <a class="media-photo-actions--item" href="#"><i class="fa fa-share"></i>Share</a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-4 media-photo">
        <div class="media-photo-background"
             style="background-image: url('http://d209heoa233yab.cloudfront.net/1_Belleds/79b43e9f-7a1c-431d-ba96-2f5ae8487bdb_@@solidpumba.jpg');">
            <div class="media-photo-overlay"></div>
            <div class="media-photo-actions">
                <a class="media-photo-actions--item" href="#"><i class="fa fa-rocket"></i>Up (89)</a>
                <a class="media-photo-actions--item" href="#"><i class="fa fa-share"></i>Share</a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-4 media-photo">
        <div class="media-photo-background"
             style="background-image: url('http://d209heoa233yab.cloudfront.net/1_Belleds/79b43e9f-7a1c-431d-ba96-2f5ae8487bdb_@@solidpumba.jpg');">
            <div class="media-photo-overlay"></div>
            <div class="media-photo-actions">
                <a class="media-photo-actions--item" href="#"><i class="fa fa-rocket"></i>Up (89)</a>
                <a class="media-photo-actions--item" href="#"><i class="fa fa-share"></i>Share</a>
            </div>
        </div>
    </div>

</div>
</div>