@moreHead = {}

@main(Messages(""), moreHead) {

    <!-- If users sign up with email or facebook -->
    <div class="signup-wizard">
        <h1>Thanks for signing up! We have one more thing to ask...</h1>
        <h2>Please let us know your <span>twitter</span> account</h2>
        <div class="signup-wizard-row">
            <input type="text" class="form-control form-input large" placeholder="@@username" required>
        </div>
        <div class="signup-wizard-actions">
            <button class="btn btn-lg add-product-btn save">Continue</button>
            <button class="btn btn-lg add-product-btn cancel">Skip</button>
        </div>
        <p>At this point, we are offering <span>Product Trials</span> to a limited group of users. We use your twitter handle to determine your eligibility.</p>
    </div>

    <hr>

    <!-- If users sign up with twitter -->
    <div class="signup-wizard">
        <h1>Thanks for signing up with Twitter! One more thing to ask...</h1>
        <h2>Please let us know your email for communicating with you about latest products, services and other updates.</h2>
        <div class="signup-wizard-row">
            <input type="email" class="form-control form-input large" placeholder="Your email" required>
        </div>
        <div class="signup-wizard-actions">
            <button class="btn btn-lg add-product-btn save">Continue</button>
        </div>
    </div>

}
