<!-- after signing up for request -->
<div class="product-trial-banner" up-background-image="{{vm.product.banner.url.image}}" up-background-attr="?w=1600" up-fallback-image="/assets/images/default-product-banner.jpg">
    <div class="product-info-wrapper">
        <div class="col-lg-12 product-info">
            <!-- Show success if less than 3 requests, failure if more than 3 based on vm.trialSuccess -->
            <div ng-show="vm.trialSuccess" class="signup-wizard">
                <h1>Thanks, we got your request! What's next?</h1>
                <h3><i class="fa fa-chevron-circle-right"></i>We'll notify you via email if you qualify for trial</h3>
                <p>Meanwhile, if you have any questions, please feel free to <a href="mailto:tao@sproutup.co" target="_top">contact us</a>, or visit <a ui-sref="user.faq">FAQs</a>.</p>
                <h3><i class="fa fa-chevron-circle-right"></i>Unbox, enjoy</h3>
                <p>We know you can’t wait playing with the new toy. But please handle with care, and do NOT throw away the box. We will collect the product back after your trial.</p>
                <h3><i class="fa fa-chevron-circle-right"></i>Make content, spread the word</h3>
                <p>Help the product creator: write a blog; make a YouTube video; tweet. Get great perks for spreading the word.</p>
                <h3><i class="fa fa-chevron-circle-right"></i>Re-pack in the box, pat your back</h3>
                <p>When the trial is over, just pack everything back in the box and send back (we provide shipping label).</p>
                <div class="signup-wizard-actions">
                    <button class="btn btn-lg sproutup-btn-md-main" ng-click="vm.finish()">Cool, got it</button>
                    <!--button class="btn btn-lg sproutup-btn-md-main">Share on Twitter</button-->
                </div>
            </div>
            <div ng-show="!vm.trialSuccess" class="signup-wizard">
                <h1>Sorry, you already have 3 active trial requests, and that's the limit for now</h1>
                <h3>Why are we limiting to 3 active trial requests at a given time?</h3>
                <p>1. We really appreciate your passion but we’d like you to pick three products you are really excited about so you can genuinely create and share your experience. At the same time, we don't want you to feel overburdened trying multiple products.</p>
                <p>2. We're are extremely excited about receiving a number of requests from our community of enthusiastic influencers. We want to deliver our best service and by limiting 3 requests it is easier for us to operate and coordinate requests.</p>
                <p>3. If you want to change your request, you can cancel the existing ones any time from <a ui-sref="user.mytrials.current">MY TRIALS</a>.</p>
                <p>If you have any questions, please visit <a ui-sref="user.howitworks">How it Works</a> and <a ui-sref="user.faq">FAQs</a>, or send us an <a href="mailto:tao@sproutup.co" target="_top">email</a>.</p>
                <div class="signup-wizard-actions">
                    <button class="btn btn-lg sproutup-btn-md-main" ng-click="vm.finish()">Cool, got it</button>
                    <!--button class="btn btn-lg sproutup-btn-md-main">Share on Twitter</button-->
                </div>
            </div>
        </div>
    </div>
</div>
