<!-- trial campaign -->
<div ng-init="vm.findOne()">
  <div ng-if="vm.campaign">
    <div class="campaign-banner" style="background-image: url('https://d30xksqof6w2my.cloudfront.net/e43e8342-c41b-4d66-aa3a-133eccfe93de_0_admin.jpg?w=1600')">
      <div class="row campaign-info-wrapper" ng-if="vm.init">
        <div class="col-lg-12">
          <h1>{{ vm.campaign.name }}<span>by <a href="">{{ vm.campaign.company.name }}</a></span></h1>
          <h2>{{ vm.campaign.tagline }}</h2>
          <button class="btn btn-lg sproutup-btn-md-main" ui-sref="user.navbar.trial.info" ng-if="!vm.myContribution">Request Product Trial</button>
          <div class="share-campaign">
            <p>SHARE ON</p>
            <div class="inline-blocks">
              <button class="btn btn-small sproutup-btn-xs outline"><i class="fa fa-twitter"></i>Twitter</button>
              <button class="btn btn-small sproutup-btn-xs outline"><i class="fa fa-facebook"></i>Facebook</button>
              <button class="btn btn-small sproutup-btn-xs outline"><i class="fa fa-pinterest"></i>Pinterset</button>
              <button class="btn btn-small sproutup-btn-xs outline"><i class="fa fa-envelope"></i>Email</button>
            </div>
          </div>
        </div>
      </div>
      <div class="banner-menu">
        <div class="banner-menu--content">
          <div class="banner-menu--col" ng-class="{ 'active': $state.current.name === 'user.navbar.trial.view.details' }">
            <a ui-sref="user.navbar.trial.view.details">{{ vm.campaign.name }}</a>
          </div>
          <div class="banner-menu--col" ng-class="{ 'active': $state.current.name === 'user.navbar.trial.view.buzz' }">
            <a ui-sref="user.navbar.trial.view.buzz">Buzz</a>
          </div>
        </div>
      </div>
    </div>
    <div ui-view></div>
  </div>
</div>
