<div class="col-sm-4 col-md-3 col-lg-3 product-trial-stage-user" ng-if="vm.trial.user.avatarUrl" ng-class="{ 'my-trials': vm.state === 'user.mytrials.current' , 'col-sm-3 col-md-2 col-lg-2': vm.trial.status !== 3 }">
    <div class="product-trial-stage-user-inner-wrapper" ng-mouseover="vm.hovering = true" ng-mouseleave="vm.hovering = false">
        <a ui-sref="user.profile.buzz({ nickname: vm.trial.user.nickname })" ng-if="vm.state !== 'user.mytrials.current'">
            <img class="product-trial-stage-avatar" ng-src="{{ vm.trial.user.avatarUrl }}" ng-class="{ 'small': vm.trial.status !== 3 }"/>
        </a>
<!--         <up-user-card context="{{vm.context}}" user="vm.trial.user" product="vm.product" ng-if="vm.hovering && vm.state !== 'user.mytrials.current'"></up-user-card> -->
        <up-user-card context="{{ vm.context }}" user="vm.trial.user" product="vm.product" ng-if="vm.hovering && (vm.context !== 'trial')"></up-user-card>
        <div class="active-trial-status" ng-if="vm.trial.status === 3 && vm.trial.recievedEvent" ng-class="{ 'my-trials': vm.state === 'user.mytrials.current' }">
            <progressbar class="days-left-bar" ng-class="{ 'trial-overdue': vm.trial.overdue }" value="vm.trial.percentageLeft"></progressbar>
            <span ng-if="!vm.trial.overdue && vm.trial.daysLeft !== 1">{{ vm.trial.daysLeft }} days left</span>
            <span ng-if="!vm.trial.overdue && vm.trial.daysLeft === 1">1 day left</span>
            <span ng-if="vm.trial.overdue && vm.trial.daysLeft !== 1" ng-class="{ 'trial-overdue': vm.trial.overdue }">{{ vm.trial.daysLeft }} days overdue</span>
            <span ng-if="vm.trial.overdue && vm.trial.daysLeft === 1" ng-class="{ 'trial-overdue': vm.trial.overdue }">1 day overdue</span>
        </div>
    </div>
</div>