<div class="col-sm-2 my-content-user-avatar">
    <img class="img-responsive my-content-user-img img-center" src="assets/images/default-avatar.png">
</div>
<div class="col-sm-10 my-content-body">
    <div class="my-content-item--summary">
        <p class="my-content-user">
            <a ui-sref="user.profile.buzz({ nickname: vm.product.user.nickname })" class="content-user-link">{{ vm.product.user.name }}</a>
        </p>
        <p class="my-content-timestamp"><a>{{ vm.product.createdAt | date }}</a></p>
        <div class="my-content-item-main suggest">
            <div class="my-content-text" ng-bind-html="vm.content.body | urlify"></div>
            <a ng-href="{{ vm.product.product.url }}" target="blank">
            	<div class="row">
            		<div class="col-sm-5">
                		<img class="my-content-image img-responsive" ng-src="{{ vm.product.image }}">
                	</div>
                	<div class="col-sm-7">
                    	<p class="my-content-og-headline suggest">{{ vm.product.name }}</p>
	                    <p class="my-content-og-text">{{ vm.product.description }}</p>
	                </div>
	            </div>
            </a>
        </div>
        <div class="my-content-actions">
            <up-like likes="vm.product.likes" up-id="vm.product.id" up-type="models.productsuggestion"></up-like>
            <a href="#" ng-click="vm.commenting = !vm.commenting">COMMENT ({{ vm.product.comments.data.length || 0 }})</a>
            <a ng-href="{{ vm.shareLink }}" ng-click="">SHARE</a>
        </div>
    </div>
    <up-comments commenting="vm.content.commenting" comments="vm.product.comments" up-id="vm.product.id" up-type="models.productsuggestion" ng-if="vm.commenting"></up-comments>
</div>