<div class="col-md-4 col-sm-6 col-xs-12 product-list-item">
    <a analytics-on="click" analytics-event="View Product" analytics-properties="{product_slug: vm.product.slug}" ui-sref="user.product.detail.buzz({ slug: vm.product.slug })">
        <div class="product-cover-photo" up-background-image="{{vm.product.banner.url.image}}" up-background-attr="?w=600" up-fallback-image="/assets/images/default-product-banner.jpg">
            <div class="product-cover-info">
                <div class="product-category-list">
                    <button ng-repeat="tag in vm.product.tags" class="btn btn-product-category" type="button">{{tag.name}}</button>
                </div>
                <div class="product-cover-title">{{vm.product.name}}</div>
                <div class="product-cover-description">{{vm.product.tagline}}</div>
                <div class="trial-user-list">
                    <div ng-show="vm.getActiveRequests().length!=0" class="trial-user-list-title">{{vm.getActiveRequests().length}} TRIALS REQUESTED</div>
                    <img popover="{{trial.user.name}}" popover-trigger="mouseenter" ng-repeat="trial in vm.getActiveRequests() | orderBy: '-createdAt' | limitTo:8" class="trial-user-img" src="{{trial.user.avatarUrl}}">
                </div>
            </div>
        </div>
    </a>
</div>
