<!-- Content -->
<div class="col-sm-9">

    <div class="product-trial-header" ng-show="!vm.current.length > 0">
        <p>You don't have any active product trial requests. Browse our <a ui-sref="user.search">awesome collection of products</a> and make a request.</p>
    </div>

    <div class="row product-trial-item" ng-repeat="item in vm.current | orderBy:'-updatedAt'">
        <a ui-sref="user.product.detail.buzz({ slug: item.product.slug })">
            <div class="col-sm-12 product-trial-item-banner" up-background-image="{{item.product.banner.url.image}}" up-background-attr="?w=600&h=100" up-fallback-image="/assets/images/default-product-banner.jpg">
                <p>{{item.product.name}}</p>
            </div>
        </a>
        <div class="col-sm-12 product-trial-item--detail">
            <div ng-switch="item.status">
                <p ng-switch-when="0" class="product-trial-item--status current"><i class="fa fa-check-circle"></i>Requested on {{item.createdAt | date:'MMM dd, yyyy'}}</p>
                <p ng-switch-when="0" class="product-trial-item--status-desc">Thanks for requesting a product trial. We'll process it very soon. Stay tuned :)</p>

                <p ng-switch-when="1" class="product-trial-item--status current"><i class="fa fa-check-circle"></i>Approved on {{item.updatedAt | date:'MMM dd, yyyy'}}</p>
                <p ng-switch-when="1" class="product-trial-item--status-desc">Congrats, you’re eligible for a product trial.  We are working hard to prepare your awesome trial experience, watch your e-mail for more details when it is ready to ship.</p>

                <p ng-switch-when="2" class="product-trial-item--status current"><i class="fa fa-check-circle"></i>Sent on {{item.updatedAt | date:'MMM dd, yyyy'}}</p>
                <p ng-switch-when="2" class="product-trial-item--status-desc">Woo hoo, we just shipped the product to you. It will arrive in a few days.</p>

                <p ng-switch-when="3" class="product-trial-item--status current"><i class="fa fa-check-circle"></i>Delivered on {{item.updatedAt | date:'MMM dd, yyyy'}}</p>
                <p ng-switch-when="3" class="product-trial-item--status-desc">The product you requested is delivered. Enjoy!</p>
            </div>

            <up-trial-card trial='item' ng-if="item.status === 3"></up-trial-card>

            <p ng-if="item.status==3" class="product-trial-item--status"><i class="fa fa-truck"></i>Please return your product by</p>
            <p ng-if="item.status==3" class="product-trial-item--status-desc"><span>{{item.trialEndsAt | date:'MMM dd, yyyy'}}</span></p>


            <p ng-show="item.refURL != null" class="product-trial-item--status"><i class="fa fa-link"></i>Your unique referral link: </p>
            <p class="product-trial-item--status-desc"><span>{{item.refURL}}</span></p>
            <p class="product-trial-item--status-desc">Please embed this unique referral link in any of your content. Share this link on social media. We use this link to measure conversions and reward you accordingly.</p>

            <button class="btn btn-md sproutup-btn-md-main cancel" ng-confirm-click="Are you should you want to cancel this trial?" confirmed-click="vm.cancelTrial(item.id)" ng-if="item.status < 3">Cancel Trial</button>
        </div>
    </div>
</div>
