<!-- Content -->
<div class="col-sm-9">

    <div class="row product-trial-item" ng-repeat="item in vm.current">
        <div class="col-sm-12 product-trial-item-banner" up-background-image="{{vm.item.banner.url.image}}" up-background-attr="?w=600&h=100" up-fallback-image="/assets/images/default-product-banner.jpg">
            <p>{{item.product.name}}</p>
        </div>
        <div class="col-sm-12 product-trial-item--detail">
            <p class="product-trial-item--status current"><i class="fa fa-check-circle"></i>Requested {{item.createdAt | fromNow}}</p>
            <p ng-show="item.content.length===0" class="product-trial-item--status"><i class="fa fa-check-circle"></i>You haven't uploaded any content yet. Come back when you're ready!</p>
            <p ng-show="item.content.length==1" class="product-trial-item--status current"><i class="fa fa-check-circle"></i>You have added 1 item. Awesome job!!</p>
            <p ng-show="item.content.length>1" class="product-trial-item--status current"><i class="fa fa-check-circle"></i>You have added {{item.content.length}} items. Awesome job!!</p>
            <div class="product-trial-item--result" ng-repeat="content in item.content">
                <a ng-click="vm.deleteContent(content.id, item)" href="#"><i class="fa fa-times-circle"></i></a>
                <a ng-href="{{content.url}}" target="_blank">{{content.url}}</a>
            </div>

            <div class="product-trial-item--actions">
                <a ng-click="item.isContentFormOpen = !item.isContentFormOpen" href="#" class="btn btn-lg sproutup-btn-md-main">Add my content</a>
                <a ui-sref="user.product.detail.bar({ slug: item.product.slug })" class="btn btn-lg sproutup-btn-md-main">Join discussion</a>
                <!--a href="#" class="btn btn-lg sproutup-btn-md-main">Tweet</a-->
            </div>
            <div ng-show="item.isContentFormOpen" class="product-trial-item--input">
                <p>Once you write a blog or make a video, please share the link with us. We will help promote the content and build more brand awareness for this product. You will also earn influence, followers, and perks.</p>
                <form ng-submit="vm.addContent(item)">
                    <input type="url" required="" ng-model="item.form.url" http-prefix="" class="form-control form-validate form-input medium" placeholder="Please enter the url of content you created, e.g. blog, video, etc.">
                    <button type="submit" class="btn btn-lg sproutup-btn-md-main" type="submit">Add</button>
                    <button ng-click="item.isContentFormOpen=false" class="btn btn-lg sproutup-btn-md-cancel" type="submit">Cancel</button>
                </form>
            </div>
        </div>
    </div>

    <!--div class="row product-trial-item">
        <div class="col-sm-12 product-trial-item-banner" style="background-image: url('http://d30xksqof6w2my.cloudfront.net/2dd1e278-7636-43c4-97ae-262da1d070f8_0_admin.jpg?w=600&h=100')">
            <p>Belleds</p>
        </div>
        <div class="col-sm-12 product-trial-item--detail">
            <p class="product-trial-item--status current"><i class="fa fa-check-circle"></i>Requested on June 12, 2015</p>
            <p class="product-trial-item--status current"><i class="fa fa-check-circle"></i>You have uploaded 2 content. Awesome job!!</p>
            <div class="product-trial-item--result">
                <a href="#"><i class="fa fa-times-circle"></i></a>
                <a href="#" target="_blank">http://www.youtube.com</a>
            </div>
            <div class="product-trial-item--result">
                <a href="#"><i class="fa fa-times-circle"></i></a>
                <a href="#" target="_blank">http://www.vimeo.com</a>
            </div>
            <div class="product-trial-item--actions">
                <a href="#" class="btn btn-lg sproutup-btn-md-main">Add my content</a>
                <a href="#" class="btn btn-lg sproutup-btn-md-main">Join discussion</a>
                <a href="#" class="btn btn-lg sproutup-btn-md-main">Tweet</a>
            </div>
        </div>
    </div-->
</div>
