<!-- campaigns -->
<div class="col-sm-9 browse-campaign-main" ng-init="vm.find()">
  <div class="row browse-campaign-section trial">
    <h4><span>Try products</span>&#x1F680;<a href="#" class="btn btn-sm browse-all-button">More to try</a></h4>
    <div class="col-md-4 col-sm-6 campaign-list-item" ng-repeat="item in vm.campaigns | filter: {type:'trial', status: 1}: vm.returnMatch">
      <a ui-sref="user.navbar.trial.view.details({ campaignId: item.id })">
        <div class="campaign-list-item-banner" style="background-image: url('https://d30xksqof6w2my.cloudfront.net/ccd20a3d-1a0d-4545-870a-94e1c645ff96_0_admin.jpg?w=1600');">
          <p class="campaign-name">{{ item.name }}</p>
        </div>
      </a>
    </div>
  </div>
  <hr>
  <div class="row browse-campaign-section contest">
    <h4><span>Join exciting contests</span>&#x1F3C6;<a href="#" class="btn btn-sm browse-all-button">More contests to join</a></h4>
    <div class="col-md-4 col-sm-6 campaign-list-item" ng-repeat="item in vm.campaigns | filter: {type:'contest', status: 1}: vm.returnMatch">
      <a ui-sref="user.navbar.contest.view.details({ campaignId: item.id })">
        <div class="campaign-list-item-banner" style="background-image: url('https://d30xksqof6w2my.cloudfront.net/ccd20a3d-1a0d-4545-870a-94e1c645ff96_0_admin.jpg?w=1600');">
          <p class="campaign-name">{{ item.name }}</p>
        </div>
      </a>
    </div>
  </div>
</div>
