<div class="col-sm-9 browse-campaign-main" ng-init="vm.findMyCampaigns()">
  <div ng-repeat="item in vm.myCampaigns" class="row product-trial-item">
    <div ng-if="item.campaign.type === 'trial'">
      <div class="product-trial-item--header">
        <a ui-sref="user.navbar.trial.view({campaignId: item.campaignId})">{{ item.campaign.name }}</a><sup ng-class="item.campaign.type" class="label label-activity-type">Trial</sup>
      </div>
      <div class="col-sm-12 product-trial-item--detail">
        <div ng-if="item.state === 0">
          <p class="product-trial-item--status current"><i class="fa fa-check-circle"></i>Requested on {{ item.created | date:'MMM dd, yyyy' }}</p>
        </div>
        <div ng-if="item.state === 1">
          <p class="product-trial-item--status current"><i class="fa fa-check-circle"></i>Approved on {{ item.approved[0].created | date:'MMM dd, yyyy' }}</p>
          <p class="product-trial-item--status current" ng-if="item.trial.shippingState === 1"><i class="fa fa-check-circle"></i>Product Shipped</p>
        </div>
        <div ng-if="item.state === 10">
          <p class="product-trial-item--status current"><i class="fa fa-check-circle"></i>Completed on {{ item.completed[0].created | date:'MMM dd, yyyy' }}</p>
        </div>
        <p class="product-trial-item--status"><i class="fa fa-link"></i>Your unique referral link:</p>
        <p class="product-trial-item--status-desc"><span>http://goo.gl/zvLnyI</span>Please embed this unique referral link in any of your content. Share this link on social media. We use this link to measure conversions and reward you accordingly.</p>
        <div class="product-trial-item--actions">
          <button ng-click="vm.cancelRequest(item.campaignId)" class="btn btn-md sproutup-btn-sm cancel">Cancel request</button>
          <a ui-sref="user.navbar.trial.view({campaignId: item.campaignId})" class="btn btn-md sproutup-btn-sm" style="padding-top: 9px;">Submit my content</a>
        </div>
      </div>
    </div>

    <div ng-if="item.campaign.type === 'contest'">
      <div class="row product-trial-item" ng-if="item.state === 0">
        <div class="product-trial-item--header">
          <a>{{ item.campaign.name }}</a><sup class="label label-activity-type contest">Contest</sup>
        </div>
        <div class="col-sm-12 product-trial-item--detail">
          <p class="product-trial-item--status reminder"><i class="fa fa-clock-o"></i>Reminder: Enter contest before <strong>{{ item.campaign.end || '(the campaign end date)' }}</strong></p>
          <p class="product-trial-item--status-desc">Hang tight, winners will be announced on or before <strong>{{ item.campaign.selectionDate || '(the winner selection date)' }}</strong>. Finger crossed!</p>
        </div>
        <div class="product-trial-item--actions">
          <a class="btn btn-md sproutup-btn-xs" ui-sref="user.navbar.trial.view({campaignId: item.campaignId})">Submit my entry</a>
        </div>
      </div>

      <div class="row product-trial-item" ng-if="item.state === 1">
        <div class="product-trial-item--header">
          <a>{{ item.campaign.name }}</a><sup class="label label-activity-type contest">Contest</sup>
        </div>
        <div class="col-sm-12 product-trial-item--detail">
          <p class="product-trial-item--status current"><i class="fa fa-check-circle"></i>Entered on <strong>{{ item.campaign.updated }}</strong></p>
          <p class="product-trial-item--status-desc">Hang tight, winners will be announced on or before <strong>{{ item.campaign.selectionDate || '(the winner selection date)' }}</strong>. Finger crossed! Share your entry to get more upvotes!</p>
        </div>
        <div class="product-trial-item--actions">
          <button class="btn btn-md sproutup-btn-xs">View my entry</button>
          <button class="btn btn-md sproutup-btn-xs facebook">Share on Facebook</button>
          <button class="btn btn-md sproutup-btn-xs twitter">Share on Twitter</button>
        </div>
      </div>
    </div>
  </div>
</div>
