<div class="col-sm-9 browse-campaign-main" ng-init="vm.findMyCampaigns()">
  <div ng-repeat="item in vm.myCampaigns" class="row product-trial-item">
    <div class="product-trial-item--header">
      <a ui-sref="user.navbar.trial.view({campaignId: item.campaignId})">{{item.campaign.name}}</a><sup ng-class="item.campaign.type" class="label label-activity-type">Trial</sup>
    </div>
    <div class="col-sm-12 product-trial-item--detail">
      <div ng-if="item.state==0">
        <p class="product-trial-item--status current"><i class="fa fa-check-circle"></i>Requested on {{item.created | date:'MMM dd, yyyy'}}</p>
      </div>
      <div ng-if="item.state==1">
        <p class="product-trial-item--status current"><i class="fa fa-check-circle"></i>Accepted on {{item.updated | date:'MMM dd, yyyy'}}</p>
        <p class="product-trial-item--status"><i class="fa fa-link"></i>Your unique referral link:</p>
        <p class="product-trial-item--status-desc"><span>http://goo.gl/zvLnyI</span>Please embed this unique referral link in any of your content. Share this link on social media. We use this link to measure conversions and reward you accordingly.</p>
      </div>
    </div>
    <div class="product-trial-item--actions">
      <button ng-show="item.state==1" class="btn btn-md sproutup-btn-sm">Submit my content</button>
    </div>
  </div>
</div>
