<div class="row profile-info my-content-page single-post">
        <div class="col-sm-2 profile-user--avatar">
            <img class="img-responsive" ng-src="{{ vm.user.avatarUrl }}">
        </div>
        <div class="col-sm-10 profile-user--details">
            <p class="profile-user--name">{{vm.user.name}}</p>
            <p class="profile-user--description">{{vm.user.description}}</p>
            <ul class="list-inline profile-user-social-buttons">
                <li ng-if="vm.user.urlTwitter"><a ng-href="{{ vm.user.urlTwitter }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li ng-if="vm.user.urlFacebook"><a ng-href="{{ vm.user.urlFacebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li ng-if="vm.user.urlPinterest"><a ng-href="{{ vm.user.urlPinterest }}" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                <li ng-if="vm.user.urlBlog"><a ng-href="{{ vm.user.urlBlog }}" target="_blank"><i class="fa fa-rss"></i></a></li>
                <li ng-if="vm.user.urlYoutube"><a ng-href="{{ vm.user.urlYoutube }}" target="_blank"><i class="fa fa-youtube"></i></a></li>
            </ul>
            <ul class="list-inline profile-user--badge">
                <li class="profile-user--badge-item" ng-if="vm.user.isInfluencer">Influencer</li>
            </ul>
        </div>
</div>
