<div class="row my-content-page single-post">
        <div class="col-sm-2 profile-user--avatar">
            <img class="img-responsive" ng-src="{{ vm.user.avatarUrl }}">
        </div>
        <div class="col-sm-10 profile-user--details">
            <p class="profile-user--name">{{vm.user.name}}</p>
            <p class="profile-user--description">{{vm.user.description}}</p>
            <ul class="list-inline profile-user-social-buttons">
                <li ng-repeat="network in vm.network">
                    <a ng-href="{{ network.url }}" target="_blank" ng-if="network.provider === 'tw'"><i class="fa fa-twitter"></i></a>
                    <a ng-href="{{ network.url }}" target="_blank" ng-if="network.provider === 'ga'"><i class="fa fa-rss"></i></a>
                    <a ng-href="{{ network.url }}" target="_blank" ng-if="network.provider === 'yt'"><i class="fa fa-youtube"></i></a>
                    <a ng-href="{{ network.url }}" target="_blank" ng-if="network.provider === 'ig'"><i class="fa fa-instagram"></i></a>
                    <a ng-href="{{ network.url }}" target="_blank" ng-if="network.provider === 'fb'"><i class="fa fa-facebook"></i></a>
                    <a ng-href="{{ network.url }}" target="_blank" ng-if="network.provider === 'pi'"><i class="fa fa-pinterest"></i></a>
                </li>
            </ul>
            <ul class="list-inline profile-user--badge">
                <li class="profile-user--badge-item" ng-if="vm.user.isInfluencer">Influencer</li>
            </ul>
        </div>
</div>
