<div class="row my-profile-trial-page single-post user-profile-content" ng-class="{ 'empty': vm.summary.length < 1 }" ng-init="vm.getPoints()" ng-show="vm.summary">
	<div class="product-detail-buzz-header-2" ng-if="vm.summary.length < 1">This user has not earned any Reward Points yet ¯\_(ツ)_/¯</div>
	<div ng-if="vm.summary.length > 0">
		<div class="profile-edit--description">
			<p>Reward Points this user has earned</p>
		</div>
		<table class="table table-striped table-responsive analytics-table">
			<thead>
				<tr>
					<th class="leading-column">Activities</th>
					<th>Count</th>
					<th>Points Earned</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="category in vm.summary">
					<td class="leading-column">{{ category.title }}</td>
					<td>{{ category.quantity || 0}}</td>
					<td>{{ category.points || 0}}</td>
				</tr>
			</tbody>
		</table>
		</div>
</div>