<div class="row my-profile-trial-page single-post user-profile-content" ng-class="{ 'empty': vm.trials.length < 1 && vm.trialsInit }">
	<div class="product-detail-buzz-header-2" ng-if="vm.trials.length < 1 && vm.trialsInit">This user doesn't have any trials ¯\_(ツ)_/¯</div>
		<div class="user-trial-wrapper" ng-repeat="trial in vm.trials | orderBy: '-updatedAt'" up-background-image="{{ trial.product.banner.url.image }}" up-background-attr="?w=720&h=230" up-fallback-image="/assets/images/default-product-banner.jpg" ng-if="trial.status > -1">
			<a ui-sref="user.product.detail.buzz({ slug: trial.product.slug })">
				<div class="user-trial-info">
					<div class="user-trial-product-name">{{ trial.product.name }}</div>
					<div class="user-trial-status requested" ng-if="trial.status === 0 || trial.status === 1">Requested Trial</div>
					<div class="user-trial-status active" ng-if="trial.status === 2 || trial.status === 3">Trying Now</div>
					<div class="user-trial-status completed" ng-if="trial.status === 4">Trial Completed</div>
				</div>
			</a>
		</div>
	
</div>