<h1>Thanks for signing up with Twitter! One more thing to ask...</h1>
<h2>Please let us know your email to communicate about product trials, updates and other exciting stuff on SproutUp.</h2>
<form name="basicinfoform" class="" novalidate>
    <div class="signup-wizard-row">
        <input class="form-control form-input large" placeholder="Your email" required="" type="email" ng-model="vm.user.email">
    </div>
    <div class="signup-wizard-actions">
        <button ng-disabled="basicinfoform.$invalid" class="btn btn-lg add-product-btn save" type="submit" ng-click="vm.save()">Continue</button>
    </div>
</form>
