<h1>Let's get connected. 🎈</h1>
<h2>Start earning more points on SproutUp, increase your chances of getting approved trial requests, and gain more followers through the SproutUp community. <a href="#" ng-click="vm.learningMore=!vm.learningMore">Learn more</a></h2>
<div class="learning-more" ng-show="vm.socialMediaChecked && vm.disconnectedUser">
    <div>Why should I link my social media accounts with SproutUp?</div>
    <ul>
        <li><i class="fa fa-check-circle"></i><strong>Verify. </strong>We like to know if you're real. &#x1f60e;</li>
        <li><i class="fa fa-check-circle"></i><strong>Secure a spot. </strong>We use social media reach to determine when to start your product trial.</li>
        <li><i class="fa fa-check-circle"></i><strong>Earn perks. </strong>Show us stellar performance and monetize your content.</li>
        <li><i class="fa fa-check-circle"></i><strong>Get stats. </strong>Get bragging rights when you move up the rank on SproutUp leader board.</li>
        <li><i class="fa fa-check-circle"></i><strong>Take a stand. </strong>It’s about rooting for your favorite products. Help them spread the word.</li>
    </ul>
</div>
<up-social-table></up-social-table>
<div class="signup-wizard-actions">
    <button class="btn btn-lg add-product-btn save" type="submit" ng-click="vm.finish()">Continue</button>
</div>