<h1>Let's get connected. &#x1F388;</h1>
<h2>Increase your chances of qualifying for product trials, earn more Sprout Points, and gain more followers through the SproutUp community by connecting your social profiles. <a href="#" ng-click="vm.learningMore=!vm.learningMore">Learn more</a></h2>
<div class="learning-more" ng-show="vm.socialMediaChecked && vm.disconnectedUser" ng-if="vm.learningMore">
	<div>Why should I link my social media accounts with SproutUp?</div>
	<ul>
	    <li><i class="fa fa-check-circle"></i><strong>Verify. </strong>Connecting accounts helps us make sure you're a the real account owner. &#x1f60e;</li>
	    <li><i class="fa fa-check-circle"></i><strong>Qualify. </strong>We use your collective social media reach to determine qualification for product trials.</li>
	    <li><i class="fa fa-check-circle"></i><strong>Measure. </strong>Get bragging rights when you move up the rank on SproutUp leader board.</li>
	    <li><i class="fa fa-check-circle"></i><strong>Earn. </strong>Earn Sprout Points based on your content’s performance.</li>
	    <li><i class="fa fa-check-circle"></i><strong>Assurance. </strong>Don’t worry, we’ll never post on your accounts unless you tell us to.</li>
	</ul>
</div>
<up-social-table></up-social-table>
<hr>
<div class="signup-wizard-actions">
    <button class="btn btn-lg add-product-btn save" type="submit" ng-click="vm.finish()">Continue</button>
</div>