<h1>Thanks for signing up! We have one more thing to ask...</h1>
<h2>Please let us know your <span>twitter</span> account</h2>
<form name="basicinfoform" class="" novalidate>
    <div class="signup-wizard-row">
        <input class="form-control form-input large" placeholder="Enter your Twitter username and we'll do the rest" required="" type="url" http-prefix="twitter.com/" ng-model="vm.user.urlTwitter">
    </div>
    <p>At this point, we are offering <span>Product Trials</span> to a limited group of users. We use your twitter handle to determine your eligibility.</p>
    <div class="signup-wizard-actions">
        <button ng-disabled="basicinfoform.$invalid" class="btn btn-lg add-product-btn save" type="submit" ng-click="vm.save()">Continue</button>
    </div>
</form>
