
  <h2>SproutUp Administration
  </h2>


   <table class="table table-striped">

    <tbody>
		
		      <tr>
            <td><a href="/adminstuff/product/listTrials" target="_self"><b>Product List available for Trials</b></a></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
		
        <tr>
            <td><a href="/adminstuff/product/list" target="_self">All Product List</a></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td><a href="/adminstuff/product/new" target="_self">New Product</a></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td><a href="/adminstuff/user/list" target="_self">User List</a></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td><a href="/adminstuff/influencer_trial/list" target="_self"><b>New - Request for Trial List</b></a></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td><a href="/adminstuff/trial/list" target="_self">Old - Request for Trial List</a></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td><a href="/adminstuff/suggest/list" target="_self">Suggested Product List</a></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
       <tr>
        <td><a href="/adminstuff/campaign/list" target="_self">Campaign List</a></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
       </tr> 
        <tr>
            <td><a href="/adminstuff/uploadmedia" target="_self">Upload Media</a></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td><a href="/adminstuff/socialmediapost" target="_self">Social Media Post Upload</a></td>
        </tr>

    </tbody>
   </table>

