
  <h2>SproutUp Administration
  </h2>


   <table class="table table-striped">

    <tbody>
		
		<tr>
		 <td> ------------All List-----------</td> 
		</tr>
		<tr>
            <td><a href="/adminstuff/product/list" target="_self">All Product List</a></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><a href="/adminstuff/user/list" target="_self">All User List</a></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><a href="/adminstuff/user/influencerlist" target="_self">All Influencer List</a></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
         <tr>
            <td><a href="/adminstuff/earlyAccess/list" target="_self">Early Access Product Request List</a></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        
		<tr>
		 <td> <b>------------Trial Related -----------</b></td> 
		</tr>		
		
		<tr>
            <td><a href="/adminstuff/influencer_trial/list" target="_self"><b>Influencers Request for Trial List</b></a></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
		<tr>
            <td><a href="/adminstuff/product/listInfluencerTrials" target="_self"><b>Products requested for Trials by Influencers</b></a></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
		<tr>
            <td><a href="/adminstuff/product/listAllUserTrials" target="_self"><b>Products requested for Trials by All Users</b></a></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>		
        <tr>
            <td><a href="/adminstuff/influencer_trial/alllist" target="_self">All Users Request for Trial List</a></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
		 <tr>
            <td><a href="/adminstuff/content/list" target="_self">Content List submitted by Influencers on Trial</a></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        		 <tr>
            <td><a href="/adminstuff/influencer_trial/reflist" target="_self">Influencers with RefId</a></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
		<tr>
            <td><a href="/adminstuff/product/listTrials" target="_self"><b>Products available for Trials</b></a></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
		 <td> <b>------------Add (new) -----------</b></td> 
		</tr>		
		<tr>		
		    <td><a href="/adminstuff/product/new" target="_self">New Product</a></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
       
        <tr>
            <td><a href="/adminstuff/buzzpost" target="_self">Buzz Post Upload</a></td>
        </tr>
        <tr>
		 <td> <b>------------Misc -----------</b></td> 
		</tr>	
        <!-- 
        <tr>
            <td><a href="/adminstuff/suggest/list" target="_self">Suggested Product List</a></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr> 
        -->
       <tr>
        <td><a href="/adminstuff/campaign/list" target="_self">Campaign List</a></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
       </tr>
       <tr>
        <td><a href="/adminstuff/contest/list" target="_self">Contest List</a></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
       </tr> 
        
        <tr>
            <td><a href="/adminstuff/uploadmedia" target="_self">Upload Media</a></td>
        </tr>
    </tr>
             <tr>
            <td>&nbsp;</td>
        </tr>
	
	
    </tbody>
   </table>

