@(trialForm: Form[Trial])(currentPage: com.avaje.ebean.Page[Trial])
@import helper._

<h2><a href="/adminstuff" target="_self" class="btn btn-lg">Admin Home</a></h2>

  <h2>All Requests for Product Trials
  </h2>

    <script>
     function del(urlToDelete) {
        $.ajax({
          url: urlToDelete,
          type: 'DELETE',
          success: function(results) {
            // Refresh the page
            location.reload();
          }
        });
      }

     function updateTrialStatus(id){
    	 //alert(id);
    	 var v = document.forms[0].elements['status['+ id+ ']'].value;
    	 //alert(v);
    	 document.forms[0].elements['requestId'].value = id;
    	 document.forms[0].elements['statusVal'].value = v;
    	 document.forms[0].submit();
     }
   </script>

<div class="table-responsive">
   <table class="table table-striped">
    <thead>
      <tr>
        <th>Request Id</th>
        <th>User Id</th>
        <th>Name</th>
        <th>isInfluencer</th>
        <th>Email/TwitterId/Phone</th>
        <th>Shipping Address</th>
        <th>Reason</th>
        <!--<th>Product Id</th>-->
        <th>Product Name</th>
        <th>Date of Request</th>
        <th>Date status updated</th>
        <!--<th>is Active</th>-->
        <th>status</th>


      </tr>
    </thead>
    <tbody>
    @helper.form(action = routes.ReportAdminController.updateTrialStatus()) {

    <input type="hidden" name="requestId"/>
	<input type="hidden" name="statusVal"/>
	<input type="hidden" name="page" value="influencer"/>
	<input type="hidden" name="pageNum" value="@currentPage.getPageIndex"/>
	

    @for(trial <- currentPage.getList()) {

      <tr>

        <td>@trial.id</td>
        @if(trial.user ==null){
        <td>Null</td>
        <td>@trial.name</td>
        <td>Unknown</td>
        <td>@trial.email
        <br>/@trial.phone
        </td>
        } else {
        <td>@trial.user.id</td>
        <td> @trial.user.name</td>
        <td> @trial.user.isInfluencer</td>
        <td> @trial.user.email
        <br>/ @trial.user.urlTwitter
        <br>/ @trial.phone

        </td>
        }
        <td>@trial.address</td>
        <td>@trial.reason</td>
        <!-- <td>@trial.product.id</td> -->
        <td>@trial.product.productName</td>
        <td>@trial.createdAt</td>
        <td>@trial.updatedAt</td>
        <!--  <td>@trial.active</td>-->
        <td>
          <select id="status[@trial.id]" onChange="updateTrialStatus(@trial.id)">
			  <option value="0" @if(trial.status.toString=="0"){ selected="selected" }>Requested</option>
			  <option value="1" @if(trial.status.toString=="1"){ selected="selected" }>Approved</option>
			  <option value="2" @if(trial.status.toString=="2"){ selected="selected" }>Sent</option>
			  <option value="3" @if(trial.status.toString=="3"){ selected="selected" }>Received</option>
			  <option value="4" @if(trial.status.toString=="4"){ selected="selected" }>Returned</option>
			  <option value="-1" @if(trial.status.toString=="-1"){ selected="selected" }>Rejected</option>
			  <option value="-2" @if(trial.status.toString=="-2"){ selected="selected" }>Cancelled</option>
		</select>
		</td>

      </tr>
      }
  }
    </tbody>
   </table>

   </div>

   <div id="pagination" class="pagination">
            <ul>
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@routes.ReportAdminController.allTrialList(currentPage.getPageIndex - 1)" target="_self">&larr; </a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr;</a>
                    </li>
                }
                <li class="current">
                    @currentPage.getDisplayXtoYofZ(" - "," / ")
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@routes.ReportAdminController.allTrialList(currentPage.getPageIndex + 1)" target="_self"> &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>&rarr;</a>
                    </li>
                }
            </ul>
    </div>