@(currentPage: com.avaje.ebean.Page[models.Content])
@main("Content list") {

<h2><a href="/adminstuff" target="_self" class="btn btn-lg">Admin Home</a></h2>

  <h2>Content URLs posted on Product Trials
  </h2>
  
     <script>
     function updateContentOG(id){
    	 //alert(id);
    	 document.forms[0].elements['contentId'].value = id;
    	 document.forms[0].elements['page'].value = @currentPage.getPageIndex;
    	 document.forms[0].submit();
     }
   </script>


<div class="table-responsive">
   <table class="table table-striped">
    <thead>
      <tr>
        <th>Content Id</th>
        <th>User Name</th>
        <th>Product Name</th>
        <th>URL</th>
        <th>Trial Id</th>
        <th>Date added</th>
        <th>Date updated</th>
        <th>Open Graph Id</th>
        <th>Update OG</th>
      </tr>
    </thead>
    <tbody>
    
     @helper.form(action = routes.ReportAdminController.updateContentOG()) {

    <input type="hidden" name="contentId"/>
	<input type="hidden" name="page"/>
    
    @for(con <- currentPage.getList()) {

      <tr>
        <td>@con.id</td>
        <td>@con.user.name</td>
        @if(con.product !=null){
        <td>@con.product.productName</td>
        }else {
        <td>N/A</td>
        }
        <td>@con.url</td>
        @if(con.trial !=null){
        <td>@con.trial.id</td>
        }else {
        <td>N/A</td>
        }
        <td>@con.createdAt</td>
        <td>@con.updatedAt</td>
         @if(con.openGraph !=null){
        	<td>@con.openGraph.id</td>
        }else {
        	<td>N/A</td>
        }
        <td><a href="javascript:updateContentOG(@con.id)">Update OG</a></td>
      </tr>
      }
	}
    </tbody>
   </table>
</div>

   <div id="pagination" class="pagination">
            <ul>
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@routes.ReportAdminController.contentList(currentPage.getPageIndex - 1)" target="_self">&larr; </a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr;</a>
                    </li>
                }
                <li class="current">
                    @currentPage.getDisplayXtoYofZ(" - "," / ")
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@routes.ReportAdminController.contentList(currentPage.getPageIndex + 1)" target="_self"> &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>&rarr;</a>
                    </li>
                }
            </ul>
        </div>


}
