@(currentPage: com.avaje.ebean.Page[models.Content])
@main("Content list") {

<h2><a href="/adminstuff" target="_self" class="btn btn-lg">Admin Home</a></h2>

  <h2>Content URLs posted on Product Trials
  </h2>


<div class="table-responsive">
   <table class="table table-striped">
    <thead>
      <tr>
        <th>Content Id</th>
        <th>User Name</th>
        <th>Product Name</th>
        <th>URL</th>
        <th>Trial Id</th>
        <th>Date added</th>
        <th>Date updated</th>
      </tr>
    </thead>
    <tbody>
    @for(con <- currentPage.getList()) {

      <tr>

        <td>@con.id</td>
        <td>@con.user.name</td>
        <td>@con.product.productName</td>
        <td>@con.url</td>
        <td>@con.trial.id</td>
        <td>@con.createdAt</td>
        <td>@con.updatedAt</td>
      </tr>
      }

    </tbody>
   </table>
</div>

   <div id="pagination" class="pagination">
            <ul>
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@routes.ReportAdminController.contentList(currentPage.getPageIndex - 1)" target="_self">&larr; </a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr;</a>
                    </li>
                }
                <li class="current">
                    @currentPage.getDisplayXtoYofZ(" - "," / ")
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@routes.ReportAdminController.contentList(currentPage.getPageIndex + 1)" target="_self"> &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>&rarr;</a>
                    </li>
                }
            </ul>
        </div>


}
