@(userForm: Form[User])(currentPage: com.avaje.ebean.Page[User])
@import helper._

@admin_wrapper("All users") {

<h2><a href="/adminstuff" target="_self" class="btn btn-lg">Admin Home</a></h2>

  <h2>All users
  </h2>

    <script>
     function del(urlToDelete) {
        $.ajax({
          url: urlToDelete,
          type: 'DELETE',
          success: function(results) {
            // Refresh the page
            location.reload();
          }
        });
      }

     function updateInfluencer(val){
    	 document.forms[0].elements['userId'].value = val;
    	 document.forms[0].elements['roleType'].value = 'INFLUENCER';
    	 document.forms[0].submit();
     }

     function updateCreator(val){
     	 document.forms[0].elements['userId'].value = val;
     	 document.forms[0].elements['roleType'].value = 'CREATOR';
     	 document.forms[0].submit();
      }

   </script>
   <div>
     <a href="/adminstuff/user/addKloutScores" class="btn" target="_self">Add Klout Scores</a>
     <a href="/adminstuff/user/updateAllKloutScores" class="btn" target="_self">Update all Klout Scores</a>
   </div>
   <div class="table-responsive">
   <table class="table table-striped">
    <thead>
      <tr>
        <th>User Id</th>
        <th>Name</th>
        <th>isInfluencer</th>
        <th>isCreator</th>
        <th>Email/Twitter</th>
        <th>NickName</th>
        <th>Contact</th>
        <th>Blog</th>
        <th>YourTube Channel</th>
        <th>Facebook</th>
        <th>Date added</th>
        <th>Date updated</th>
        <th>lastLogin</th>

      </tr>
    </thead>
    <tbody>
     @helper.form(action = routes.ReportAdminController.updateUserRole()) {

	<input type="hidden" name="userId"/>
	<input type="hidden" name="roleType"/>
	<input type="hidden" name="roleValue"/>

    @for(userForm <- currentPage.getList()) {
	  <tr>

     	<td>@userForm.id</td>
        <td>@userForm.name</td>
        <td>@userForm.isInfluencer
        <input type="checkbox" name="isInfluencer[@userForm.id]" value="@userForm.isInfluencer" onChange="updateInfluencer('@userForm.id')" @if(userForm.isInfluencer){ checked }>&nbsp;
        </td>
        <td>@userForm.isCreator
        <input type="checkbox" name="isCreator[@userForm.id]" value="@userForm.isCreator" onChange="updateCreator('@userForm.id')" @if(userForm.isCreator){ checked }>&nbsp;
        </td>
        <td>@userForm.email
        <br>/@userForm.urlTwitter</td>
        <td>@userForm.nickname</td>
        <td>@userForm.streetAddress1
         @if(userForm.streetAddress2 !=null){
         <br>@userForm.streetAddress2
         }
         <br>@userForm.city, @userForm.state @userForm.zipcode
         @if(userForm.phoneNumber !=null){
         <br>@userForm.phoneNumber
         }
        </td>
        <td>@userForm.urlBlog</td>
        <td>@userForm.urlYoutube</td>
        <td>@userForm.urlFacebook</td>
        <td>@userForm.createdAt</td>
        <td>@userForm.updatedAt</td>
        <td>@userForm.lastLogin</td>

        <td>
          <a href="/adminstuff/user/updateKloutScore/@userForm.id" class="btn" target="_self">Update Klout Score</a>
        </td>

      </tr>
      }

    </tbody>
   </table>
   </div>
}
   <div id="pagination" class="pagination">
            <ul>
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@routes.ReportAdminController.userList(currentPage.getPageIndex - 1)" target="_self">&larr; </a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr;</a>
                    </li>
                }
                <li class="current">
                    @currentPage.getDisplayXtoYofZ(" - "," / ")
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@routes.ReportAdminController.userList(currentPage.getPageIndex + 1)" target="_self"> &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>&rarr;</a>
                    </li>
                }
            </ul>
        </div>

}