@(userForm: Form[User])(currentPage: com.avaje.ebean.Page[User])
@import helper._

@main("User list") {


  <h2>All users
  </h2>

    <script>
     function del(urlToDelete) {
        $.ajax({
          url: urlToDelete,
          type: 'DELETE',
          success: function(results) {
            // Refresh the page
            location.reload();
          }
        });
      }
     
     function updateInfluencer(val){
    	 document.forms[0].elements['userId'].value = val;
    	 document.forms[0].elements['roleType'].value = 'INFLUENCER';
    	 document.forms[0].submit();
     }
     
     function updateCreator(val){
     	 document.forms[0].elements['userId'].value = val;
     	 document.forms[0].elements['roleType'].value = 'CREATOR';
     	 document.forms[0].submit();
      }
     
   </script>
   <table class="table table-striped">
    <thead>
      <tr>
        <th>User Id</th>
        <th>Name</th>
        <th>isInfluencer</th>
        <th>isCreator</th>
        <th>Email</th>
        <th>Twitter</th>
        <th>NickName</th>
        <th>Date added</th>
        <th>Date updated</th>
        <th>is Active</th>
        <th>lastLogin</th>
        
      </tr>
    </thead>
    <tbody>
     @helper.form(action = routes.ReportAdminController.updateUserRole()) {
	
	<input type="hidden" name="userId"/>
	<input type="hidden" name="roleType"/>
	<input type="hidden" name="roleValue"/>
	
    @for(userForm <- currentPage.getList()) {
	  <tr>

     	<td>@userForm.id</td>
        <td>@userForm.name</td>
        <td>@userForm.isInfluencer
        <input type="checkbox" name="isInfluencer[@userForm.id]" value="@userForm.isInfluencer" onChange="updateInfluencer('@userForm.id')" @if(userForm.isInfluencer){ checked }>&nbsp;
        </td>
        <td>@userForm.isCreator
        <input type="checkbox" name="isCreator[@userForm.id]" value="@userForm.isCreator" onChange="updateCreator('@userForm.id')" @if(userForm.isCreator){ checked }>&nbsp;
        </td>
        <td>@userForm.email</td>
        <td>@userForm.urlTwitter</td>
        <td>@userForm.nickname</td>
        <td>@userForm.createdAt</td>
        <td>@userForm.updatedAt</td>
        <td>@userForm.active</td>
        <td>@userForm.lastLogin</td>

      
      </tr>
      }
  
    </tbody>
   </table>
}
   <div id="pagination" class="pagination">
            <ul>
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@routes.ReportAdminController.userList(currentPage.getPageIndex - 1)" target="_self">&larr; </a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr;</a>
                    </li>
                }
                <li class="current">
                    @currentPage.getDisplayXtoYofZ(" - "," / ")
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@routes.ReportAdminController.userList(currentPage.getPageIndex + 1)" target="_self"> &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>&rarr;</a>
                    </li>
                }
            </ul>
        </div>


}
