html,
body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

.body-container {
  /* margin-top: 100px; */
  min-height: 420px;
}

.footer-container {
  margin-top: 20px;
  min-height: 80px;
}

.header-container {
  border-bottom: solid 1px #eee;
}

.navbar {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  height: 70px;
}

.navbar-brand {
  margin-top: 8px;
}

.navbar-nav {
  padding-top: 12px;
}

.navbar-default .navbar-nav > li > a {
  color: #929292;
}

.navbar-right {
  padding-right: 0px;
}

.navbar-collapse {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  height: 70px;
}

.navbar-toggle {
  margin-top: 16px;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background-color: transparent;
}

.navbar-item {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 11pt;
}

.logo {
  width: 100px;
}

.profile-img {
  width: 42px;
  height: 42px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  margin-top: 3px;
  margin-left: 15px;
}

.alert-message {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 120px;
  margin-bottom: 0px;
}

ul.sproutup-social-buttons li a {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  font-size: 14pt;
  line-height: 36px;
  outline: 0;
  color: #5f5f5f;
  background-color: #fff;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

ul.sproutup-social-buttons li a:hover {
  background-color: #fff;
  color: #2996cc;
}

footer {
  margin-top: 30px;
  margin-bottom: 30px;
}

p.copyright {
  margin-top: 20px;
  text-align: center;
  font-family: "lato",Helvetica,Arial,sans-serif;
  font-size: 12pt;
  font-weight: 300;
  color: #5f5f5f;
}
