.product-header {
  width: 100%;
  height: 400px;
  margin-top: 70px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: left;
  background: url(../images/general-profile-cover.png) no-repeat center center;
  background-size: cover;
  color: #fff;
}

.product-info {
  margin-top: 100px;
  margin-left: 30px;
}

.product-title {
  font-family: "Roboto", Helvetica,Arial,sans-serif;
  font-weight: 100;
  color: #fff;
  font-size: 56pt;
  padding-bottom: 15px;
}

.product-description {
  font-family: "lato", Helvetica,Arial,sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 15pt;
}

.media-header {
  font-family: "lato", Helvetica,Arial,sans-serif;
  font-weight: 300;
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 18pt;
}

.product-list {
  margin-top: 100px;
  margin-bottom: 30px;
}

.product-cover-item {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.product-cover-photo {
	height:480px;
	background-size:cover;
	background-position:center;
   	background-repeat:no-repeat;
    color:#fff;
}

.product-cover-overlay {
    background-color: #000;
    float: left;
    top: 0;
    left: 0;
    opacity: 0.4;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.product-cover-title {
  margin: 0;
  padding-top: 360px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "lato", Helvetica, Arial;
  font-weight: 100;
  font-size: 32pt;
  position: absolute;
  z-index: 3;
}

.product-cover-description {
  font-weight: 300;
  font-size: 13pt;
  padding-top: 420px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  z-index: 3;
}

.product-photo {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
