.product-header {
  width: 100%;
  height: 400px;
  margin-top: 70px;
  margin-bottom: 30px;
  text-align: left;
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
  color: #fff;
}

.product-info {
  margin-top: 160px;
  margin-left: 20px;
  position: absolute;
  z-index: 3;
}

.product-title {
  font-family: "lato", Helvetica,Arial,sans-serif;
  font-weight: 100;
  color: #fff;
  font-size: 48pt;
  padding-bottom: 5px;
}

.product-description {
  font-family: "lato", Helvetica,Arial,sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 15pt;
  padding-bottom: 10px;
}

.product-item-page-header {
  font-family: "lato", Helvetica,Arial,sans-serif;
  font-weight: 300;
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 18pt;
}

.product-list {
  margin-top: 100px;
  margin-bottom: 30px;
}

.product-cover-item {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.product-cover-photo {
	height:480px;
	background-size:cover;
	background-position:center;
  background-repeat:no-repeat;
  color:#fff;
}

.product-cover-overlay {
    background-color: #000;
    float: left;
    top: 0;
    left: 0;
    opacity: 0.4;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.product-cover-title {
  margin: 0;
  padding-top: 360px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "lato", Helvetica, Arial;
  font-weight: 100;
  font-size: 32pt;
  position: absolute;
  z-index: 3;
}

.product-cover-description {
  font-weight: 300;
  font-size: 13pt;
  padding-top: 420px;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  z-index: 3;
}

section {
  margin-top: 0px;
  margin-bottom: 40px;
}

.media-photo {
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
}

.media-photo-background {
  height:360px;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  color:#fff;
}

.media-photo-overlay {
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,0.5));
  background: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,0.5));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,0.5));
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5));
  float: left;
  top: 0;
  left: 0;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.media-photo-meta {
  padding-top: 280px;
  padding-left: 15px;
  position: absolute;
  z-index: 3;
}

ul.media-social-buttons li a {
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  font-size: 14pt;
  line-height: 20px;
  outline: 0;
  color: #fff;
  background-color: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  padding-right: 5px;
}

ul.media-social-buttons li a:hover {
  background-color: none;
  color: #ccc;
}

.media-user {
  font-weight: 300;
  font-size: 14pt;
}

.comment-tags {
  margin-bottom: 10px;
}

.btn-tags {
  font-weight: 500;
  font-size: 10pt;
}

.comment-user {
  text-align: center;
  margin-top: 15px;
  font-weight: 500;
  font-size: 12pt;
}

.comment-content-section-a {
  padding: 30px 30px;
  background-color: #f8f8f8;
  vertical-align: text-top;
}

.comment-content-section-b {
  padding: 30px 30px;
  vertical-align: text-top;
}

.comment-content {
  padding-bottom: 18px;
}

.comment-content p {
  line-height: 1.4;
  font-size: 14pt;
  color: #434343;
  font-weight: 300;
}

.user-img-circle {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  }

ul.product-social-buttons li a {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  font-size: 14pt;
  line-height: 36px;
  outline: 0;
  color: #fff;
  background-color: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

ul.product-social-buttons li a:hover {
  background-color: none;
  color: #ccc;
}
