.product-header {
  width: 100%;
  height: 400px;
  margin-top: 70px;
  text-align: left;
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
  color: #fff;
}

.product-info {
  margin-top: 160px;
  margin-left: 20px;
  position: absolute;
  z-index: 3;
}

.product-title {
  font-family: "lato", Helvetica,Arial,sans-serif;
  font-weight: 100;
  color: #fff;
  font-size: 48pt;
  padding-bottom: 5px;
}

.product-description {
  font-family: "lato", Helvetica,Arial,sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 15pt;
  padding-bottom: 10px;
}

.product-item-page-header {
  font-family: "lato", Helvetica,Arial,sans-serif;
  font-weight: 300;
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 18pt;
}

.product-list {
  margin-top: 100px;
  margin-bottom: 30px;
}

.product-cover-item {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.product-cover-photo {
	height:480px;
	background-size:cover;
	background-position:center;
  background-repeat:no-repeat;
  color:#fff;
}

.product-cover-overlay {
    background-color: #000;
    float: left;
    top: 0;
    left: 0;
    opacity: 0.4;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.product-cover-title {
  margin: 0;
  padding-top: 360px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "lato", Helvetica, Arial;
  font-weight: 100;
  font-size: 32pt;
  position: absolute;
  z-index: 3;
}

.product-cover-description {
  font-weight: 300;
  font-size: 13pt;
  padding-top: 420px;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  z-index: 3;
}

.product-photo {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.media-user {
  margin: 0;
  padding-top: 400px;
  padding-left: 15px;
  padding-right: 10px;
  font-family: "lato", Helvetica, Arial;
  font-weight: 300;
  font-size: 18pt;
  position: absolute;
  z-index: 3;
}

ul.product-social-buttons li a {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  font-size: 14pt;
  line-height: 36px;
  outline: 0;
  color: #fff;
  background-color: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

ul.product-social-buttons li a:hover {
  background-color: none;
  color: #2996cc;
}
