.about-product-row {
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
}

.about-product--video {
    background-color: #333;
    height: 360px;
    width: 100%;
    color: #fff;
}

.about-product-tile {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
}

.about-product-tile--left {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
}

.about-product-tile--right {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
}

.about-product--header {
    font-weight: 300;
    font-size: 22pt;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 0px;
}

.about-product--content {
    font-weight: 400;
    font-size: 12pt;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    margin-bottom: 0px;
}

.about-product--feature {
    background-color: #7525AC;
    width: 100%;
    color: #f1f1f1;
}

.about-product--mission {
    background-color: #6BC224;
    width: 100%;
    height: 240px;
    color: #fff;
}

.about-product--mission-creator {
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    color:#fff;
    position: relative;
    height: 240px;
    width: 100%;
}

.about-product--story {
    background-color: #E4E2D1;
    color: #414141;
    width: 100%;
}

.about-product--team {
    background-color: #f2f2f2;
    color: #000;
    width: 100%;
}

.about-product--team-content {
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.about-product--team-member {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.about-product--team-member-photo {
    height: 240px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:#fff;
}

.about-product--update {
    background-color: #F39019;
    color: #fff;
    width: 100%;
}

.about-product--header-right {
    font-weight: 400;
    font-size: 12pt;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 0px;
}

.about-product--header-right i {
    padding-right: 10px;
}

.about-product--twitter {
    background-color: #55ACEE;
    color: #fff;
    width: 100%;
}

.about-product--facebook {
    background-color: #3B5998;
    color: #f1f1f1;
    width: 100%;
}

.triangle-border {
    position:relative;
    margin:0 0 20px;
    border:2px solid #6BC224;
    color:#000;
    background:#fff;
    /* css3 */
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
}

.triangle-border:before {
    content:"";
    position:absolute;
    bottom:-16px; /* value = - border-top-width - border-bottom-width */
    left:40px; /* controls horizontal position */
    border-width:16px 16px 0;
    border-style:solid;
    border-color:#6BC224 transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}

/* creates the smaller triangle */
.triangle-border:after {
    content:"";
    position:absolute;
    bottom:-13px; /* value = - border-top-width - border-bottom-width */
    left:43px; /* value = (:before left) + (:before border-left) - (:after border-left) */
    border-width:13px 13px 0;
    border-style:solid;
    border-color:#fff transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}

.about-product--quote-content {
    font-weight: 400;
    color: #414141;
    font-size: 12pt;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.about-product--quote-user {
    padding-left: 25px;
    padding-right: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 11pt;
    color: #6BC224;
}

.about-product--trendy {
    background-color: #fff;
    color: #7525AC;
    width: 100%;
}

.about-product--header-no-padding {
    font-weight: 400;
    font-size: 12pt;
    padding-top: 20px;
    margin-bottom: 0px;
}

.about-product--header-no-padding i {
    padding-right: 10px;
}

.about-product--trendy-photo {
    margin-top: 15px;
    margin-bottom: 15px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    color:#fff;
    position: relative;
    height: 300px;
    width: 100%;
}

.about-product--footer-no-padding {
    padding-left: 0px;
    padding-right: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 11pt;
    color: #929292;
}

.about-product--footer-no-padding-em {
    color: #7525ac;
    font-weight: 700;
}
