<div class="post-new-content-uploader">
  <div ng-show="vm.contentState==='select'">
    <div ng-if="youtube">
      <div class="post-new-content-uploader-method">
        <table>
          <tbody>
            <tr ng-click="showYouTubeVideos()">
              <td><a href="#"><img src="assets/images/settings/youtube.png"></a></td>
              <td><a href="#" ng-click="vm.contentState='write'">Choose video from YouTube<span>For YouTubers, please choose the content from your channel.</span></a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr>
    </div>
    <div ng-if="instagram">
      <div class="post-new-content-uploader-method">
        <table>
          <tbody>
            <tr ng-click="vm.contentState='instagram'">
              <td><a href="#"><img src="assets/images/settings/instagram.png"></a></td>
              <td><a href="#" >Choose photo from Instagram<span>For Instagram, please connect and choose the content from your channel.</span></a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr>
    </div>
    <div ng-if="url">
      <div class="post-new-content-uploader-method">
        <table>
          <tbody>
            <tr ng-click="vm.contentState='instagram'">
              <td><a href="#"><img src="assets/images/settings/url.png"></a></td>
              <td><a href="#">Post via a URL<span>If your content is not on YouTube, please post by pasting the URL.</span></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--content added -->
  <div ng-show="vm.contentState==='write'">
    <textarea name="content" ng-model="item.body" ng-change="onChange()" class="form-control post-new-textarea no-resize" placeholder="Say something about your content..." required></textarea>
    <div class="post-new-content-uploaded-file">
      <p>{{ selectedVideo.snippet.title }}<span><a href="#" ng-click="removeVideo()"><i class="fa fa-times-circle"></i></a></span></p>
    </div>
  </div>
  <!-- Select YouTube video -->
  <div ng-if="vm.contentState === 'youtube'">
    <div class="post-new-content-uploader-method">
      <table>
        <tbody>
          <tr>
            <td><a href="#"><img src="assets/images/settings/youtube.png"></a></td>
            <td>Click and select a video below</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="post-new-content-select-file">
      <a href="#" ng-repeat="video in vm.videos" ng-click="selectVideo(video)"><p>{{ video.snippet.title }}</p></a>
    </div>
  </div>
</div>
