<span ng-if="!auth.m.isLoggedIn">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sproutup-collapse-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a analytics-on="click" analytics-event="Enter Landing Page" class="navbar-brand" ui-sref="user.home">
                <img class="logo" src="assets/images/logo-beta-white.png">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="sproutup-collapse-navbar">

            <ul class="nav navbar-nav navbar-item navbar-right">
                <li><a ui-sref="user.howitworks">HOW IT WORKS</a></li>
                <li><a ui-sref="user.creator">FAQ</a></li>
                <li><a ui-sref="user.search">BROWSE PRODUCTS</a></li>
                <li><a ui-sref="user.login">LOG IN</a></li>
                <li><a ui-sref="user.signup">SIGN UP</a></li>
            </ul>
        </div>
    </nav>
</span>

<span ng-if="auth.m.isLoggedIn">
    <nav class="navbar navbar-default navbar-fixed-top navbar-influencer" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sproutup-collapse-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a analytics-on="click" analytics-event="Enter Landing Page" class="navbar-brand" ui-sref="user.home">
                <img class="logo" src="assets/images/logo-square.png">
            </a>
        </div>


        <div class="collapse navbar-collapse" id="sproutup-collapse-navbar">
            <ul class="nav navbar-nav navbar-item navbar-left">
                <li><a ui-sref="user.search">BROWSE PRODUCTS</a></li>
                <li><a ui-sref="user.mytrials.current">MY TRIALS<span class="navbar-badge" ng-show="auth.m.trials.length>0">{{ auth.m.trials.length }}</span></a></li>
                <li><a ui-sref="user.perk">EARN PERKS</a></li>
                <li><a ui-sref="user.creator">FAQ</a></li>
                <!-- <li><a href="#">ACTIVITY <sup>&beta;</sup></a></li> -->
            </ul>

            <ul class="nav navbar-nav navbar-item navbar-right">

                <li>
                    <img class="profile-img" ng-src="{{auth.m.user.avatarUrl}}">
                </li>

                <li about="" class="dropdown">
                    <a href="#" analytics-on="click" analytics-event="User Menu" class="dropdown-toggle" data-toggle="dropdown">{{auth.m.user.name}}<i class="fa fa-angle-down login-angle-down"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a analytics-on="click" analytics-event="Enter User Settings" ui-sref="user.settings.profile">Profile & Settings</a></li>
                        <li><a href="" analytics-on="click" analytics-event="Log Out" ng-click="auth.logout()">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</span>
