<!-- Banner -->
<div class="row dashboard-page">
    <div class="dashboard-banner" up-background-image="/assets/images/general-profile-cover.png" up-background-attr="?w=1600">
        <div class="col-lg-12 dashboard-title">
            <h1>{{user.name}}<span>@@{{user.nickname}}</span></h1>
        </div>
    </div>

    <!-- TOC -->
    <div class="col-sm-3">
        <div class="list-group">
            <a ui-sref="user.settings.profile" class="list-group-item" ui-sref-active="active">Profile</a>
            <a ui-sref="user.settings.social" class="list-group-item" ui-sref-active="active">Social Media</a>
        </div>
    </div>

    <!-- menu item content goes here -->
    <div ui-view></div>
</div>
