<!-- Content -->
<div class="col-sm-9">
    <form name="basicinfoform" class="" novalidate>
        <!-- Basic Information -->
        <div class="profile-edit--header">Basic Information</div>
        <!-- full name -->
        <div class="row profile-input-row">
            <div class="col-sm-12 profile-input-cell">
                <input type="text" class="form-control form-validate form-input medium" placeholder="Full Name" ng-model="user.name" required>
            </div>
        </div>
        <!-- email and username -->
        <div class="row profile-input-row">
            <div class="col-sm-6 profile-input-cell">
                <input type="email" disabled class="form-control form-validate form-input medium" placeholder="Email" ng-model="user.email">
            </div>
            <div class="col-sm-6 profile-input-cell">
                <input type="text" class="form-control form-validate form-input medium left-feedback" placeholder="Pick a nickname" ng-model="user.nickname" required>
                <span class="fa fa-lg">@@</span>
            </div>
        </div>
        <!-- short description -->
        <div class="row profile-input-row">
            <div class="col-sm-12 profile-input-cell">
                <textarea class="form-control form-input-textarea no-resize" placeholder="Short description about yourself" rows="2" ng-model="user.description"></textarea>
            </div>
        </div>

        <!-- Gender -->
        <div class="profile-edit--header">Gender</div>
        <div class="row profile-input-row">
            <div class="col-sm-12 profile-input-cell">
                <div class="radio">
                    <label><input type="radio" value="female" checked>Female</label>
                </div>
                <div class="radio">
                    <label><input type="radio" value="male">Male</label>
                </div>
            </div>
        </div>

        <!-- Interests -->
        <div class="profile-edit--header">Product Categories</div>
        <div class="row profile-input-row">
            <div class="col-sm-12 profile-input-cell">
                <input type="text" class="form-control form-input medium" placeholder="Tell us what product categories you are mostly interested in, e.g. smart home, pet toy...">
            </div>
        </div>

        <!-- Address -->
        <div class="profile-edit--header">Shipping Address</div>
        <div class="row profile-input-row">
            <div class="col-sm-12 profile-input-cell">
                <input type="text" g-places-autocomplete="" class="form-control form-input medium" placeholder="Enter your address" ng-model="user.address">
            </div>
        </div>

        <!-- Phone number -->
        <div class="profile-edit--header">Mobile Number</div>
        <div class="row profile-input-row">
            <div class="col-sm-12 profile-input-cell">
                <input type="text" class="form-control form-input medium" placeholder="Enter your mobile number. Please include the country code for non-US number." ng-model="user.phone">
            </div>
        </div>

        <!-- Save & Cancel button -->
        <div class="add-product-actions">
            <button ng-disabled="basicinfoform.$invalid || basicinfoform.$pristine" class="btn btn-lg add-product-btn save" type="submit" ng-click="save()">Save Changes</button>
        </div>
    </form>
</div>
