<div class="col-sm-9" up-product-update product="product">
    <form name="basicinfoform" class="" novalidate>
            <div class="profile-edit--header">Social Networks</div>
            <div class="row profile-input-row">
                <div class="col-sm-12 profile-input-cell">
                    <input type="text" class="form-control form-input medium left-feedback" placeholder="Your Facebook: facebook.com/example" ng-model="user.urlFacebook">
                    <span class="fa fa-lg fa-facebook-square"></span>
                </div>
            </div>
            <div class="row profile-input-row">
                <div class="col-sm-12 profile-input-cell">
                    <input type="text" class="form-control form-input medium left-feedback" placeholder="Your Twitter: twitter.com/@@username" ng-model="user.urlTwitter">
                    <span class="fa fa-lg fa-twitter-square"></span>
                </div>
            </div>
            <div class="row profile-input-row">
                <div class="col-sm-12 profile-input-cell">
                    <input type="text" class="form-control form-input medium left-feedback" placeholder="Your Pinterest, pinterest.com/example" ng-model="user.urlPinterest">
                    <span class="fa fa-lg fa-pinterest-square"></span>
                </div>
            </div>
            <div class="row profile-input-row">
                <div class="col-sm-12 profile-input-cell">
                    <input type="text" class="form-control form-input medium left-feedback" placeholder="Your blog" ng-model="user.urlBlog">
                    <span class="fa fa-lg fa-rss-square"></span>
                </div>
            </div>
    </form>
</div>

