<div class="col-sm-9">
    <div class="product-edit--header">Your Product Trials</div>
    <div class="product-edit--header-2">You don't have product trial yet...</div>
    <!-- <div class="row product-trial-item">
        <div class="col-sm-5 product-trial-item--photo">
            <img class="img-responsive" src="https://s3.amazonaws.com/sproutup-mvp-cdn/assets/11112.jpg">
        </div>
        <div class="col-sm-7 product-trial-item--detail">
            <h1>Soma Carafe</h1>
            <p class="product-trial-item--status current"><i class="fa fa-check-circle"></i>Requested on June 12, 2015</p>
            <p class="product-trial-item--status"><i class="fa fa-check-circle"></i>Shipped</p>
            <p class="product-trial-item--status"><i class="fa fa-check-circle"></i>In tryout</p>
            <p class="product-trial-item--status"><i class="fa fa-check-circle"></i>Returned</p>
        </div>
    </div>
    <div class="row product-trial-item">
        <div class="col-sm-5 product-trial-item--photo">
            <img class="img-responsive" src="https://s3.amazonaws.com/sproutup-mvp-cdn/assets/11115.jpg">
        </div>
        <div class="col-sm-7 product-trial-item--detail">
            <h1>Clyde</h1>
            <p class="product-trial-item--status current"><i class="fa fa-check-circle"></i>Requested on June 12, 2015</p>
            <p class="product-trial-item--status current"><i class="fa fa-check-circle"></i>Shipped on June 15, 2015</p>
            <p class="product-trial-item--status"><i class="fa fa-check-circle"></i>In tryout</p>
            <p class="product-trial-item--status"><i class="fa fa-check-circle"></i>Returned</p>
        </div>
    </div> -->
</div>
