@(productForm: Form[Product])
@import helper._
@import helper.twitterBootstrap._

@main("Product form") {
  <h1>Product form</h1>
  @helper.form(action = routes.ProductAdministrationController.save(), 'enctype -> "multipart/form-data") {
    <fieldset>
      <legend>Product (@productForm("productName").valueOr("New"))</legend>
      <input type="hidden" value="@productForm("id").valueOr("")" name="id"/>
      
    <div class="row about-product-row">
        <div class="col-sm-12 about-product-tile">
            <div class="about-product--story">
            <p class="about-product--header">Profile</p>
            
        Upload Banner Picture here
            
                <p>Product Name:&nbsp;<input type="text" size="50" name="@productForm("productName").name">
                </p>
                <p>Product EAN:&nbsp;<input type="text" size="30" name="@productForm("productEAN").name">
                </p>
                <p>Short Description:&nbsp;<textarea cols="50" rows="2" name="@productForm("productDescription").name"></textarea>
                         <ul class="list-inline product-social-buttons">
                      <li>Home page URL:&nbsp;<input type="text" size="100" name="@productForm("urlHome").name"/></li>
                   <br>
                     <li>Facebook page URL:&nbsp;<input type="text" size="100" name="@productForm("urlFacebook").name"/></li>
                     <li>Twitter page URL:&nbsp;<input type="text" size="100" name="@productForm("urlTwitter").name"/></li> 
                     <li>Crowdfunding Campaign page URL:&nbsp;<input type="text" size="100" name="@productForm("urlCrowdFundingCampaign").name"/></li>       
                     <li>Contact Email:&nbsp;<input type="text" size="100" name="@productForm("contactEmailAddress").name"/></li>                        
		             <li>Offer Trial Signup:<input type="checkbox" name="@productForm("trialSignUpFlag").name" value="1"></li>
		             <li>Offer Buy:<input type="checkbox" name="@productForm("buyFlag").name" value="1"></li>
		             <li>Featured Product:<input type="checkbox" name="@productForm("isFeatured").name" value="1"></li>
                </ul>
             
              </div>
        </div>
   </div>      
     
<div class="product-about-page">
<!-- left rail -->
<div class="col-sm-9 about-left-rail">
    <!-- row 1: intro video -->
    <div class="row about-product-row">
        <div class="col-sm-12 about-product-tile">
            <div class="about-product--video">
                Upload Product Video/Photo here
                </div>
            </div>
        </div>
    </div>

    <!-- row 2: description and feature list -->
    <div class="row about-product-row">
        <div class="col-sm-7 about-product-tile--left">
                <p>Long Description: &nbsp; <textarea cols="100" rows="6" name="@productForm("productLongDescription").name"></textarea></p>
        </div>
    </div>
	<div class="row about-product-row">
        <div class="col-sm-7 about-product-tile--left">
                <p>Product Feature: &nbsp; <textarea cols="100" rows="6" name="@productForm("featureList").name"></textarea></p>
        </div>
    </div>

    <!-- row 3: mission statements -->
    <div class="row about-product-row">
        <div class="col-sm-8 about-product-tile--left">
            <div>
                <p class="about-product--header">Mission</p>
                <p><textarea cols="100" rows="6" name="@productForm("missionStatement").name"></textarea></p>
            </div>
        </div>
    </div>

    <!-- row 4: product story -->
    <div class="row about-product-row">
        <div class="col-sm-12 about-product-tile">
            <div class="about-product--story">
                <p class="about-product--header">Story</p>
                <p class="about-product--content">
                <br>Story picture 1 upload here<br>
               Paragraph 1:&nbsp; <textarea cols="100" rows="3" name="@productForm("productAdditionalDetail.productStoryPara1").name"></textarea>
                <br>
                Paragraph 2:&nbsp; <textarea cols="100" rows="3" name="@productForm("productAdditionalDetail.productStoryPara2").name"></textarea>
                <br>Story picture 2 upload here<br>
                Paragraph 3:&nbsp; <textarea cols="100" rows="3" name="@productForm("productAdditionalDetail.productStoryPara3").name"></textarea>
                <br>
                Paragraph 4:&nbsp; <textarea cols="100" rows="3" name="@productForm("productAdditionalDetail.productStoryPara4").name"></textarea>
                
                </p>
            </div>
        </div>
    </div>

    <!-- row 5: product team -->
    <div class="row about-product-row">
        <div class="col-sm-12 about-product-tile">
            <div class="about-product--team">
                <p class="about-product--header">Meet the team</p>
                <div class="fluid-container about-product--team-content">
                    <div class="col-sm-4 about-product--team-member">
                        <b>Team Member 1</b>
                        <br>
                        Load picture here
                    	<br>
                    	Name:&nbsp; <input type="text" size="30" name="@productForm("productAdditionalDetail.member1Name").name"/>
                		<br>
                		Title:&nbsp; <input type="text" size="30" name="@productForm("productAdditionalDetail.member1Title").name"/>
                		<br>
                		Description:&nbsp;<textarea cols="30" rows="2" name="@productForm("productAdditionalDetail.member1Description").name"></textarea>    
                    </div>
                    <div class="col-sm-4 about-product--team-member">
                        <b>Team Member 2</b>
                        <br>
                        Load picture here
                    	<br>
                    	Name:&nbsp; <input type="text" size="30" name="@productForm("productAdditionalDetail.member2Name").name"/>
                		<br>
                		Title:&nbsp; <input type="text" size="30" name="@productForm("productAdditionalDetail.member2Title").name"/>
                		<br>
                		Description:&nbsp;<textarea cols="30" rows="2" name="@productForm("productAdditionalDetail.member2Description").name"></textarea>
                    </div>
                    <div class="col-sm-4 about-product--team-member">
                        <b>Team Member 3</b>
                        <br>
                        Load picture here
                    	<br>
                    	Name:&nbsp; <input type="text" size="30" name="@productForm("productAdditionalDetail.member3Name").name"/>
                		<br>
                		Title:&nbsp; <input type="text" size="30" name="@productForm("productAdditionalDetail.member3Title").name"/>
                		<br>
                		Description:&nbsp;<textarea cols="30" rows="2" name="@productForm("productAdditionalDetail.member3Description").name"></textarea>
                    </div>
                     <div class="col-sm-4 about-product--team-member">
                        <b>Team Member 4</b>
                        <br>
                        Load picture here
                    	<br>
                    	Name:&nbsp; <input type="text" size="30" name="@productForm("productAdditionalDetail.member4Name").name"/>
                		<br>
                		Title:&nbsp; <input type="text" size="30" name="@productForm("productAdditionalDetail.member4Title").name"/>
                		<br>
                		Description:&nbsp;<textarea cols="30" rows="2" name="@productForm("productAdditionalDetail.member4Description").name"></textarea>
                    </div>
                    <div class="col-sm-4 about-product--team-member">
                        <b>Team Member 5</b>
                        <br>
                        Load picture here
                    	<br>
                    	Name:&nbsp; <input type="text" size="30" name="@productForm("productAdditionalDetail.member5Name").name"/>
                		<br>
                		Title:&nbsp; <input type="text" size="30" name="@productForm("productAdditionalDetail.member5Title").name"/>
                		<br>
                		Description:&nbsp;<textarea cols="30" rows="2" name="@productForm("productAdditionalDetail.member5Description").name"></textarea>
                    </div>
                    <div class="col-sm-4 about-product--team-member">
                        <b>Team Member 6</b>
                        <br>
                        Load picture here
                    	<br>
                    	Name:&nbsp; <input type="text" size="30" name="@productForm("productAdditionalDetail.member6Name").name"/>
                		<br>
                		Title:&nbsp; <input type="text" size="30" name="@productForm("productAdditionalDetail.member6Title").name"/>
                		<br>
                		Description:&nbsp;<textarea cols="30" rows="2" name="@productForm("productAdditionalDetail.member6Description").name"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</fieldset>
    <input type="submit" class="btn btn-primary" value="Save">
     <a class="btn" href="@routes.ProductAdministrationController.index()">Cancel</a>
  }
}


</div>

</div>
