@(currentPage: com.avaje.ebean.Page[Product])

<h2><a href="/adminstuff" target="_self" class="btn btn-lg">Admin Home</a></h2>

  <h2>All products
  <a href="/adminstuff/product/new" class="btn" target="_self">
    <i class="icon-plus"></i> &nbsp;+ (New)</a>

  </h2>

    <script>
     function del(urlToDelete) {
        $.ajax({
          url: urlToDelete,
          type: 'DELETE',
          success: function(results) {
            // Refresh the page
            location.reload();
          }
        });
      }
   </script>

   <table class="table table-striped">
    <thead>
      <tr>
        <th>EAN</th>
        <th>Product Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Date added</th>
        <th>Date updated</th>
        <th>is Trial</th>
        <th>is Active</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    @for(product <- currentPage.getList()) {

      <tr>

        <td><a href="@routes.ProductAdministrationController.details(product)" target="_self">
          @product.productEAN
        </a></td>
        <td><a href="@routes.ProductAdministrationController.details(product)" target="_self">
          @product.id</a>
        </td>
        <td><a href="@routes.ProductAdministrationController.details(product)" target="_self">@product.productName</a></td>
        <td><a href="@routes.ProductAdministrationController.details(product)" target="_self">@product.productDescription</a></td>
        <td>@product.createdAt</td>
        <td>@product.updatedAt</td>
        <td><a href="@routes.ProductAdministrationController.details(product)" target="_self">@product.trialSignUpFlag</a></td>
        <td><a href="@routes.ProductAdministrationController.details(product)" target="_self">@product.activeFlag</a></td>

        <td>
          <a href="@routes.ProductAdministrationController.details(product)" target="_self">Edit</a>&nbsp;
          <!-- a href="javascript:del('@routes.ProductAdministrationController.delete(product.id)')" target="_self">Trash</a>  -->
        </td>
      </tr>
      }

    </tbody>
   </table>

   <div id="pagination" class="pagination">
            <ul>
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@routes.ProductAdministrationController.list(currentPage.getPageIndex - 1)" target="_self">&larr; </a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr;</a>
                    </li>
                }
                <li class="current">
                    @currentPage.getDisplayXtoYofZ(" - "," / ")
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@routes.ProductAdministrationController.list(currentPage.getPageIndex + 1)" target="_self"> &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>&rarr;</a>
                    </li>
                }
            </ul>
        </div>



  <a href="/adminstuff/product/new" class="btn" target="_self">
    <i class="icon-plus"></i> New product</a>
