@(currentPage: com.avaje.ebean.Page[Product])

@admin_wrapper("All products available for Trials") {

	<h2><a href="/adminstuff" target="_self">Admin Home</a></h2>
  <h2>All products available for Trials
 
  </h2>



   <table class="table table-striped">
    <thead>
      <tr>
        <th>EAN</th>
        <th>Product Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Units Available</th>
        <th># Trial Requests</th>
        <th>Date added</th>
        <th>Date updated</th>
        <th>Featured</th>
        <th>is Active</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
    @for(product <- currentPage.getList()) {

      <tr>

        <td><a href="@routes.ProductAdministrationController.details(product)" target="_self">
          @product.productEAN 
        </a></td>
        <td><a href="@routes.ProductAdministrationController.details(product)" target="_self">
          @product.id</a>
        </td>
        <td><a href="@routes.ProductAdministrationController.details(product)" target="_self">@product.productName</a></td>
        <td><a href="@routes.ProductAdministrationController.details(product)" target="_self">@product.productDescription</a></td>
        <td align="center">@product.unitsAvailable</td>
        @if(product.trials!=null) {
        <td align="center">@product.trials.size()</td>
        } else {
        <td align="center">0</td>
        }
        <td>@product.createdAt</td>
        <td>@product.updatedAt</td>
        <td><a href="@routes.ProductAdministrationController.details(product)" target="_self">@product.isFeatured</a></td>
        <td><a href="@routes.ProductAdministrationController.details(product)" target="_self">@product.activeFlag</a></td>
        
        <td>
          <a href="@routes.ProductAdministrationController.details(product)" target="_self">Edit</a>&nbsp;
          <!-- a href="javascript:del('@routes.ProductAdministrationController.delete(product.id)')" target="_self">Trash</a>  -->
        </td>
      </tr>
      }
  
    </tbody>
   </table>

   <div id="pagination" class="pagination">
            <ul>
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@routes.ProductAdministrationController.listTrials(currentPage.getPageIndex - 1)" target="_self">&larr; </a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr;</a>
                    </li>
                }
                <li class="current">
                    @currentPage.getDisplayXtoYofZ(" - "," / ")
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@routes.ProductAdministrationController.listTrials(currentPage.getPageIndex + 1)" target="_self"> &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>&rarr;</a>
                    </li>
                }
            </ul>
        </div>

}