<!-- Content -->
<div class="col-sm-9" up-product-update product="product">
    <!-- Basic Information -->
    <div class="product-edit--header">Basic Information</div>
    <div class="row product-input-row">
        <div class="col-sm-12 product-input-cell">
            <input type="text" class="form-control form-validate form-input medium" placeholder="Product name" ng-model="product.productName">
        </div>
    </div>
    <div class="row product-input-row">
        <div class="col-sm-12 product-input-cell">
            <input type="text" class="form-control form-input medium" placeholder="Product punchline, please be concise" ng-model="product.productDescription">
        </div>
    </div>

    <!-- URLs -->
    <div class="product-edit--header">Website and Social Media</div>
    <div class="row product-input-row">
        <div class="col-sm-12 product-input-cell">
            <input type="text" class="form-control form-input medium left-feedback" placeholder="Product page: www.example.com" ng-model="product.urlHome" required>
            <span class="fa fa-lg fa-home"></span>
        </div>
    </div>
    <div class="row product-input-row">
        <div class="col-sm-12 product-input-cell">
            <input type="text" class="form-control form-input medium left-feedback" placeholder="Product Facebook: facebook.com/example" ng-model="product.urlFacebook" required>
            <span class="fa fa-lg fa-facebook-square"></span>
        </div>
    </div>
    <div class="row product-input-row">
        <div class="col-sm-12 product-input-cell">
            <input type="text" class="form-control form-input medium left-feedback" placeholder="Product Twitter: twitte.com/example" ng-model="product.urlTwitter" required>
            <span class="fa fa-lg fa-twitter-square"></span>
        </div>
    </div>
    <div class="row product-input-row">
        <div class="col-sm-12 product-input-cell">
            <input type="text" class="form-control form-input medium left-feedback" placeholder="Product Instagram: instagram.com/example" ng-model="product.urlInstagram" required="false">
            <span class="fa fa-lg fa-instagram"></span>
        </div>
    </div>

    <!-- Video -->
    <div class="product-edit--header">Product Video</div>
    <div class="row product-input-row">
        <div class="col-sm-12 product-input-cell">
            <input type="text" class="form-control form-input medium left-feedback" placeholder="Product video URL (YouTube, Vimeo, etc.)">
            <span class="fa fa-lg fa-video-camera"></span>
        </div>
    </div>

    <!-- Product description -->
    <div class="product-edit--header">Detailed Product Information</div>
    <div class="row product-input-row">
        <div class="col-sm-12 product-input-cell">
            <textarea class="form-control form-input-textarea" placeholder="Detailed product description" rows="2" ng-model="product.productLongDescription"></textarea>
        </div>
    </div>
    <div class="row product-input-row">
        <div class="col-sm-12 product-input-cell">
            <textarea class="form-control form-input-textarea" placeholder="List cool features about your product here" rows="2" ng-model="product.featureList"></textarea>
        </div>
    </div>
    <div class="row product-input-row">
        <div class="col-sm-12 product-input-cell">
            <textarea class="form-control form-input-textarea" placeholder="The mission of your company and product" rows="2" ng-model="product.missionStatement"></textarea>
        </div>
    </div>

    <!-- Our Story -->
    <div class="product-edit--header">Your Story</div>
    <div class="row product-input-row">
        <div class="col-sm-12 product-input-cell">
            <textarea class="form-control form-input-textarea" placeholder="Tell a compelling story about your product, company, and team" rows="2" ng-model="product.productStory"></textarea>
        </div>
    </div>

    <div class="add-product-actions">
        <button class="btn btn-lg add-product-btn save" type="submit" ng-click="update()">Save</button>
        <button class="btn btn-lg add-product-btn cancel" type="submit" ng-click="cancel()">Cancel</button>
    </div>
</div>
