<!-- Banner -->
<div class="dashboard-banner" up-background-image="{{product.banner.url.image}}" up-background-attr="?w=1600" up-fallback-image="/assets/images/default-product-banner.jpg">
<div class="col-lg-12 dashboard-title">
    <h1>{{product.productName}}</h1>
</div>
</div>

<!-- TOC -->
<div class="col-sm-3">
    <div class="list-group">
        <a ui-sref="dashboard.products.info({ slug: product.slug })" class="list-group-item" ui-sref-active="active">Product Information</a>
        <a ui-sref="dashboard.products.analytics({ slug: product.slug })" class="list-group-item" ui-sref-active="active">Analytics<span>Coming soon</span></a>
        <a ui-sref="dashboard.products.users({ slug: product.slug })" class="list-group-item" ui-sref-active="active">Users<span>Coming soon</span></a>
        <a ui-sref="dashboard.products.feedback({ slug: product.slug })" class="list-group-item" ui-sref-active="active">Feedback<span>Coming soon</span></a>
    </div>
</div>

<!-- menu item content goes here -->
<div ui-view></div>
