<div class="my-content-comments">
    <!-- Existing comments -->
    <div class="row my-content-comment-row" ng-repeat="comment in vm.comments | orderBy: 'createdAt'">
        <div class="col-sm-2 my-content-user-avatar comment-user-avatar">
            <a ui-sref="user.profile.buzz({ nickname: comment.user.nickname })">
                <img class="img-responsive post-comment-user-img-circle img-center" ng-src="{{ comment.user.avatarUrl }}">
            </a>
        </div>
        <div class="col-sm-10 my-content-comment-blurb">
            <p class="my-content-user comment"><a analytics-on="click" analytics-event="Check Public Profile" analytics-user="{{comment.user.nickname}}" ui-sref="user.profile.buzz({ nickname: comment.user.nickname })">{{ comment.user.name }}</a></p>
            <p class="my-content-timestamp comment">{{ comment.created | fromNow }}</p>
            <p class="my-content-text comment" ng-bind-html="comment.body | urlify"></p>
        </div>
    </div>
    <button ng-if="!vm.commenting" ng-hide="vm.state === 'user.buzz' && vm.comments.length < 1" subject-present="vm.handleAddCommentClick()" state="{{ vm.state }}" class="add-comment-button" ng-class="{ 'suggest': vm.state === 'user.suggest', 'buzz': vm.state === 'user.buzz' }">ADD COMMENT</button>
    <!-- New comment from current user -->
    <div class="row my-content-comment-row" ng-if="vm.commenting">
        <div class="col-sm-2 my-content-user-avatar comment-user-avatar">
            <img class="img-responsive post-comment-user-img-circle img-center" ng-src="{{ vm.user.avatarUrl }}">
        </div>
        <form name="form" novalidate>
            <div class="col-md-10 col-sm-10 post-blurb">
                <div class="post-comment-form">
                    <textarea name="comment" placeholder="Write a comment... Be cool / kind / funny / constructive / helpful..." class="form-control post-comment-textarea" rows="2" ng-model="vm.newComment" required=""></textarea>
                </div>
                <div class="post-new-comment-actions">
                    <button type="submit" class="btn btn-post btn-post-default" ng-click="vm.addComment($event)" ng-disabled="vm.disabled || form.comment.$error.required" ng-class="{'disabled': vm.disabled || form.comment.$error.required}">
                        <span ng-hide="vm.disabled">Post</span>
                        <span us-spinner class="comment-spinner" spinner-key="spinner-3"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
