<section id="post-comments">
    <!-- new comment from current user -->
    <div class="row my-content-comment-row">
        <div class="col-md-2 col-sm-2 post-comment-user-avatar">
            <img class="img-responsive post-comment-user-img-circle img-center" ng-src="{{ vm.user.avatarUrl }}">
        </div>
        <form>
            <div class="col-md-10 col-sm-10 post-comment-blurb">
                <div class="post-comment-form">
                    <textarea name="content" class="form-control post-comment-textarea" rows="2" ng-model="vm.newComment"></textarea>
                </div>
                <div class="post-new-comment-actions">
<!--                     <button type="button" class="btn btn-cancel-post">Cancel</button> -->
                    <button type="submit" class="btn btn-post" ng-click="vm.addComment()">Post</button>
                </div>
            </div>
        </form>
    </div>

<!--     <div class="row my-content-comment-row">
        <div class="col-sm-2 my-content-user-avatar">
            <img class="img-responsive my-content-user-img-sm img-center" src="@routes.Assets.at("images/user/UM9WLXps_400x400.png")">
        </div>
        <div class="col-sm-10 my-content-comment-blurb">
            <p class="my-content-user comment">User Name<span>@@twitterhandle</span></p>
            <p class="my-content-timestamp comment">Yesterday at 4:30pm</p>
            <p class="my-content-text comment">After LeBron James announces a partnership with Warner Bros., thirst for 'Space Jam 2' overruns the Internet.</p>
            <div class="my-content-actions">
                <a href="#">UPVOTE (89)</a>
                <a href="#">SHARE</a>
            </div>
        </div>
    </div> -->

    <!-- existing comments -->
    <div class="row my-content-comment-row" ng-repeat="comment in vm.comments.data | orderBy: '-createdAt'">
        <a/>
        <div class="col-md-2 col-sm-2 post-comment-user-avatar">
            <img class="img-responsive post-comment-user-img-circle img-center" ng-src="{{ comment.user.avatarUrl }}">
        </div>
        <div class="col-md-10 col-sm-10 post-comment-blurb">
            <div class="my-content-user comment">{{ comment.user.name }}<span>@{{ comment.user.handleTwitter }}</div>
            <div class="my-content-timestamp">{{ comment.createdAt | fromNow }}</div>
            <div class="my-content-text comment">
                <p>{{ comment.body }}</p>
            </div>
            <div class="my-content-actions">
                <up-like likes="comment.likes" up-id="comment.id" up-type="models.comment"></up-like>
            </div>
        </div>
    </div>
</section>