<div class="my-content-comments">
    <!-- Existing comments -->
    <div class="row my-content-comment-row" ng-repeat="comment in vm.comments.data | orderBy: 'createdAt'">
        <div class="col-sm-2 my-content-user-avatar">
            <img class="img-responsive post-comment-user-img-circle img-center" ng-src="{{ comment.user.avatarUrl }}">
        </div>
        <div class="col-sm-10 my-content-comment-blurb">
            <p class="my-content-user comment">{{ comment.user.name }}
                <a ng-href="{{ comment.user.urlTwitter }}" target="blank"><span>@{{ comment.user.handleTwitter }}</span></a>
            </p>
            <!-- <p class="my-content-user comment">{{ comment.user.name }}<span>@{{ comment.user.handleTwitter }}</span></p> -->
            <p class="my-content-timestamp comment">{{ comment.createdAt | fromNow }}</p>
            <p class="my-content-text comment" ng-hide="comment.htmlBody">{{ comment.body }}</p>
            <p class="my-content-text comment" ng-show="comment.htmlBody" ng-bind-html="comment.htmlBody"></p>
            <div class="my-content-actions">
                <up-like likes="comment.likes" up-id="comment.id" up-type="models.comment"></up-like>
            </div>
        </div>
    </div>
    <!-- New comment from current user -->
    <div class="row my-content-comment-row" ng-show="vm.commenting">
        <div class="col-sm-2 my-content-user-avatar">
            <img class="img-responsive post-comment-user-img-circle img-center" ng-src="{{ vm.user.avatarUrl }}">
        </div>
        <form>
            <div class="col-md-10 col-sm-10 post-blurb">
                <div class="post-comment-form">
                    <textarea name="content" placeholder="Write a comment... Be cool / kind / funny / constructive / helpful..." class="form-control post-comment-textarea" rows="2" ng-model="vm.newComment"></textarea>
                </div>
                <div class="post-new-comment-actions">
                    <button type="submit" class="btn btn-post btn-post-default" ng-click="vm.addComment()">Post</button>
                </div>
            </div>
        </form>
    </div>
</div>
