<div class="row marketing-container">
    <div class="signup-login-header">
        <p>Forgot password? We've got you covered.</p>
    </div>
    <div class="signup-login-area">
        <div class="sign-in-header reset">
            <div>To reset your password, enter the email address you signed up with and we'll send you instructions to reset the password.</div>
        </div>
        <form name="signupForm" class="signupForm" novalidate>
            <div class="signup-login-form">
                <div class="signup-login-form--error-message" ng-show="vm.form.error"><i class="fa fa-minus-circle"></i>{{vm.form.error}}</div>
                <!-- email -->
                <input ng-model="vm.form.email" required="" class="form-control form-validate signup-login-input" id="email" type="email" name="yourEmail" placeholder="e.g. name@company.com">
                <div ng-show="signupForm.$submitted || signupForm.yourEmail.$touched">
                    <div class="signup-login-form--error-message" ng-show="signupForm.yourEmail.$error.required"><i class="fa fa-minus-circle"></i>Please let us know your email</div>
                    <div class="signup-login-form--error-message" ng-show="signupForm.yourEmail.$error.email"><i class="fa fa-minus-circle"></i>Err, you sure the email is valid?</div>
                </div>
                <button ng-disabled="signupForm.$invalid" class="btn btn-lg signup-login-btn" type="submit" ng-click="vm.signup()">Send reset instructions</button>
            </div>
        </form>
    </div>
</div>