<div class="row marketing-container">
    <div class="signup-login-header">
        <p>Reset your password</p>
    </div>
    <div class="signup-login-area">
        <div class="sign-in-header reset">
            <div>Hi, Tao Ni! Please create a new password that is at least 6 characters long.</div>
        </div>
        <form name="signupForm" class="signupForm" novalidate>
            <div class="signup-login-form">
                <!-- password -->
                <input ng-model="vm.form.password" required="" ng-minlength="6" class="form-control form-validate signup-login-input" id="password" type="password" name="yourPassword" placeholder="New password">
                <input ng-model="vm.form.password" required="" ng-minlength="6" class="form-control form-validate signup-login-input" id="confirmPassword" type="password" name="confirmPassword" placeholder="Confirm new password">
                <div ng-show="signupForm.$submitted || signupForm.confirmPassword.$touched">
                    <div class="signup-login-form--error-message" ng-show="signupForm.confirmPassword.$error.required"><i class="fa fa-minus-circle"></i>A password is necessary, no?</div>
                    <div class="signup-login-form--error-message" ng-show="signupForm.confirmPassword.$error.minlength"><i class="fa fa-minus-circle"></i>6 or more characters would be safer</div>
                </div>
                <button ng-disabled="signupForm.$invalid" class="btn btn-lg signup-login-btn" type="submit" ng-click="vm.signup()">Reset password</button>
            </div>
        </form>
    </div>
</div>