@(providerKey: String)

@moreHead = {
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/signup.css")">
}

@main(Messages("Oops..."), moreHead) {

		<div class="container">
			<div class="row text-center">
				<div class="col-md-12">
					<h1 class="verify-header">Oops...</h1>
					<p class="verify-message">If you want to join SproutUp with facebook, you need to accept the connection.
					</p>
					<p class="verify-message">If you rather not like to do this, you can also <a href="">sign up with a username and password instead.</a>
					</p>
				</div>
			</div>
		</div>

}
