@(emailForm: Form[providers.MyUsernamePasswordAuthProvider.MyIdentity])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@main(Messages("Forgot Password")) {

	<div class="row">

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="form-header">Forgot password? Not a problem.</h1>
				</div>
			</div>
		</div>

		<div class="row login-form-block">
			<div class="col-md-8 col-md-offset-2">

				@helper.form(routes.Signup.doForgotPassword) {

					@if(emailForm.hasGlobalErrors) {
						<p class="alert alert-danger">
							@emailForm.globalError.message
						</p>
					}

					@inputText(
					emailForm("email"),
					'_label -> "Email"
					)

					<button type="submit" class="btn btn-primary btn-lg btn-block">Send reset instruction</button>

				}

			</div>
		</div>

}
