@(resetForm: Form[controllers.Signup.PasswordReset])

@moreHead = {
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/signup.css")">
}

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@main(Messages("Reset Password"), moreHead) {

	<div class="row">

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="form-header">Reset your password</h1>
				</div>
			</div>
		</div>

		<div class="row login-form-block">
			<div class="col-md-8 col-md-offset-2">

				@helper.form(routes.Signup.doResetPassword) {

					@if(resetForm.hasGlobalErrors) {
						<p class="alert alert-danger">
							@resetForm.globalError.message
						</p>
					}

					@input(
					resetForm("token"),
					'_label -> "",
					'_showConstraints -> false

					) { (id, name, value, args) =>
						<input type="hidden" value="@value" name="@name" id="@id" @toHtmlArgs(args)>
					}

					@inputPassword(
					resetForm("password"),
					'_label -> "Password",
					'placeholder -> "Choose something memorable this time :)"
					)

					@inputPassword(
					resetForm("repeatPassword"),
					'_label -> "Confirm Password",
					'placeholder -> "Please confirm"
					)


					<button type="submit" class="btn btn-primary btn-lg btn-block">Reset</button>

				}

			</div>
		</div>

	}
