<!-- Banner -->
<div class="row dashboard-page">
    <div class="dashboard-banner" up-background-image="/assets/images/default-profile-banner.jpg" up-background-attr="?w=1600">
        <div class="row user-profile-info">
            <div class="col-sm-4 user-profile-info--avartar">
                <up-avatar-upload user="vm.user"></up-avatar-upload>
                <!--img class="profile-avatar--img-circle img-responsive" src="{{vm.user.avatarUrl}}"-->
            </div>
            <div class="col-sm-8 user-profile-info--title">
                <h1>{{vm.user.name}}<span>@{{vm.user.nickname}}</span></h1>
                <ul class="list-inline profile-user-social-buttons">
                    <li ng-repeat="network in vm.network">
                        <a ng-href="{{ network.url }}" target="_blank" ng-if="network.provider === 'tw'"><i class="fa fa-twitter"></i></a>
                        <a ng-href="{{ network.url }}" target="_blank" ng-if="network.provider === 'ga'"><i class="fa fa-rss"></i></a>
                        <a ng-href="{{ network.url }}" target="_blank" ng-if="network.provider === 'yt'"><i class="fa fa-youtube"></i></a>
                        <a ng-href="{{ network.url }}" target="_blank" ng-if="network.provider === 'ig'"><i class="fa fa-instagram"></i></a>
                        <a ng-href="{{ network.url }}" target="_blank" ng-if="network.provider === 'fb'"><i class="fa fa-facebook"></i></a>
                        <a ng-href="{{ network.url }}" target="_blank" ng-if="network.provider === 'pi'"><i class="fa fa-pinterest"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- TOC -->
    <div class="col-sm-3">
        <div class="list-group">
            <a ui-sref="user.settings.profile" class="list-group-item" ui-sref-active="active">Profile</a>
            <a ui-sref="user.settings.social" class="list-group-item" ui-sref-active="active">Social Networks<span class="new-feature-label">NEW</span></a>
            <!-- <a ui-sref="user.settings.analytics" class="list-group-item" ui-sref-active="active">Analytics<span class="new-feature-label">NEW</span></a> -->
        </div>
    </div>

    <!-- menu item content goes here -->
    <div ui-view></div>
</div>
