<div class="col-sm-9">
    <div class="profile-edit--header">Social Media Connections</div>
    <table class="table table-striped table-responsive analytics-table">
        <thead>
            <th>Network</th>
            <th>Reach</th>
            <th></th>
        </thead>
        <tbody>
            <!-- Twitter -->
            <tr>
                <td class="social-media-connection-name"><img class="social-media-icons" src="assets/images/settings/twitter.png">Twitter</td>
                <td>
                    <p>{{vm.reach.tw}}</p>
                    <p class="social-media-connection-status" ng-show='vm.network.tw.connected && vm.network.tw.error'>Connection error: please reauthorize or <a href="#" ng-click="vm.disconnect('tw')">disconnect</a></p>
                </td>
                <td class="social-media-connection-action">
                    <a ng-hide='vm.network.tw.connected' analytics-on="click" analytics-event="Authorize" analytics-properties="{provider: 'tw'}" class="btn btn-lg sproutup-btn-md-main" ng-click="vm.connect('tw')">Connect</a>
                    <a href="#" ng-show='vm.network.tw.connected && !vm.network.tw.error' analytics-on="click" analytics-event="Disconnect" analytics-properties="{provider: 'tw'}" class="" ng-click="vm.disconnect('tw')">Disconnect</a>
                    <a ng-show='vm.network.tw.connected && vm.network.tw.error' analytics-on="click" analytics-event="Reauthorize" analytics-properties="{provider: 'tw'}" class="btn btn-lg sproutup-btn-md-main red" ng-click="vm.reauthorize('tw')">Reauthorize</a>
                </td>
            </tr>
            <!-- YouTube -->
            <tr>
                <td><img class="social-media-icons" src="assets/images/settings/youtube.png">Youtube</td>
                <td>
                    <p>{{vm.reach.yt}}</p>
                    <p class="social-media-connection-status" ng-show='vm.network.yt.connected && vm.network.yt.error'>Connection error: please reauthorize or <a href="#" ng-click="vm.disconnect('yt')">disconnect</a></p>
                </td>
                <td class="social-media-connection-action">
                    <a ng-hide='vm.network.yt.connected' analytics-on="click" analytics-event="Authorize" analytics-properties="{provider: 'yt'}" class="btn btn-lg sproutup-btn-md-main" ng-click="vm.connect('yt')">Connect</a>
                    <a href="#" ng-show='vm.network.yt.connected && !vm.network.yt.error' analytics-on="click" analytics-event="Disconnect" analytics-properties="{provider: 'yt'}" class="" ng-click="vm.disconnect('yt')">Disconnect</a>
                    <a ng-show='vm.network.yt.connected && vm.network.yt.error' analytics-on="click" analytics-event="Reauthorize" analytics-properties="{provider: 'yt'}" class="btn btn-lg sproutup-btn-md-main orange" ng-click="vm.reauthorize('yt')">Reauthorize</a>
                </td>
            </tr>
            <!-- Google Analytics -->
            <tr>
                <td><img class="social-media-icons" src="assets/images/settings/google-analytics.png">Google Analytics</td>
                <td>
                    <p>{{vm.reach.ga}}</p>
                    <p class="social-media-connection-status" ng-show='vm.network.ga.connected && vm.network.ga.error'>Connection error: please reauthorize or <a href="#" ng-click="vm.disconnect('ga')">disconnect</a></p>
                </td>
                <td class="social-media-connection-action">
                    <a ng-hide='vm.network.ga.connected' analytics-on="click" analytics-event="Authorize" analytics-properties="{provider: 'ga'}" class="btn btn-lg sproutup-btn-md-main" ng-click="vm.connect('ga')">Connect</a>
                    <a href="#" ng-show='vm.network.ga.connected && !vm.network.ga.error' analytics-on="click" analytics-event="Disconnect" analytics-properties="{provider: 'ga'}" class="" ng-click="vm.disconnect('ga')">Disconnect</a>
                    <a ng-show='vm.network.ga.connected && vm.network.ga.error' analytics-on="click" analytics-event="Reauthorize" analytics-properties="{provider: 'ga'}" class="btn btn-lg sproutup-btn-md-main red" ng-click="vm.reauthorize('ga')">Reauthorize</a>
                </td>
            </tr>
            <!-- Facebook -->
            <tr>
                <td><img class="social-media-icons" src="assets/images/settings/facebook.png">Facebook</td>
                <td>
                    <p>{{vm.reach.fb}}</p>
                    <p class="social-media-connection-status" ng-show='vm.network.fb.connected && vm.network.fb.error'>Connection error: please reauthorize or <a href="#" ng-click="vm.disconnect('fb')">disconnect</a></p>
                </td>
                <td class="social-media-connection-action">
                    <a ng-hide='vm.network.fb.connected' analytics-on="click" analytics-event="Authorize" analytics-properties="{provider: 'fb'}" class="btn btn-lg sproutup-btn-md-main" ng-click="vm.connect('fb')">Connect</a>
                    <a href="#" ng-show='vm.network.fb.connected && !vm.network.fb.error' analytics-on="click" analytics-event="Disconnect" analytics-properties="{provider: 'fb'}" class="" ng-click="vm.disconnect('fb')">Disconnect</a>
                    <a ng-show='vm.network.fb.connected && vm.network.fb.error' analytics-on="click" analytics-event="Reauthorize" analytics-properties="{provider: 'fb'}" class="btn btn-lg sproutup-btn-md-main red" ng-click="vm.reauthorize('fb')">Reauthorize</a>
                </td>
            </tr>
            <!-- Instagram -->
            <tr>
                <td><img class="social-media-icons" src="assets/images/settings/instagram.png">Instagram</td>
                <td>
                    <p>{{vm.reach.ig}}</p>
                    <p class="social-media-connection-status" ng-show='vm.neigork.tw.connected && vm.network.ig.error'>Connection error: please reauthorize or <a href="#" ng-click="vm.disconnect('ig')">disconnect</a></p>
                </td>
                <td class="social-media-connection-action">
                    <a ng-show='vm.network.ig.status===0' analytics-on="click" analytics-event="Authorize" analytics-properties="{provider: 'ig'}" class="btn btn-lg sproutup-btn-md-main" ng-click="vm.connect('ig')">Connect</a>
                    <a ng-show='vm.network.ig.status===1' analytics-on="click" analytics-event="Disconnect" analytics-properties="{provider: 'ig'}" class="" ng-click="vm.disconnect('ig')" href="#">Disconnect</a>
                    <a ng-show='vm.network.ig.status==-1' analytics-on="click" analytics-event="Reauthorize" analytics-properties="{provider: 'ig'}" class="btn btn-lg sproutup-btn-md-main red" ng-click="vm.reauthorize('ig')">Reauthorize</a>
                </td>
            </tr>
            <!-- Instagram -->
            <tr>
                <td><img class="social-media-icons" src="assets/images/settings/pinterest.png">Pinterest</td>
                <td>
                    <p>{{vm.reach.pi}}</p>
                    <p class="social-media-connection-status" ng-show='vm.network.pi.connected && vm.network.pi.error'>Connection error: please reauthorize or <a href="#" ng-click="vm.disconnect('pi')">disconnect</a></p>
                </td>
                <td class="social-media-connection-action">
                    <a ng-hide='vm.network.pi.connected' analytics-on="click" analytics-event="Authorize" analytics-properties="{provider: 'pi'}" class="btn btn-lg sproutup-btn-md-main" ng-click="vm.connect('pi')">Connect</a>
                    <a href="#" ng-show='vm.network.pi.connected && !vm.network.pi.error' analytics-on="click" analytics-event="Disconnect" analytics-properties="{provider: 'pi'}" class="" ng-click="vm.disconnect('pi')">Disconnect</a>
                    <a ng-show='vm.network.pi.connected && vm.network.pi.error' analytics-on="click" analytics-event="Reauthorize" analytics-properties="{provider: 'pi'}" class="btn btn-lg sproutup-btn-md-main red" ng-click="vm.reauthorize('pi')">Reauthorize</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
