@(changeForm: Form[controllers.Account.PasswordChange])

@moreHead = {
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/signup.css")">
}

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@main(Messages("Change Password"), moreHead) {

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="form-header">Change Password</h1>
				</div>
			</div>
		</div>

		<div class="row login-form-block">
			<div class="col-md-8 col-md-offset-2">

				@helper.form(routes.Account.doChangePassword) {

					@if(changeForm.hasGlobalErrors) {
						<p class="alert alert-danger">
							@changeForm.globalError.message
						</p>
					}

					@inputPassword(
					changeForm("password"),
					'_label -> "Password",
					'placeholder -> "Change to something you can remember :)"
					)

					@inputPassword(
					changeForm("repeatPassword"),
					'_label -> "Confirm Password",
					'placeholder -> "Please confirm"
					)

					<button type="submit" class="btn btn-primary btn-lg btn-block">Change my password</button>

				}

			</div>
		</div>
}
