@import "global";

#story {
  margin-top: 0px;
  margin-bottom: 60px;
}

.story-title {
  padding-top: 20px;
  padding-bottom: 10px;
  color: @sproutup-blue;
  font-weight: 300;
  font-size: 32pt;
}

.story-content {
  padding-left: 7%;
  padding-right: 7%;
  line-height: 1.5;
  font-size: 14pt;
  color: #434343;
  font-weight: 300;
}

.team-banner {
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 40px;
  color: #fff;
  background: url(../images/about/team_banner.png) no-repeat center center;
  background-size: cover;
}

.team-img-circle {
  background:#555;
  width: 140px;
  height: 140px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}

.team-section-title {
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 32pt;
  font-family: "lato",Helvetica,Arial,sans-serif;
  font-weight: 300;
}

.team-section-subtitle {
  padding-bottom: 50px;
  padding-left: 7%;
  padding-right: 7%;
  line-height: 1.5;
  font-size: 14pt;
  font-family: "lato", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  margin: 0 auto;
  border: 2px solid #ccc;
}

.team-member > h3 {
  margin-top: 15px;
  margin-bottom: 0px;
  font-family: "lato",Helvetica,Arial,sans-serif;
  font-size: 13pt;
  font-weight: 400;
}

.team-member > h4 {
  margin-top: 0px;
  margin-bottom: 5px;
  padding: 10px;
  font-family: "Lato",Helvetica,Arial,sans-serif;
  font-size: 10.5pt;
  font-weight: 300;
  color: @main-text-white;
  line-height: 1.5;
}

ul.social-buttons li a {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  font-size: 11pt;
  line-height: 36px;
  outline: 0;
  color: #fff;
  background-color: none;
  border: solid 1px #fff;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  border: solid 1px @sproutup-blue;
  background-color: @sproutup-blue;
  color: #fff;
}
