@import "global";

#story {
  margin-top: 80px;
  margin-bottom: 0px;
}

.story-title {
    max-width: 800px;
    margin: 0 auto;
  text-align: center;
  padding: 20px 10px;
  color: @sproutup-blue;
  font-weight: 300;
  font-size: 32pt;
}

.story-content {
  margin: 0 auto;
  text-align: center;
  max-width: 800px;
  padding: 0px 10px 20px;
  line-height: 1.7;
  font-size: 13.5pt;
  color: @main-text;
  font-weight: 400;
}

.story-content-footer {
  margin: 0 auto;
  text-align: center;
  max-width: 750px;
  padding: 0px 10px 20px;
  line-height: 1.7;
  font-size: 12pt;
  color: @main-text-verylight;
  font-weight: 400;
}

.team-banner {
  margin-top: 20px;
  margin-bottom: 0;
  color: #fff;
  background: url(../images/about/team_banner.jpg) no-repeat center center;
  background-size: cover;
  padding: 15px 0px;
}

.team-img {
  width: 160px;
  height: 160px;
  border-radius: 160px;
  border: 1px solid @form-border;
}

.team-section-title {
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 32pt;
  font-family: "lato",Helvetica,Arial,sans-serif;
  font-weight: 300;
}

.team-section-subtitle {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1.5;
  font-size: 14pt;
  font-family: "lato", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.team-member {
  text-align: center;
  margin: 0px;
  overflow: hidden;
  min-height: 340px;
}

.team-member img {
  margin: 0 auto;
}

.team-member > h3 {
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 14pt;
  font-weight: 400;
}

.team-member > h4 {
  margin-top: 0px;
  margin-bottom: 5px;
  padding: 10px 0px;
  font-size: 12pt;
  font-weight: 300;
  color: @main-text-white;
  line-height: 1.5;
}

.team-member > h4 a {
  color: @main-text-white;
  text-decoration: underline;
}

.team-member > h4 a:hover {
  color: @sproutup-blue-bright;
  text-decoration: underline;
}

ul.social-buttons li a {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  font-size: 11pt;
  line-height: 36px;
  outline: 0;
  color: #fff;
  background-color: none;
  border: solid 1px #fff;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

ul.social-buttons li a:hover {
  border: solid 1px @sproutup-blue;
  background-color: @sproutup-blue;
  color: #fff;
}

.sproutup-team {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}
