@import "global";

.wrapper-ambassador {
    margin: 80px 20px;
}

.ambassador-header {
	max-width: 750px;
	margin: 0px auto;
	padding: 15px 10px;
}

.ambassador-header h3 {
	font-weight: 400;
	font-size: 16pt;
	color: @main-text-1;
	padding: 0px;
	margin: 0px;
}

.ambassador-header p {
	font-weight: 400;
	font-size: 12pt;
	line-height: 1.6;
	color: @main-text-1;
	padding: 20px 0px 10px;
	margin: 0px;
}

.wrapper-ambassador-product {
	max-width: 720px;
	margin: 0px auto;
	padding: 40px 0px;
}

.ambassador-product-info {
	margin: 0px 0px 20px;
	padding: 0px 0px 15px;
	border-bottom: 1px solid @sproutup-grey;
}

.ambassador-product-info h3 {
	font-size: 13pt;
	font-weight: 400;
	font-color: @main-text;
	padding: 0px 0px 10px;
	margin: 0px;
}

.ambassador-product-info p {
	font-size: 11pt;
	font-weight: 400;
	color: @main-text-2;
	padding: 0px;
	margin: 0px;
}

.wrapper-ambassador-summary {		
	margin: 0px 0px 20px;
	padding: 0px 0px 15px;
	border-bottom: 1px solid @sproutup-grey;
}

.ambassador-summary {
	margin: 0px;
	padding: 0px;
}

.ambassador-summary h3 {
	font-size: 13pt;
	font-weight: 400;
	color: @main-text;
	padding: 0px 0px 10px;
	margin: 0px;
}

.ambassador-summary p {
	font-size: 22pt;
	font-weight: 700;
	color: @sproutup-blue;
	padding: 0px;
	margin: 0px;
}

.wrapper-ambassador-content {
	max-width: 800px;
	margin: 0px auto;
	padding: 40px 0px 20px;
	border-bottom: 1px solid @sproutup-grey;
	overflow: hidden;
}

.ambassador-content {
	padding: 0px 5px;
	background-color: @sproutup-green;
	min-height: 200px;
}

.ambassador-content p {
	padding: 25px 40px;
	font-size: 16pt;
	font-weight: 700;
	line-height: 1.6;
	color: @main-text-white;
}

.ambassador-content .ambassador-content-author-name {
	float: left;
	font-weight: 300;
	font-size: 10pt;
	color: white;
	padding: 20px;
}

.ambassador-content .ambassador-content-author-name a {
	font-weight: 700;
	font-size: 10pt;
	color: white;
}

.ambassador-content-stat {
	margin: 0px;
	padding: 0px 0px 15px;
}

.ambassador-content-stat h3 {
	font-size: 11pt;
	font-weight: 400;
	color: @main-text;
	padding: 0px 0px 4px;
	margin: 0px;
}

.ambassador-content-stat p {
	font-size: 16pt;
	font-weight: 700;
	color: @sproutup-green;
	padding: 0px;
	margin: 0px;
}

.ambassador-activity {
	padding: 10px 0px;
}

.ambassador-activity-item {
	margin: 0px;
	padding: 5px;
}

.sproutup-btn-md-main.twitter {
	background-color: @twitter-blue;
}

.sproutup-btn-md-main.twitter:hover {
	background-color: @twitter-blue-hover;	
}

.sproutup-btn-md-main.facebook {
	background-color: @facebook-blue;
}

.sproutup-btn-md-main.facebook:hover {
	background-color: @facebook-blue-hover;	
}

.sproutup-btn-md-main.pinterest {
	background-color: @pinterest-red;
}

.sproutup-btn-md-main.pinterest:hover {
	background-color: @pinterest-red-hover;
}

.sproutup-btn-md-main.tumblr {
	background-color: @tumblr-blue;
}

.sproutup-btn-md-main.tumblr:hover {
	background-color: @tumblr-blue-hover;
}

.wrapper-ambassador .sproutup-btn-md-main {
	padding-top: 12px;
	height: 75px;
	width: 100%;
}

.sproutup-btn-md-main span {
	display: block;
	font-weight: 300;
	font-size: 10pt;
	padding-bottom: 6px;
}

.wrapper-ambassador .sproutup-tabs--content {
	padding-top: 0px;
}

.ambassador-content-author-photo {
	border-radius: 500px;
	width: 56px;
	height: auto;
	margin-left: 35px;
	margin-bottom: 25px;
	margin-top: 0px; 
	border: 2px solid white;
	float: left;
}

.wrapper-ambassador-content-creation {
	max-width: 800px;
	margin: 0px auto;
	padding: 20px 0px;
	overflow: hidden;
}

.ambassador-content-creation p {
	max-width: 640px;
	font-weight: 400;
	font-size: 14pt;
	line-height: 1.6;
	color: @sproutup-darkgold;
	padding: 10px 0px 20px;
	margin: 0px auto;
}















