@import "global";

.community-page {
  margin: 0px 0px 80px;
}

.community-header {
  width: 100%;
  height: 480px;
  text-align: center;
  margin-bottom: 20px;
  background: url(../images/community.jpg) no-repeat center center;
  background-size: cover;
  color: @main-text-white;
}

.community-header--message {
  padding: 100px 15px 0px;
  max-width: 900px;
  margin: 0px auto;
}

.community-header--message > h1 {
  font-weight: 300;
  font-size: 40pt;
}

.community-header--message > h3 {
  font-weight: 300;
  padding-top: 20px;
  font-size: 20pt;
  line-height: 1.5;
}

.community-title {
  text-align: center;
  font-weight: 300;
  font-size: 40pt;
  color: @main-text;
  padding: 20px 10px 10px;
}

.community-subtitle {
  text-align: center;
  font-weight: 300;
  font-size: 15pt;
  color: @main-text;
  padding: 10px 10px 0px;
  max-width: 900px;
  margin: 0px auto;
  line-height: 1.5;
}

.community-block {
  margin: 20px auto;
  padding: 0px 10px;
  max-width: 1100px;
}

.community-blurb {
  border: solid 4px #fff;
  min-height: 300px;
}

.community-blurb.yes {
  background-color: @sproutup-green;
  min-height: 100px;
}

.community-blurb.no {
  background-color: @sproutup-orange;
  min-height: 90px;
}

.community-blurb.features {
  background-color: @sproutup-verylightgrey;
  min-height: 360px;
}

.community-blurb-content {
  padding: 20px 5px;
  color: #ffffff;
}

.community-blurb-content i {
  padding: 0px;
}

.community-blurb-content h1 {
  font-weight: 400;
  font-size: 24pt;
  text-align: center;
  padding: 0px;
  margin: 15px 0px 10px;
}

.community-blurb.no .community-blurb-content h1 {
  font-weight: 300;
  font-size: 18pt;
}

.community-blurb-content p {
  font-weight: 400;
  font-size: 13pt;
  text-align: center;
  line-height: 1.4;
}

.community-blurb-content.features {
  color: @main-text;
}

.community-blurb-content.features h1 {
  font-weight: 400;
  font-size: 15pt;
}

.community-blurb-content.features p {
  font-weight: 400;
  font-size: 12pt;
  color: @main-text-lighter;
}

.community-blurb-content.features img {
  height: 120px;
  width: auto;
  margin: 0 auto 30px;
}
