@import "global";

.dashboard-background {
	width: 100%;
	height: 2000px;
	margin-top: 0px;
	background-position: top;
	background-repeat: no-repeat;
	background-size: auto;
	color: #fff;
}

.dashboard-page {
	max-width: 960px;
	margin: 90px auto 30px;
}

.dashboard-banner {
	min-height: 250px;
	margin: 0px 15px 20px;
	padding: 40px 0px;
	background-position:center;
	background-repeat:no-repeat;
	background-size: cover;
	color: #fff;
	position: relative;
}

.dashboard-banner::after{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	content: "";
	background-color: rgba(0, 0, 0, 0.6);
}

.dashboard-title {
	margin: 35px 20px;
	z-index: 10;
}

.user-profile-info {
	margin: 0px 20px;
}

.user-profile-info--title {
	margin: 20px 0px;
	z-index: 10;
}

.user-profile-info--title h1 {
	font-weight: 300;
	font-size: 28pt;
	color: @main-text-white;
	margin: 10px 0px;
}

.user-profile-info--title h1 span {
	padding-left: 20px;
	font-weight: 300;
	font-size: 14pt;
	color: @main-text-white;
}

.dashboard-title h1 {
	font-weight: 300;
	font-size: 28pt;
	color: @main-text-white;
}

.dashboard-title h1 span {
	padding-left: 20px;
	font-weight: 300;
	font-size: 14pt;
	color: @main-text-white;
}

.add-new-product-page {
	max-width: 600px;
	margin: 0 auto 30px;
}

.add-new-product-page h1 {
	text-align: center;
	font-weight: 300;
	font-size: 30pt;
	padding-top: 10px;
	padding-bottom: 0px;
	color: @main-text;
}

.add-new-product-page h2 {
	text-align: center;
	color: @main-text-verylight;
	font-weight: 300;
	font-size: 13pt;
	line-height: 1.5;
	padding-top: 0px;
	padding-bottom: 30px;
	border-bottom: 1px dashed @form-border;
}

.product-edit--header {
	padding: 15px 3px 15px;
	font-weight: 400;
	font-size: 13pt;
	color: @sproutup-blue;
}

.product-edit--header-2 {
	padding: 0px 3px;
	font-weight: 400;
	font-size: 12pt;
	color: @sproutup-blue-muted;
}

.product-input-row {
	margin:0px 0px 10px;
	width: 100%;
	height: 100%;
}

.product-input-cell {
	padding: 0px 3px;
}

.add-product-actions {
	margin: 20px 3px 0px;
	float: right;
}

.add-product-btn {
	height: 45px;
	font-weight: 400;
	font-size: 11pt;
	color: white;
	border-radius: 2px;
	padding-top: 9px;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;

}

.add-product-btn.cancel {
	background-color: @sproutup-grey;
}

.add-product-btn.save {
	background-color: @sproutup-blue;
	margin-right: 5px;
}

.add-product-btn.save:hover {
	color: white;
	background-color: @sproutup-blue-hover;
}

.add-product-btn.cancel:hover {
	color: white;
	background-color: @sproutup-grey-hover;
}

.user-profile-info--avartar {
	z-index: 10;
	margin: 25px auto;
	padding: 0 auto;
	text-align: center;
}

@media (max-width: 767px) {
	.user-profile-info {
		text-align: center;
	}

	.user-profile-info--avartar {
		z-index: 10;
		margin: 20px auto;
	}
}
