@sproutup-navbar-menu: #929292;
@sproutup-aqua: #5BC0DE;
@sproutup-aqua-hover: #5BC0DE - #111;
@sproutup-blue: #2996cc;
@sproutup-blue-muted: #9dafbd;
@sproutup-blue-bright: #31CCFF;
@sproutup-blue-dark: #1C6798;
@sproutup-blue-hover: @sproutup-blue - #111;
@sproutup-bluegrey: #eef5f6;
@sproutup-green: #65bc25;
@sproutup-green-muted: #B7D9A2;
@sproutup-green-hover: @sproutup-green - #111;
@sproutup-green-dark: #4F7533;
@sproutup-orange: #ED7A14;
@sproutup-orange-hover: @sproutup-orange - #111;
@sproutup-purple: #7525AC;
@sproutup-purple-hover: @sproutup-purple - #111;
@sproutup-red: #FF2800;
@sproutup-red-hover: @sproutup-red - #111;
@sproutup-suggest: #7CAB3D;
@sproutup-suggest-hover: @sproutup-suggest - #111;
@sproutup-lightgrey: #f0f0f0;
@sproutup-lightergrey: #f3f3f3;
@sproutup-verylightgrey: #f6f6f6;
@sproutup-veryverylightgrey: #fafafa;
@sproutup-superlightgrey: #fcfcfc;
@sproutup-dark-grey: #4a4a4a;
@sproutup-grey: #bfbfbf;
@sproutup-grey-hover: @sproutup-grey - #111;
@sproutup-btn-outline: #cecece;
@twitter-blue: #55ACEE;
@twitter-blue-hover: @twitter-blue - #111;
@facebook-blue: #3B5998;
@facebook-blue-hover: @facebook-blue - #111;
@form-border: #bababa;
@sproutup-footer: #3b4546;
@sproutup-tooltip: #3b4546;
@sproutup-error-message: #ed660e;
@sproutup-paperwhite: #dbdbca;
@sproutup-gold: #edc859;
@sproutup-darkgold: #cd950c;
@sproutup-cyan: #aee0ed;
@sproutup-darkgreen: #4a898e;
@sproutup-lightpurple: #97a1db;
@sproutup-contest: #ff654b;
@sproutup-discount: #7bc2c3;
@sproutup-discount-hover: @sproutup-discount - #111;
@sproutup-contest-hover: @sproutup-contest - #111;
@sproutup-suggested-muted: #89BB45;
@sproutup-salmon: #ff654b;
@sproutup-salmon-hover: @sproutup-salmon - #111;
@sproutup-carribean: #56BFC0;
@sproutup-table-hover: #E9F8FF;

// text
@main-text: #414141;
@main-text-lighter: #777777;
@main-text-verylight: #929292;
@main-text-light: #5a5a5a;
@main-text-white: #f1f1f1;
@secondary-text: #a5a5a5;
@input-placeholder-text: #afafaf;
