@import "global";

.marketing-container {
  padding-top: 60px;
  min-height: 700px;
  background: url(../images/hero.jpg) no-repeat center center;
  background-size: cover;
  color: #fff;
  margin: 0px;
}

.welcome-message {
	font-family: "lato", Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin-top: 100px;
    font-size: 18pt;
}

.marketing {
  margin: 0 5%;
}

.marketing-header {
    max-width: 900px;
    padding: 0 10px;
    margin: 0 auto;
}

.marketing-header > h1 {
  text-align: center;
  line-height: 1.4;
  margin: 35px auto 15px;
  padding: 0px 10px;
  font-size: 36pt;
  font-family: "lato",Helvetica,Arial,sans-serif;
  font-weight: 100;
  color: #fff;
}

.marketing-header > h2 {
  text-align: center;
  line-height: 1.4;
  margin: 0px auto 40px;
  padding: 0px 10px;
  font-size: 16pt;
  font-family: "lato",Helvetica,Arial,sans-serif;
  font-weight: 300;
  color: #fff;
}

.marketing-blurb {
  padding: 0 10px;
  max-width: 1080px;
  margin: 0 auto 30px;
}

.marketing-img {
  margin: 0 auto;
  width: 200px;
  height: auto;
  border: 1px solid #ccc;
}

.marketing-title {
  font-size: 13.5pt;
  font-family: "lato",Helvetica,Arial,sans-serif;
  font-weight: 400;
  color: #fff;
  text-align: center;
}

.marketing-title-seq {
    text-align: center;
  border-radius: 50%;
  width: 85px;
  height: 85px;
  margin: 10px auto 25px;
  font-size: 32pt;
  font-weight: 100;
  padding-top: 10px;
  color: white;
  background-color: none;
  border: 1px solid white;
}

.marketing-content {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 30px;
  font-size: 11.5pt;
  font-family: "lato",Helvetica,Arial,sans-serif;
  font-weight: 300;
  color: @main-text-white;
}

.marketing-cta {
    text-align: center;
    margin: 20px auto 80px;
}

.up-slideable {
  background-color: #fafafa;
  margin: 0px;
  -webkit-box-shadow: 0px 0px 10px @sproutup-grey inset;
  -moz-box-shadow: 0px 0px 10px @sproutup-grey inset;
  box-shadow: 0px 0px 10px @sproutup-grey inset;
}

.suggest-product-header {
  text-align: center;
  font-family: "lato", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 28pt;
  color: #5f5f5f;
  margin: 30px auto 10px;
  padding: 0px 10px;
  line-height: 1.5;
}

.suggest-product-header-2 {
  text-align: center;
  font-family: "lato", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14pt;
  color: @main-text-2;
  line-height: 1.5;
  margin: 0px auto 30px;
  padding: 0 10px;
}

.suggest-product {
  max-width: 500px;
  margin: 20px auto 40px;
  padding: 0px 10px;
}

.suggest-product-form {
    padding: 0px 0px 15px;
    text-align: center;
    margin: 0px;
}

.form-input {
  border: 1px solid @form-border;
  border-radius: 0px;
  color: @main-text;
  -moz-transition: all .2s;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.form-input.large {
  font-size: 13pt;
  font-weight: 400;
  height: 50px;
}

.form-input.medium {
  height: 45px;
  font-size: 11pt;
  font-weight: 400;
}

.form-input + .fa {
  position: absolute;
  top: 16px;
  left: 20px;
  padding: 0;
  color: @input-placeholder-text;
}

.form-input:focus + .fa {
  color: @sproutup-blue;
}

.form-input +  .url-prefix {
  position: relative;
  top: -47px;
  left: 16px;
  padding: 0;
  color: @sproutup-blue;
  font-size: 13pt;
  font-weight: 400;
}

.form-input.left-feedback {
  padding-left: 48px;
}

.signup-wizard .form-input.left-feedback {
    padding-left: 110px;
}

.form-input-textarea {
  resize: vertical;
  border: 1px solid @form-border;
  min-height: 80px;
  border-radius: 0px;
  font-size: 12pt;
  font-weight: 400;
  color: @main-text;
  -moz-transition: all .2s;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.form-input-textarea.no-resize {
  resize: none;
}

.form--error-message {
  color: @sproutup-error-message;
  text-align: left;
  font-weight: 400;
  font-size: 10pt;
  padding: 0px 0px 15px;
}

.form--error-message i {
  padding-right: 5px;
}

.btn-suggest-product {
  width: 60%;
  height: 50px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 13pt;
  background-color: @sproutup-blue;
  color: white;
  border-radius: 2px;
  padding-top: 12px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.btn-suggest-product:hover {
  background-color: @sproutup-blue-hover;
  color: white;
}

@media(max-width:767px) {
  .suggest-product-form-input {
    width: 100%;
  }

  .btn-suggest-product {
    width: 100%;
  }

  .suggest-product-header {
    font-weight: 300;
    font-size: 14pt;
  }

  .suggest-product-header-2 {
    font-weight: 300;
    font-size: 10pt;
  }
}

@media (min-width:767px) and (max-width:992px) {
  .suggest-product-form-input {
    width: 80%;
  }

  .btn-suggest-product {
    width: 30%;
  }

  .suggest-product-header {
    font-weight: 300;
    font-size: 20pt;
  }

  .suggest-product-header-2 {
    font-weight: 300;
    font-size: 14pt;
  }
}
