@import "global";

body {
  font-family: "lato", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  height: 100%;
}

.modal-open {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
}

.navbar {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  height: 70px;
}

.navbar-brand {
  margin-top: 8px;
}

.navbar-nav {
  padding-top: 12px;
}

.navbar-default .navbar-nav > li > a {
  color: #929292;
}

.navbar-right {
  padding-right: 0px;
}

.navbar-collapse {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  height: 70px;
}

.navbar-toggle {
  margin-top: 16px;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background-color: transparent;
}

.navbar-item {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 11pt;
}

.logo {
  width: 100px;
}

.profile-img {
  width: 42px;
  height: 42px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  margin-top: 3px;
  margin-left: 15px;
}

.alert-message {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 120px;
  margin-bottom: 0px;
}

ul.sproutup-social-buttons li a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  font-size: 14pt;
  line-height: 40px;
  outline: 0;
  color: white;
  background-color: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

ul.sproutup-social-buttons li a:hover {
  color: @sproutup-blue-bright;
}

footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: @sproutup-footer;
}

p.copyright {
  margin-top: 20px;
  text-align: center;
  font-family: "lato",Helvetica,Arial,sans-serif;
  font-size: 10pt;
  font-weight: 300;
  color: @main-text-white;
}

.form-control::-moz-placeholder {
  color: @input-placeholder-text;
  opacity: 1;
}

.form-control:-moz-placeholder {
  color: @input-placeholder-text;
  opacity: 1;
}

.form-control::-webkit-input-placeholder {
  color: @input-placeholder-text;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: @input-placeholder-text;
  opacity: 1;
}

.form-control:focus {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-color: @sproutup-blue;
  outline: 0 !important;
}
