@import "global";

html, body {
    overflow-x: hidden;
}

body {
    font-family: "lato", Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
}

.modal-open {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.navbar {
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px 40px;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: 0px;
}

.navbar-influencer {
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px 40px;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 0px;
}

.navbar-brand {
    padding: 23px 0px 0px;
}

.navbar-influencer .navbar-brand {
    padding-top: 12px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.logo {
    width: 160px;
}

.navbar-influencer .logo {
    width: 46px;
}

.navbar-nav {
    padding: 10px 0px;
}

.navbar-influencer .navbar-nav {
    padding: 10px 0px;
}

.navbar-badge {
    margin-left: 10px;
    font-size: 8.5pt;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 4px;
    padding: 2px 8px;
}

.navbar-default .navbar-nav > li > a {
    color: @main-text-white;
}

.navbar-default .navbar-nav > .open > a:focus {
    color: white;
}

.navbar-default .navbar-nav > li > a:focus {
    color: @main-text-white;
}

.navbar-default .navbar-nav > li > a:hover {
    color: white;
}

.navbar-right {
    padding-right: 0px;
}

.dropdown-menu {
    top: 52px;
    min-width: 180px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px;
}

.dropdown-menu:before {
    position: absolute;
    top: -12px;
    left: 125px;
    display: inline-block;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #ccc;
    border-left: 12px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.15);
    content: '';
}

.dropdown-menu:after {
    position: absolute;
    top: -11px;
    left: 126px;
    display: inline-block;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #ffffff;
    border-left: 11px solid transparent;
    content: '';
}

.dropdown-menu li a {
    padding: 6px 20px;
    font-weight: 400;
    font-size: 11pt;
    color: @sproutup-navbar-menu;
}

.dropdown-menu li a:hover {
    background-color: #fff;
    color: @main-text;
}

.dropdown-menu hr {
    margin: 7px 5px;
    border-color: @sproutup-lightgrey;
}

.header-in-dropdown-menu {
    padding: 6px 20px;
    color: @sproutup-navbar-menu;
    font-weight: 400;
    font-size: 11pt;
}

.submenu-in-dropdown-menu {
    list-style-type: disc;
    padding-top: 0px;
    padding-left: 35px;
    padding-right: 20px;
    padding-bottom: 0px;
}

.submenu-in-dropdown-menu li {
    padding: 5px;
    color: @sproutup-green;
}

.submenu-in-dropdown-menu li a {
    padding: 0px;
    color: @sproutup-green;
    font-weight: 700;
    font-size: 10.5pt;
}

.submenu-in-dropdown-menu li a:hover {
    color: @sproutup-green-hover;
    text-decoration: none;
}

.navbar-toggle {
    margin: 10px 0px;
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: @secondary-text;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: @main-text;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
}

.navbar-item {
    font-weight: 400;
    font-size: 10pt;
    color: @main-text-white;
}

.navbar-influencer .navbar-item {
    font-weight: 700;
    font-size: 9.5pt;
    color: @main-text-white;
}

.navbar-influencer .navbar-item sup {
    font-weight: 400;
    font-size: 9pt;
    padding-left: 2px;
}

.navbar-item .fa-search.active {
    color: @sproutup-blue;
}

.profile-img {
    width: 42px;
    height: 42px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
    border: 2px solid @sproutup-grey;
    margin-top: 4px;
    margin-left: 15px;
}

.alert-message {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 120px;
    margin-bottom: 0px;
}

ul.sproutup-social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 14pt;
    line-height: 40px;
    outline: 0;
    color: white;
    background-color: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.sproutup-social-buttons li a:hover {
    color: @sproutup-blue-bright;
}

footer {
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: @sproutup-footer;
    overflow: hidden;
}

p.copyright {
    margin-top: 20px;
    text-align: center;
    font-family: "lato",Helvetica,Arial,sans-serif;
    font-size: 10pt;
    font-weight: 300;
    color: @main-text-white;
}

input::-moz-placeholder {
    color: @input-placeholder-text;
    opacity: 1;
}

input:-moz-placeholder {
    color: @input-placeholder-text;
    opacity: 1;
}

input::-webkit-input-placeholder {
    color: @input-placeholder-text;
    opacity: 1;
}

input:-ms-input-placeholder {
    color: @input-placeholder-text;
    opacity: 1;
}

.form-control {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.form-control:focus {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-color: @sproutup-blue;
    outline: 0 !important;
}

.form-validate.ng-invalid.ng-touched {
    border: 1px solid @sproutup-error-message;
    color: @sproutup-orange;
}

.form-validate.ng-valid.ng-touched {
    border: 1px solid @sproutup-green;
}

.login-angle-down {
    padding-left: 8px;
}

.btn:focus,.btn:active:focus,.btn.active:focus {
    outline: none;
}

a:focus {
    outline: none;
}

.btn-outline {
    height: 36px;
    margin-left: 5px;
    margin-right: 5px;
    border: solid 1px @sproutup-btn-outline;
    font-weight: 400;
    font-size: 10pt;
    color: @sproutup-btn-outline;
    background: 0 0;
    border-radius: 2px;
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-outline:hover {
    border: solid 1px @sproutup-blue-bright;
    color: @sproutup-blue-bright;
}

.btn-outline:focus {
    border: solid 1px @sproutup-btn-outline;
    color: @sproutup-btn-outline;
}

.alert {
    border: none;
    border-radius: 0px;
    padding: 20px;
    text-align: center;
    position: fixed;
    z-index: 50;
    top: 70px;
    font-weight: 400;
    font-size: 12pt;
    margin: 0px;
}

.alert.success {
    background-color: rgba(101, 188, 37, 0.92);
    color: #fff;
}

.legal-title {
    text-align: center;
    font-weight: 300;
    color: @sproutup-blue;
    font-size: 28pt;
    margin: 40px 20px 20px;
}

.legal-content {
    text-align: left;
    margin: 20px auto;
    max-width: 900px;
}

.legal-content h2 {
    font-weight: 400;
    color: @main-text-2;
    font-size: 16pt;
    margin-top: 40px;
    margin-bottom: 15px;
}

.legal-content p {
    font-weight: 400;
    color: @main-text;
    font-size: 11pt;
    line-height: 1.6;
}

.legal-content p span {
    font-weight: 700;
}

.legal-content h3 {
    font-weight: 700;
    color: @main-text;
    font-size: 11pt;
}

.legal-content li {
    margin-bottom: 10px;
    line-height: 1.6;
}

.sproutup-footer-links {
    font-weight: 400;
    font-size: 10pt;
    padding: 25px 10px 20px;
    color: #fff;
    margin: 0 auto;
}

.sproutup-footer-links li {
    margin: 15px;
}

.sproutup-footer-links li a {
    color: #fff;
    text-decoration: none !important;
}

.sproutup-footer-links li a:hover {
    color: @sproutup-blue-bright;
}

.main-content {
    padding: 60px 0px;
}

// buttons
.sproutup-btn-lg-main {
    height: 50px;
    border: none;
    font-weight: 700;
    font-size: 11pt;
    color: white;
    background-color: @sproutup-blue;
    border-radius: 2px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    margin: 0px;
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.sproutup-btn-lg-main:hover {
    background-color: @sproutup-blue-hover;
    color: white;
}

.sproutup-btn-md-main {
	height: 45px;
	font-weight: 700;
	font-size: 11pt;
    background-color: @sproutup-blue;
	color: white;
	border-radius: 2px;
	padding-top: 11px;
    margin-right: 5px;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.sproutup-btn-md-main:hover {
	color: white;
	background-color: @sproutup-blue-hover;
}

.sproutup-btn-md-upvote {
    height: 45px;
	font-weight: 700;
	font-size: 10pt;
    background-color: @sproutup-lightgrey;
	color: @main-text;
	border-radius: 2px;
	padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.sproutup-btn-md-upvote i {
    padding-right: 6px;
}

.sproutup-btn-md-upvote:hover {
    color: @main-text;
    background-color: white;
}

.sproutup-btn-md-cancel {
    height: 45px;
	font-weight: 400;
	font-size: 11pt;
    background-color: @sproutup-grey;
	color: white;
	border-radius: 2px;
	padding-top: 11px;
    margin-right: 5px;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.sproutup-btn-md-cancel:hover {
	color: white;
	background-color: @sproutup-grey-hover;
}

@media (max-width:767px) {
    .logo {
        width: 120px;
    }

    .navbar {
        padding: 0px 15px;
        margin: 0px;
    }

    .navbar-brand {
        padding: 15px 0px 0px;
    }

    .navbar-influencer .logo {
        width: 32px;
    }

    .dropdown-menu:before {
        position: absolute;
        display: inline-block;
        border: none;
        content: '';
    }

    .dropdown-menu:after {
        position: absolute;
        display: inline-block;
        border: none;
        content: '';
    }

    .sproutup-footer-links {
        max-width: 160px;
    }
}
