@import "global";

.news-title {
  text-align: center;
  font-weight: 400;
  color: @sproutup-blue;
  font-size: 18pt;
  margin: 40px auto 20px;
  max-width: 900px;
}

.news-timestamp {
  font-weight: 400;
  color: @main-text-2;
  font-size: 11pt;
  margin-bottom: 15px;
}

.news-content {
  text-align: left;
  margin: 20px auto;
  max-width: 900px;
}

.news-content p {
  font-weight: 400;
  color: @main-text;
  font-size: 12pt;
  line-height: 1.6;
}

.news-content p span {
  font-weight: 700;
}

.news-content h3 {
  font-weight: 700;
  color: @main-text;
  font-size: 12pt;
}

.news-content li {
  margin-bottom: 10px;
  line-height: 1.6;
}
