@import "global";

.product-about-page {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.about-left-rail {
  margin: 2px 0px;
  padding: 0;
}

.about-right-rail {
  margin: 2px 0px;
  padding: 0;
  border-left: dashed 1px #ccc;
}

.about-product-row {
  margin: 3px 5px 0px;
}

.about-product-column {
  margin: 0px;
  padding: 0px;
}

.about-product--video {
  background-color: #333;
  height: 100%;
  width: 100%;
  color: @main-text-white;
}

.about-product--video.embedded {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.about-product--video.embedded iframe,
.about-product--video.embedded object,
.about-product--video.embedded embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about-product-tile {
  padding: 2px 2px 0px;
}

.about-product-tile--in-column {
  padding: 4px 2px 0px;
}

.about-product--header {
  font-weight: 300;
  font-size: 24pt;
  padding-top: 20px;
  padding-left: 20px;
  margin-bottom: 0px;
}

.about-product--content {
  font-weight: 400;
  font-size: 12pt;
  padding: 20px 20px 30px;
  margin-bottom: 0px;
  white-space: pre-wrap;
  line-height: 1.4;
}

.about-product--story-content {
  font-weight: 400;
  font-size: 12pt;
  padding: 10px 20px;
  line-height: 1.4;
  white-space: pre-wrap;
  margin: 0px;
}

.about-product--story-image {
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
}

.about-product--content i {
  padding-right: 10px;
}

.about-product--feature.right {
  background-color: @sproutup-cyan;
  width: 100%;
  color: @main-text;
}

.about-product--feature.left {
  background-color: @sproutup-lightpurple;
  width: 100%;
  color: @main-text-white;
}

.about-product--mission {
  background-color: @sproutup-green;
  width: 100%;
  color: @main-text-white;
}

.about-product--mission-creator {
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  position: relative;
  min-height: 280px;
  width: 100%;
}

.about-product--mission-creator:after {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 80%;
  height: 29%;
  z-index: 1;
  content: "";
  padding: 5px;
}

.meet-creator-overlay-info {
  bottom: 0;
  right: 0;
  padding: 0px 15px 8px;
  position: absolute;
  z-index: 3;
  color: @main-text-white;
  text-align: right;
}

.meet-creator-overlay-info h1 {
  font-weight: 400;
  font-size: 11pt;
  padding-bottom: 8px;
  margin: 0;
}

.meet-creator-overlay-info h2 {
  font-weight: 300;
  font-size: 15pt;
  margin: 0;
  padding-bottom: 8px;
}

.about-product--story {
  background-color: @sproutup-paperwhite;
  color: @main-text;
  width: 100%;
  padding-bottom: 20px;
}

.about-product--team {
  background-color: #f2f2f2;
  color: @main-text;
  width: 100%;
}

.about-product--team-content {
  overflow: hidden;
  padding: 20px;
}

.about-product--team-member {
  padding: 8px;
}

.about-product--team-member-photo {
  height: 260px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-product--team-member-photo:after {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 8px;
  right: 8px;
  width: 80%;
  height: 25%;
  z-index: 1;
  content: "";
  padding: 5px;
}

.about-product--team-member-photo > .meet-creator-overlay-info {
  bottom: 8px;
  right: 8px;
  padding: 0px 10px 5px;
  position: absolute;
  z-index: 3;
  color: @main-text-white;
  text-align: right;
}

.about-product--team-member-photo > .meet-creator-overlay-info h1 {
  font-weight: 400;
  font-size: 10pt;
  margin: 0;
}

.about-product--team-member-photo > .meet-creator-overlay-info h2 {
  font-weight: 300;
  font-size: 13pt;
  margin: 0;
}

.about-product--update {
  background-color: #F39019;
  color: #ffffff;
  width: 100%;
}

.about-product--header-right {
  font-weight: 400;
  font-size: 13pt;
  padding-top: 20px;
  padding-left: 20px;
  margin-bottom: 0px;
}

.about-product--header-right i {
  padding-right: 10px;
}

.about-product--twitter {
  color: @twitter-blue;
  width: 100%;
}

.about-product--facebook {
  color: @facebook-blue;
  width: 100%;
}

.triangle-border {
  position:relative;
  margin:0 0 20px;
  border:2px solid @sproutup-green;
  background-color: @sproutup-green;
  /* css3 */
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
  border-radius:0px;
}

.triangle-border:before {
  content:"";
  position:absolute;
  bottom:-16px; /* value = - border-top-width - border-bottom-width */
  left:40px; /* controls horizontal position */
  border-width:16px 16px 0;
  border-style:solid;
  border-color:@sproutup-green transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* creates the smaller triangle */
.triangle-border:after {
  content:"";
  position:absolute;
  bottom:-13px; /* value = - border-top-width - border-bottom-width */
  left:43px; /* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width:13px 13px 0;
  border-style:solid;
  border-color:@sproutup-green transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

.about-product--quote-block {
  border-left: solid 5px @main-text-white;
  margin-left: 20px;
  margin-top: 20px;
  padding: 0px 15px;
}

.about-product--quote-logo {
  width: 40px;
  height: 40px;
  margin-top: 15px;
  margin-left: 15px;
}

.about-product--quote-content {
  font-weight: 400;
  color: @main-text-white;
  font-size: 12pt;
  padding: 0px;
}

.about-product--quote-user {
  padding-left: 30px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 11pt;
  color: @main-text-white;
}

.about-product--quote-user span {
  padding-left: 15px;
  font-weight: 400;
  font-size: 11pt;
}

.about-product--trendy {
  background-color: #fff;
  color: @sproutup-purple;
  width: 100%;
}

.about-product--header-no-padding {
  font-weight: 400;
  font-size: 13pt;
  padding-top: 20px;
  margin-bottom: 0px;
}

.about-product--header-no-padding i {
  padding-right: 10px;
}

.about-product--trendy-photo {
  margin-top: 15px;
  margin-bottom: 15px;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  color:#fff;
  position: relative;
  height: 300px;
  width: 100%;
}

.about-product--footer-no-padding {
  padding-left: 0px;
  padding-right: 20px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 11pt;
  color: @secondary-text;
}

.about-product--footer-no-padding-em {
  color: @sproutup-purple;
  font-weight: 700;
}

.fb-post {
  margin-bottom: 5px;
}
