@import "global";

.flowplayer {

}

.media {
  margin: 15px;
}

.media-photo {
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
}

.media-video {
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
}

.media-photo-background {
  height:360px;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  color:#fff;
}

.media-photo-overlay {
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.05), rgba(0,0,0,0.35));
  background: -o-linear-gradient(bottom, rgba(0,0,0,0.05), rgba(0,0,0,0.35));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,0.05), rgba(0,0,0,0.35));
  background: linear-gradient(to bottom, rgba(0,0,0,0.05), rgba(0,0,0,0.35));
  float: left;
  top: 0;
  left: 0;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.media-photo-meta {
  padding-top: 280px;
  padding-left: 15px;
  position: absolute;
  z-index: 3;
}

ul.media-social-buttons li a {
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  font-size: 14pt;
  line-height: 20px;
  outline: 0;
  color: #fff;
  background-color: transparent;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  padding-right: 5px;
}

ul.media-social-buttons li a:hover {
  background-color: transparent;
  color: #ccc;
}

.media-user {
  font-weight: 300;
  font-size: 14pt;
}