@import "global";

.profile-header {
  min-height: 460px;
  margin-top: 0px;
  padding-top: 70px;
  background: url(../images/general-profile-cover.png) no-repeat center center;
  background-size: cover;
  position: relative;
  color: @main-text-white;
}

.profile-header::after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.65);
}

.profile-info {
  padding: 40px;
  margin: 0px auto;
}

.profile-user--avatar {
    margin: 0px;
    padding: 0px auto;
    z-index: 5;
}

.profile-user--avatar img {
  margin-left: auto;
  margin-right: auto;
}

.profile-avatar--img-circle {
  background: transparent;
  width: 140px;
  height: auto;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}

.profile-user--details {
  margin: 0px;
  padding: 0px 20px;
  z-index: 5;
}

.profile-user--name {
  color: white;
  font-weight: 300;
  font-size: 28pt;
  margin-bottom: 5px;
}

.profile-user--alias {
  color: @main-text-white - #111;
  font-size: 14pt;
  padding-left: 15px;
}

.profile-user--description {
  color: white;
  font-weight: 300;
  font-size: 13pt;
  margin-bottom: 15px;
  max-width: 640px;
  line-height: 1.5;
}

.profile-user--badge {
  margin: 0;
}

.profile-user--badge li {
  padding: 8px 18px 0px;
  margin-top: 5px;
  margin-right: 5px;
}

.profile-user--badge-item {
  background-color: @sproutup-green;
  color: white;
  border-radius: 2px;
  width: auto;
  height: 40px;
  font-size: 12pt;
  font-weight: 400;
}

.profile-menu {
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.85));
  background: -o-linear-gradient(bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.85));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.85));
  background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.85));
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: solid 1px @sproutup-dark-grey;
  border-bottom: solid 1px @sproutup-dark-grey;
  z-index: 5;
}

.profile-menu--content {
  float: left;
}

.profile-menu--message {
  font-size: 10pt;
  font-weight: 400;
  height: 36px;
  float: left;
  padding: 8px 20px 0px;
  margin-right: 15px;
  border-radius: 2px;
}

.profile-menu--message i {
  padding-right: 10px;
}

.profile-menu--message.success {
  background-color: @sproutup-green;
  color: @main-text-white;
}

.profile-menu--message.error {
  background-color: @sproutup-grey;
  color: @main-text;
}

.profile-menu--action {
  font-size: 12pt;
  font-weight: 400;
  float: right;
  margin-left: 0px;
  padding-right: 20px;
  padding-top: 15px;
}

.profile-menu--item {
  float: left;
  color: rgba(255,255,255,0.75);
  width: 120px;
  padding: 8px 10px 12px;
  text-decoration: none !important;
  border-right: 1px solid @sproutup-dark-grey;
}

.profile-menu--item.active {
  color: @sproutup-blue-bright;
}

.profile-menu--item:hover {
  color: @sproutup-blue-bright;
  text-decoration: none !important;
}

.profile-menu--item-value {
  text-align: center;
  display: block;
  font-size: 13pt;
  font-weight: 400;
}

.profile-menu--item-label {
  text-align: center;
  display: block;
  font-size: 11pt;
  font-weight: 400;
}

.btn-outline--save {
  height: 36px;
  width: 69px;
  margin-left: 5px;
  margin-right: 5px;
  border: solid 1px @sproutup-btn-outline;
  font-weight: 400;
  font-size: 10pt;
  color: @sproutup-btn-outline;
  background: 0 0;
  border-radius: 2px;
  padding-top: 8px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-outline--save:hover {
  border: solid 1px @sproutup-blue-bright;
  color: @sproutup-blue-bright;
}

.btn-outline--save:focus {
  border: solid 1px @sproutup-btn-outline;
  color: @sproutup-btn-outline;
}

.btn-following {
  height: 36px;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 400;
  font-size: 10pt;
  color: white;
  background-color: @sproutup-blue;
  border-radius: 2px;
  padding-top: 8px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-following i {
  padding-right: 8px;
}

.btn-following:hover {
  color: white;
}

.btn-following:focus {
  color: white;
  background-color: @sproutup-blue;
}

.wrapper-user-profile {
  margin: 0px;
  overflow: hidden;
}

.upload-new-avatar {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  height: 128px;
  width: 128px;
}

.profile-user-social-buttons {
    padding-top: 10px;
    padding-bottom: 20px;
}

ul.profile-user-social-buttons li a {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  font-size: 12pt;
  line-height: 34px;
  outline: 0;
  color: #fff;
  background-color: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  border: solid 1px #fff;
  text-align: center;
}

ul.profile-user-social-buttons li a:hover {
  background-color: none;
  color: @sproutup-grey;
  border: solid 1px @sproutup-grey;
}

.profile-content {
    margin: 10px;
}
