@import "global";

.profile-media-page {
  margin: 10px;
  overflow: hidden;
}

.media-photo-edit-button {
  top: 0;
  padding: 15px;
  position: absolute;
  z-index: 3;
}

.remove-btn-solid {
  height: 28px;
  background-color: @main-text-white;
  color: @main-text;
  font-size: 9pt;
  border-radius: 2px;
  padding-top: 4px;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.remove-btn-solid:hover {
  background-color: @sproutup-red;
  color: white;
}