@import "global";

.user-settings-wrapper {
  margin: 30px auto;
  padding: 0px 10px;
  max-width: 1024px;
}

.save-settings-btn {
  width: 80%;
  height: 50px;
  font-weight: 400;
  font-size: 12pt;
  margin: 15px 10% 30px;
  background-color: @sproutup-orange;
  color: white;
  border-radius: 2px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.save-settings-btn:hover,
.save-settings-btn:focus {
  color: white;
  background-color: @sproutup-orange-hover;
}

.list-group {
  padding-top: 15px;
  border-radius: 0px;
  font-weight: 700;
  font-size: 11pt;
}

.list-group-item {
  background-color: #fafafa;
  height: 56px;
  padding-top: 17px;
}

a.list-group-item {
  color: @sproutup-blue;
}

a.list-group-item:hover {
  color: @sproutup-blue;
}

.list-group-item.active {
  background-color: @sproutup-blue;
}

.list-group-item span {
  font-weight: 400;
  font-size: 10pt;
  background-color: @sproutup-blue;
  float: right;
  color: white;
}

.list-group-item.active span {
  color: #fff;
}

.list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-bottom: 0;
}

.list-group-item:last-child {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-bottom: 0;
}

.panel {
  border-radius: 0px;
}

.panel-default > .panel-heading {
  background-color: #fafafa;
  color: @main-text-2;
  height: 50px;
  font-weight: 300;
  font-size: 20pt;
  padding-top: 15px;
}

.control-label {
  padding-top: 10px;
  font-weight: 400;
  font-size: 10pt;
  color: @main-text;
}

.user-settings-input {
  border: 1px solid @form-border;
  height: 40px;
  border-radius: 0px;
  font-size: 11pt;
  font-weight: 400;
  color: @main-text;
  -moz-transition: all .2s;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.product-trial-item {
    margin: 15px 0px;
    padding: 25px 25px 20px;
    background-color: @sproutup-lightgrey;
}

.product-trial-item-banner {
	height: 80px;
	margin: 0px 0px 15px;
	background-position:center;
	background-repeat:no-repeat;
	background-size: cover;
	color: #fff;
	position: relative;
}

.product-trial-item-banner::after{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	content: "";
	background-color: rgba(0, 0, 0, 0.4);
}

.product-trial-item-banner p {
	margin: 20px 10px;
	z-index: 10;
	position: absolute;
    font-weight: 300;
    font-size: 20pt;
    color: @main-text-white;
}

.product-trial-item--photo {
    padding: 10px 0px;
    margin: 0px;
}

.product-trial-item--detail {
    padding: 10px 0px;
    margin: 0px;
}

.product-trial-item--detail h1 {
    font-size: 14pt;
    font-weight: 400;
    color: @main-text;
    padding: 0px;
    margin: 0px 0px 15px;
}

.product-trial-item--status {
    font-size: 13pt;
    font-weight: 400;
    padding: 8px 0px;
    margin: 0px;
    color: @main-text-2;
}

.product-trial-item--actions {
    padding: 20px 0px 10px;
    margin: 0px;
}

.product-trial-item--status.current {
    color: @sproutup-green;
}

.product-trial-item--status.reminder {
    color: @sproutup-orange;
}

.product-trial-item--status i {
    padding-right: 10px;
}

.product-trial-item--input {
    margin: 20px 0px;
}

.product-trial-item--input p {
    font-weight: 400;
    color: @main-text-2;
    font-size: 12pt;
    margin: 10px 0px 15px;
    line-height: 1.5;
}

.product-trial-item--input button {
    margin-top: 15px;
}

.product-trial-item--result {
    margin: 0px;
    padding: 10px 25px 5px;
}

.product-trial-item--result i {
    color: @sproutup-red;
}

.product-trial-item--result a {
    font-weight: 400;
    color: @sproutup-blue;
    font-size: 12.5pt;
    margin: 15px 5px;
    line-height: 1.5;
}
