@import "global";

.user-settings-wrapper {
  margin: 30px auto;
  padding: 0px 10px;
  max-width: 1000px;
}

.save-settings-btn {
  width: 80%;
  height: 50px;
  font-weight: 400;
  font-size: 12pt;
  margin: 15px 10% 30px;
  background-color: @sproutup-orange;
  color: white;
  border-radius: 2px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.save-settings-btn:hover,
.save-settings-btn:focus {
  color: white;
  background-color: @sproutup-orange-hover;
}

.user-settings-wrapper .list-group {
  border-radius: 0px;
  font-weight: 400;
  font-size: 10pt;
  color: @main-text;
}

.user-settings-wrapper .list-group-item {
  background-color: #fafafa;
  height: 50px;
  padding-top: 15px;
}

.user-settings-wrapper .list-group-item.active {
  background-color: @sproutup-blue;
}

.user-settings-wrapper .list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-bottom: 0;
}

.user-settings-wrapper .list-group-item:last-child {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-bottom: 0;
}

.user-settings-wrapper .panel {
  border-radius: 0px;
}

.user-settings-wrapper .panel-default > .panel-heading {
  background-color: #fafafa;
  color: @main-text-2;
  height: 50px;
  font-weight: 300;
  font-size: 20pt;
  padding-top: 15px;
}