<section id="story">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="story-title">Our roots</h2>
                <!--<p class="story-content">SproutUp's concept was seeded at MIT's Muddy Charles Pub over a pitcher of IPA when Nitin first noticed the struggle of creators of emerging prodcuts to commercialize. It took the Fall 2014 to evolve the concept further and turn the idea into a startup when Nitin and Tao partnered up as co-founders of SproutUp.</p>-->
                <p class="story-content">The SproutUp concept was seeded at <a href="http://web.mit.edu/muddy/" target="_blank">MIT’s Muddy Charles Pub</a> where Nitin often heard the struggle of product creators to move past the first stage of product development. For example, one creator said <span>"Dude – it's harder than I thought to really know what my customers want."</span> The other inventor commented that <span>"I have no meaningful way to collaborate with my early adopters except painstakingly stalking them on Facebook."</span> Seeing this as a common problem across several creators, Nitin and Tao quit their day jobs in Fall 2014 to found SproutUp. And here we are – launching SproutUp Beta.</p>
            </div>
        </div>
    </div>

    <!-- Our Team -->
    <section id="team">
        <div class="team-banner">

            <div class="col-lg-12 text-center">
                <!--<h1 class="team-section-title">Who we are</h1>-->
                <h1 class="team-section-title">Check out the team</h1>
                <h1 class="team-section-subtitle">We are fun-loving individuals who are totally jazzed about helping creators make great products.</h1>
            </div>

            <div class="row sproutup-team">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="img-responsive team-img-circle" src="@routes.Assets.at("images/about/nitin.png")">
                        <h3>Nitin Jain</h3>
                        <h4>Business builder (aka CEO). Lives on the edge of ridiculousness and innovation. Healthy food artisan.</h4>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://angel.co/nitinj" target="_blank"><i class="fa fa-angellist"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/touchpoint" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="img-responsive team-img-circle" src="@routes.Assets.at("images/about/tao.png")">
                        <h3>Tao Ni</h3>
                        <h4>Creates awesome product and enforces top-notch design. Exquisite Chinese green tea maker.</h4>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://angel.co/nitao" target="_blank"><i class="fa fa-angellist"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/pub/tao-ni/19/5b5/388" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="img-responsive team-img-circle" src="@routes.Assets.at("images/about/peter.png")">
                        <h3>Peter Andersen</h3>
                        <h4>Writes solid code. Makes killer pizza. Always stays on top of the Nike+ leaderboard.</h4>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://angel.co/peter-andersen-1" target="_blank"><i class="fa fa-angellist"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/peterfuglevigandersen" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="img-responsive team-img-circle" src="@routes.Assets.at("images/about/beth.png")">
                        <h3>Beth Watson</h3>
                        <h4>Community builder, writer and brand strategist. Yoga enthusiast and happy hour initiator.</h4>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://angel.co/beth-watson" target="_blank"><i class="fa fa-angellist"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/watsonbeth" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="img-responsive team-img-circle" src="@routes.Assets.at("images/about/newhire.png")">
                        <h3>You?</h3>
                        <h4>Yes, we'd like to hear from people who love to build cool shit! Hit us on <a href="https://angel.co/sproutup" target="_blank">AngelList</a>.</h4>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://angel.co/sproutup" target="_blank"><i class="fa fa-angellist"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Team -->

    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2 class="story-title">We have a mission</h2>
                <!--<p class="story-content">Deeply inspired by the lessons of "The Lean Startup" by Eric Ries, we believe that "Build, Measure, Learn, and Grow" approach can help emerging product creators better understand their customers, measure product usability, and discover new ideas for further product innovation.</p>-->
                <p class="story-content">We believe that the best products are never created in a box. Our goal is to help product creators further their innovation to deliver the best products in the market. We want to achieve this by developing a community of co-creators - product creators, early adopters and product enthusiast.</p>
            </div>
        </div>
    </div>

</section>
