<section id="story">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="story-title">We are on a mission</h2>
                <p class="story-content">We believe that bringing passionate and creative people together makes innovation happen. To its very core, SproutUp values passion, participation and creativity.</p>
            </div>
        </div>
    </div>

    <!-- Our Team -->
    <section id="team">
        <div class="team-banner">

            <div class="col-lg-12 text-center">
                <!--<h1 class="team-section-title">Who we are</h1>-->
                <h1 class="team-section-title">Check out the team</h1>
                <h1 class="team-section-subtitle">We are fun-loving individuals who are totally jazzed about helping creators make great products.</h1>
            </div>

            <div class="row sproutup-team">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="img-responsive team-img" src="@routes.Assets.at("images/about/team/nitin.jpg")">
                        <h3>Nitin Jain</h3>
                        <h4>Business builder, master juggler, rebellious thinker and healthy food artisan.</h4>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://twitter.com/nitinj76" target="_blank"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://angel.co/nitinj" target="_blank"><i class="fa fa-angellist"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/touchpoint" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="img-responsive team-img" src="@routes.Assets.at("images/about/team/tao.jpg")">
                        <h3>Tao Ni</h3>
                        <h4>Product creator, pixel guardian, GitHub task chopper and green tea connoisseur.</h4>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://twitter.com/taoni" target="_blank"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://angel.co/nitao" target="_blank"><i class="fa fa-angellist"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/pub/tao-ni/19/5b5/388" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="img-responsive team-img" src="@routes.Assets.at("images/about/team/peter.jpg")">
                        <h3>Peter Andersen</h3>
                        <h4>Startup junkie, ninja coder, windsurfing fanatic and makes a mean pizza.</h4>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://twitter.com/andersen_peter" target="_blank"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://angel.co/peter-andersen-1" target="_blank"><i class="fa fa-angellist"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/peterfuglevigandersen" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="img-responsive team-img" src="@routes.Assets.at("images/about/team/beth.jpg")">
                        <h3>Beth Watson</h3>
                        <h4>People connector, brand tinkerer, yoga enthusiast and happy hour initiator.</h4>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://twitter.com/watsone38" target="_blank"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://angel.co/beth-watson" target="_blank"><i class="fa fa-angellist"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/watsonbeth" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li><a href="https://instagram.com/yogibeth/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="img-responsive team-img" src="@routes.Assets.at("images/about/newhire.png")">
                        <h3>You?</h3>
                        <h4>Yes, we'd like to hear from people who love to build cool shit! Hit us on <a href="https://angel.co/sproutup" target="_blank">AngelList</a>.</h4>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://angel.co/sproutup" target="_blank"><i class="fa fa-angellist"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Team -->

</section>
