<div class="community-header">
    <div class="row">
        <div class="col-lg-12">
            <div class="community-header--message">
                <h1>Our Mission</h1>
                <h3>To create a world where enthusiasts and creators team up to make innovation happen</h3>
            </div>
        </div>
    </div>
</div>

<!-- What to do -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="community-title">Things To Do</h1>
        <div class="row community-block">
            <div class="col-md-3 col-sm-6 community-blurb features">
                <div class="community-blurb-content features">
                
                </div>
            </div>
            <div class="col-md-3 col-sm-6 community-blurb features">
                <div class="community-blurb-content features">

                </div>
            </div>
            <div class="col-md-3 col-sm-6 community-blurb features">
                <div class="community-blurb-content features">

                </div>
            </div>
            <div class="col-md-3 col-sm-6 community-blurb features">
                <div class="community-blurb-content features">

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Our culture -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="community-title">Our Culture</h1>
        <h3 class="community-subtitle">We strive to build a unique community with strong culture that brings positive energy to everyone. We embrace values like:</h3>
        <div class="row community-block">
            <div class="col-md-4 col-sm-6 community-blurb yes">
                <div class="community-blurb-content">
                    <h1>Synergistic</h1>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 community-blurb yes">
                <div class="community-blurb-content">
                    <h1>Creative</h1>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 community-blurb yes">
                <div class="community-blurb-content">
                    <h1>Inspirational</h1>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 community-blurb yes">
                <div class="community-blurb-content">
                    <h1>Constructive</h1>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 community-blurb yes">
                <div class="community-blurb-content">
                    <h1>Authentic</h1>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 community-blurb yes">
                <div class="community-blurb-content">
                    <h1>Respectful</h1>
                </div>
            </div>
        </div>

        <h3 class="community-subtitle">We do not encourage things like:</h3>
        <div class="row community-block">
            <div class="col-md-4 col-sm-6 community-blurb no">
                <div class="community-blurb-content">
                    <h1>Ranting</h1>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 community-blurb no">
                <div class="community-blurb-content">
                    <h1>Bashing</h1>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 community-blurb no">
                <div class="community-blurb-content">
                    <h1>Spamming</h1>
                </div>
            </div>
        </div>
    </div>
</div>