<div class="community-page">
    <div class="community-header">
        <div class="row">
            <div class="col-lg-12">
                <div class="community-header--message">
                    <h1>Welcome to SproutUp</h1>
                    <h3>We are a community of early adopters, enthusiasts, and even some curious onlookers interested in influencing the next wave of innovation.</h3>
                </div>
            </div>
        </div>
    </div>

    <!-- What to do -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="community-title">What to do</h1>
            <div class="row community-block features">
                <div class="col-sm-6 community-blurb features">
                    <div class="community-blurb-content features">
                        <h1>Explore</h1>
                        <p>Find cool new products that someone took the risk to actually develop.</p>
                    </div>
                </div>
                <div class="col-sm-6 community-blurb features">
                    <div class="community-blurb-content features">
                        <h1>Engage creators</h1>
                        <p>Creators are people too and love to hear how people are using their products. Wouldn’t you? Post ideas, suggestions and be sure to follow them on the site. </p>
                    </div>
                </div>
                <div class="col-sm-6 community-blurb features">
                    <div class="community-blurb-content features">
                        <h1>Share</h1>
                        <p>Post your experience for the benefit of others. Not everyone is willing to be a product guinea pig – but you did it, so help us out!</p>
                    </div>
                </div>
                <div class="col-sm-6 community-blurb features">
                    <div class="community-blurb-content features">
                        <h1>Request product tryouts</h1>
                        <p>What better way to take the risk out of buying a new gadget than to try it out?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Our culture -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="community-title">Our culture</h1>
            <h3 class="community-subtitle">Be kind. We get it – this is the internet and there are lots of places to rant. But it takes a lot of guts to create something new. Even if you had a rough experience with a product, bring solutions not problems. We strive to build a unique community with strong culture that brings positive energy to everyone.</h3>
            <div class="row community-block">
                <div class="col-md-4 col-sm-6 community-blurb yes">
                    <div class="community-blurb-content">
                        <p><i class="fa fa-2x fa-thumbs-up"></i></p>
                        <h1>Synergistic</h1>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 community-blurb yes">
                    <div class="community-blurb-content">
                        <p><i class="fa fa-2x fa-thumbs-up"></i></p>
                        <h1>Creative</h1>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 community-blurb yes">
                    <div class="community-blurb-content">
                        <p><i class="fa fa-2x fa-thumbs-up"></i></p>
                        <h1>Inspirational</h1>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 community-blurb yes">
                    <div class="community-blurb-content">
                        <p><i class="fa fa-2x fa-thumbs-up"></i></p>
                        <h1>Constructive</h1>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 community-blurb yes">
                    <div class="community-blurb-content">
                        <p><i class="fa fa-2x fa-thumbs-up"></i></p>
                        <h1>Authentic</h1>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 community-blurb yes">
                    <div class="community-blurb-content">
                        <p><i class="fa fa-2x fa-thumbs-up"></i></p>
                        <h1>Respectful</h1>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 community-blurb no">
                    <div class="community-blurb-content">
                        <p><i class="fa fa-2x fa-thumbs-down"></i></p>
                        <h1>Ranting</h1>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 community-blurb no">
                    <div class="community-blurb-content">
                        <p><i class="fa fa-2x fa-thumbs-down"></i></p>
                        <h1>Bashing</h1>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 community-blurb no">
                    <div class="community-blurb-content">
                        <p><i class="fa fa-2x fa-thumbs-down"></i></p>
                        <h1>Spamming</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Who we are -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="community-title">Let's make this awesome</h1>
            <p class="community-subtitle">SproutUp belongs to you.</p>
            <p class="community-subtitle">We’re in beta phase which means this is a big’ol test.  If you are even reading this you are by definition an early adapter of SproutUp! So <a href="mailto:tao@@sproutup.co" target="_top">tell us</a> how this can all be better.</p>
        </div>
    </div>

</div>