<!-- Value Prop Banner -->
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Creating something rad?</h1>
                    <h3>Collaborate with influencers and enthusiasts to SproutUp</h3>
                    <a ng-show="!user.isLoggedIn" ng-click="signup('sm')" href="#" class="btn btn-lg btn-lg-outline">Get started</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Overview -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="overview-title">We are building SproutUp for you</h2>
        <p class="overview-subtitle">So you brought your idea from napkin sketch to real product, successfully raised funds and fulfilled your initial set of orders. Now it’s all about continuing to evolve and drive sales. Gulp.</p>
        <p class="overview-subtitle">The democratization of product development is here. Consumers no longer want to simply consume, they seek participation in the creation and marketing processes. Invite early adopters and product enthusiasts to join your journey.  This allows you to make better products and naturally develop product ambassadors.</p>
        <p class="overview-subtitle">Enter SproutUp...</p>
    </div>
</div>

<!-- How it works -->
<div class="row text-center">
    <div class="col-sm-12">
        <h1 class="how-it-works--header">Check it out</h1>
    </div>
</div>
<div class="row">
    <!-- blurb 1 -->
    <div class="row how-it-works--blurb story">
        <div class="col-sm-12 text-center">
            <hr class="how-it-works--title-separator">
            <p class="how-it-works--title-seq">1</p>
            <p class="how-it-works--title">Tell your story</p>
        </div>
        <div class="row how-it-works--main">
            <div class="col-sm-6 how-it-works--content">
                <img src="@routes.Assets.at("images/creator/story-1.jpg")" class="img-responsive">
                <p>Craft your personal story to reflect the passion and purpose behind your product creation.</p>
            </div>
            <div class="col-sm-6 how-it-works--content">
                <img src="@routes.Assets.at("images/creator/story-2.jpg")" class="img-responsive">
                <p>Infuse social media feeds and customer testimonials to make your product page look attractive and community friendly.</p>
            </div>
        </div>
    </div>

    <!-- blurb 2 -->
    <div class="row how-it-works--blurb collaborate">
        <div class="col-sm-12 text-center">
            <hr class="how-it-works--title-separator">
            <p class="how-it-works--title-seq">2</p>
            <p class="how-it-works--title">Collaborate, build genuine buzz</p>
        </div>
        <div class="row how-it-works--main">
            <div class="col-sm-4 how-it-works--content">
                <img src="@routes.Assets.at("images/creator/collaborate-1.jpg")" class="img-responsive">
                <p>Create synergistic collaborations with early adopters and social influencers by inviting their genuine feedback and ideas. Leverage the power of their networks to spread the word.</p>
            </div>
            <div class="col-sm-4 how-it-works--content">
                <img src="@routes.Assets.at("images/creator/collaborate-3.jpg")" class="img-responsive">
                <p>Invite early adopters to share personal photos, videos and ideas about your product. Tap into their expertise to influence those who are on the edge of your customer base.</p>
            </div>
            <div class="col-sm-4 how-it-works--content">
                <img src="@routes.Assets.at("images/creator/collaborate-2.png")" class="img-responsive">
                <p>Conduct short surveys, share updates and field user questions. Notifications and third-party app integration keep you responsive to the valuable customers.</p>
            </div>
        </div>
    </div>

    <!-- blurb 3 -->
    <div class="row how-it-works--blurb analytics">
        <div class="col-sm-12 text-center">
            <hr class="how-it-works--title-separator">
            <p class="how-it-works--title-seq">3</p>
            <p class="how-it-works--title">Growth hacking</p>
        </div>
        <div class="row how-it-works--main">
            <div class="col-sm-6 how-it-works--content">
                <img src="@routes.Assets.at("images/creator/analytics-1.jpg")" class="img-responsive">
                <p>Receive an analytical snap shot of customers’ hot topics: how customers use your product, what features they find useful and what needs improvement.</p>
            </div>
            <div class="col-sm-6 how-it-works--content">
                <img src="@routes.Assets.at("images/creator/analytics-2.jpg")" class="img-responsive">
                <p>Track your follower activities, demographics and social impact. We provide you with easy-to-digest information to help boost your SEO, conversion metrics and net promoter scores.</p>
            </div>
        </div>
    </div>

    <!-- blurb 4 -->
    <div class="row how-it-works--blurb future">
        <div class="col-sm-12 text-center">
            <hr class="how-it-works--title-separator future">
            <p class="how-it-works--title-seq future">4</p>
            <p class="how-it-works--title future">And, more exciting stuff to come...</p>
        </div>
        <div class="row how-it-works--main">
            <div class="col-sm-4 how-it-works--content future">
                <img class="img-responsive" src="@routes.Assets.at("images/creator/more-1.png")">
                <p>Deeply engage the community through signature activities – product trials, podcasts, rewarding champions, contests and launch events.</p>
            </div>
            <div class="col-sm-4 how-it-works--content future">
                <img class="img-responsive" src="@routes.Assets.at("images/creator/more-2.png")">
                <p>We team you up with social influencers who are experts in your area. Combine your social media campaigns with the power of their network to amplify your reach.</p>
            </div>
            <div class="col-sm-4 how-it-works--content future">
                <img class="img-responsive" src="@routes.Assets.at("images/creator/more-3.png")">
                <p>And, of course, we will link with all those social networks and customer support tools so you don’t miss a beat.</p>
            </div>
        </div>
    </div>

</div>

<hr>

<!-- Early access form -->
<div class="row text-center">
    <up-early-access-request></up-early-access-request>
</div>

<!-- JS for columns with equal height -->
<!--<script>-->
    <!--equalheight = function(container) {-->

        <!--var currentTallest = 0,-->
                <!--currentRowStart = 0,-->
                <!--rowDivs = new Array(),-->
                <!--$el,-->
                <!--topPosition = 0;-->
        <!--$(container).each(function() {-->

            <!--$el = $(this);-->
            <!--$($el).height('auto')-->
            <!--topPostion = $el.position().top;-->

            <!--if (currentRowStart != topPostion) {-->
                <!--for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {-->
                    <!--rowDivs[currentDiv].height(currentTallest);-->
                <!--}-->
                <!--rowDivs.length = 0; // empty the array-->
                <!--currentRowStart = topPostion;-->
                <!--currentTallest = $el.height();-->
                <!--rowDivs.push($el);-->
            <!--} else {-->
                <!--rowDivs.push($el);-->
                <!--currentTallest = (currentTallest < $el.height()) ? ($el.height()) : (currentTallest);-->
            <!--}-->
            <!--for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {-->
                <!--rowDivs[currentDiv].height(currentTallest);-->
            <!--}-->
        <!--});-->
    <!--}-->

    <!--$(window).load(function() {-->
        <!--equalheight('.su-solution-body');-->
    <!--});-->


    <!--$(window).resize(function(){-->
        <!--equalheight('.su-solution-body');-->
    <!--});-->

<!--</script>-->
