<!-- Value Prop Banner -->
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Creating something rad?</h1>
                    <h3>Collaborate with influencers and enthusiasts to SproutUp</h3>
                    <a href="#" class="btn btn-lg sproutup-btn-lg-main">GET EARLY ACCESS</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Overview -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="overview-title">We are building SproutUp for you</h2>
        <p class="overview-subtitle">So you brought your idea from napkin sketch to real product, successfully raised funds and fulfilled your initial set of orders. Now it’s all about continuing to evolve and drive sales. Gulp.</p>
        <p class="overview-subtitle">How do you go about it? SproutUp is here to help you grow. We are building a platform that connects emerging products with influencers and enthusiasts, who try your products and make awesome content that drives sales and brand awareness.</p>
    </div>
</div>

<!-- How it works -->
<div class="row text-center">
    <div class="col-sm-12">
        <h1 class="how-it-works--header">How it works</h1>
    </div>
</div>
<div class="row">
    <!-- how it works 1 -->
    <div class="row how-it-works--blurb story">
        <div class="col-sm-12 text-center">
            <hr class="how-it-works--title-separator">
            <p class="how-it-works--title-seq">1</p>
            <p class="how-it-works--title">Add your product</p>
        </div>
        <div class="row how-it-works--main">
            <div class="col-sm-12 how-it-works--content">
                <p>Provide product media, highlights, and other information. Our team will review it quickly before your product goes live on SproutUp. Pre-launch? No problem, our users love early accesses to cool stuff! Sign up and start to attract potential users.</p>
            </div>
        </div>
    </div>

    <!-- how it works 2 -->
    <div class="row how-it-works--blurb collaborate">
        <div class="col-sm-12 text-center">
            <hr class="how-it-works--title-separator">
            <p class="how-it-works--title-seq">2</p>
            <p class="how-it-works--title">Send product for trials</p>
        </div>
        <div class="row how-it-works--main">
            <div class="col-sm-12 how-it-works--content">
                <p>We will notify you once users request trials. This is where the synergistic collaboration starts! Choose who you would like to work with, and ship products to them. During their trials, proactively invite them to leave feedback and ideas.</p>
            </div>
        </div>
    </div>

    <!-- how it works 3 -->
    <div class="row how-it-works--blurb analytics">
        <div class="col-sm-12 text-center">
            <hr class="how-it-works--title-separator">
            <p class="how-it-works--title-seq">3</p>
            <p class="how-it-works--title">Watch content go live and viral</p>
        </div>
        <div class="row how-it-works--main">
            <div class="col-sm-12 how-it-works--content">
                <p>Users will post content soon after they finish trials (or even before). You will receive a notification everytime time a new content is posted. SproutUp's marketing tools will alsp help promoting the content.</p>
            </div>
        </div>
    </div>

    <!-- how it works 4 -->
    <div class="row how-it-works--blurb analytics">
        <div class="col-sm-12 text-center">
            <hr class="how-it-works--title-separator">
            <p class="how-it-works--title-seq">4</p>
            <p class="how-it-works--title">No guesswork, track results <span>(coming soon)</span></p>
        </div>
        <div class="row how-it-works--main">
            <div class="col-sm-12 how-it-works--content">
                <p>With SproutUp, your marketing effort is measurable. Track how many impressions, engagements, page views and sales your influencers and enthusiasts bring along.</p>
            </div>
        </div>
    </div>

</div>

<hr>

<!-- Early access form -->
<div class="row text-center">
    <up-early-access-request></up-early-access-request>
</div>
