<!-- Value Prop Banner -->
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Creating something rad?</h1>
                    <h3>Collaborate with influencers and enthusiasts to SproutUp</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Overview -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="overview-title">We are building SproutUp for you</h2>
        <p class="overview-subtitle">So you brought your idea from napkin sketch to real product, successfully raised funds and fulfilled your initial set of orders. Now it’s all about continuing to evolve and drive sales. Gulp.</p>
        <p class="overview-subtitle">How do you go about it? SproutUp is here to help you grow. We are building a platform that connects emerging products with influencers and enthusiasts, who try your products and make awesome content that drives sales and brand awareness.</p>
    </div>
</div>

<!-- How it works -->
<div class="row text-center">
    <div class="col-sm-12">
        <h1 class="how-it-works--header">How it works</h1>
    </div>
</div>
<div class="row">
    <!-- how it works 1 -->
    <div class="row how-it-works--blurb">
        <div class="col-sm-12 text-center">
            <hr class="how-it-works--title-separator">
            <p class="how-it-works--title-seq">1</p>
            <p class="how-it-works--title">Add your product</p>
        </div>
        <div class="row how-it-works--main">
            <div class="col-sm-12 how-it-works--content">
                <p>Suggest us your product. Our team reviews it quickly to determine the product fit. We love tech gadgets that are innovative, early-stage, market-ready, and shippable. We work with you to understand your outreach goal and showcase your product on SproutUp.</p>
                <p>Pre-launch? No problem, our users love early accesses to cool stuff! Sign up and start to attract potential users.</p>
            </div>
        </div>
    </div>

    <!-- how it works 2 -->
    <div class="row how-it-works--blurb">
        <div class="col-sm-12 text-center">
            <hr class="how-it-works--title-separator">
            <p class="how-it-works--title-seq">2</p>
            <p class="how-it-works--title">We manage product trials</p>
        </div>
        <div class="row how-it-works--main">
            <div class="col-sm-12 how-it-works--content">
                <p>Send some trial units to SproutUp to participate in the trial campaign. We manage everything about trials - outreach, trial instructions, shipping to/from influencers, status tracking, and so forth. During product trials, we actively engage with each influencer and ensure best outcome.</p>
            </div>
        </div>
    </div>

    <!-- how it works 3 -->
    <div class="row how-it-works--blurb">
        <div class="col-sm-12 text-center">
            <hr class="how-it-works--title-separator">
            <p class="how-it-works--title-seq">3</p>
            <p class="how-it-works--title">Watch content go viral</p>
        </div>
        <div class="row how-it-works--main">
            <div class="col-sm-12 how-it-works--content">
                <p>Influencers post content soon after they finish trials (or even before). Content could be in the form of a short YouTube video, a blog/media article with photos, or a live demo via Periscope.</p>
                <p>Receive notification every time a new content is posted by an influencer. Share content URL on your social media channels. SproutUp's marketing tools promote the content across social media channels to get you more outreach.</p>
            </div>
        </div>
    </div>

    <!-- how it works 4 -->
    <div class="row how-it-works--blurb">
        <div class="col-sm-12 text-center">
            <hr class="how-it-works--title-separator">
            <p class="how-it-works--title-seq">4</p>
            <p class="how-it-works--title">No guesswork, track results <span>(coming soon)</span></p>
        </div>
        <div class="row how-it-works--main">
            <div class="col-sm-12 how-it-works--content">
                <p>With SproutUp, the content outreach effort is measurable. Track how many impressions, engagements, page views, conversions and sales your influencers and enthusiasts bring along.</p>
            </div>
        </div>
    </div>

</div>

<hr>

<!-- Early access form -->
<div class="row text-center">
    <up-early-access-request></up-early-access-request>
</div>
