<div class="container main-content">
    <div class="row text-center">
        <div class="col-lg-12">
            <h1 class="legal-title">Frequently Asked Questions</h1>
            <div class="legal-content">

                <h2><i class="fa fa-question-circle"></i>What’s unique about SproutUp?</h2>
                <p>We are focused on amplifying early stage brands that are trying to deliver awesome products. SproutUp is a marketplace that brings influencers (like you) and creators together to help innovation grow further. We want to make it fun for influencers to get early access to the products they love without being stalked by brands.</p>

                <h2><i class="fa fa-question-circle"></i>What kind of products does SproutUp offer for trial?</h2>
                <p>Primarily tech gadgets such as IoT sensors, tech toys, wearable devices, smart monitors, home utility goods, or anything else innovative that is shippable. At some point, we’ll expand to other stuff.</p>

                <h2><i class="fa fa-question-circle"></i>How many product trial requests can I place?</h2>
                <p>We currently limit you to three active product requests at a given time. If you find another product exciting, you can simply cancel one of your active requests and place a new request on the product of your interest. After you complete a trial, you can place another request. It’s as easy as that!</p>

                <h2><i class="fa fa-question-circle"></i>Is there a product trial fee?</h2>
                <p>No, not at all if you are a well-known social influencer. For those who are less influential (in the social media realm), we are working on a reasonable pricing model for you to participate in product trial.</p>

                <h2><i class="fa fa-question-circle"></i>Do you ship to international addresses?</h2>
                <p>Unfortunately, we cannot ship internationally at this point. Sorry!</p>

                <h2><i class="fa fa-question-circle"></i>Why do I have to return a product?</h2>
                <p>Since we are working with emerging products, creators of these products have a limited inventory. We circulate a limited number of product units that we have access to among a team of influencers. Also, it helps us keep our operational costs low. But, if you are interested in keeping a particular product, we will do our best to offer you a discounted price.</p>
                <p>Of course, we know content creators put lots of time and efforts into writing, photographing and video producing, and it is our top goal to make SproutUp a rewarding experience for everyone who participates. We're rolling out rewards, perks and referral programs soon to incentivize users.</p>

                <h2><i class="fa fa-question-circle"></i>Do I need to necessarily write/publish the content</h2>
                <p>There are no strings attached as far as writing or publishing the content. However, remember that it is very helpful for creators and consumers to see constructive feedback. If you don’t like a product you tried, simply return the product. No qualms! We would welcome any offline feedback you can share with SproutUp (which we can pass on to the product creator as well, if you’d like).</p>

                <h2><i class="fa fa-question-circle"></i>What’s in it for an Influencer?</h2>
                <p>There are multiple benefits</p>
                <ul>
                    <li>Easy and early access to emerging products on a recurring basis at no cost.</li>
                    <li>Expand your influence circle by posting awesome content on cutting-edge stuff. We also boost your content and followership using the power of the SproutUp community.</li>
                    <li>Earn perks, monetary and non-monetary, based on the performance of content.</li>
                    <li>Networking with other tech influencers and enthusiasts. Learn from each other, and collaborate with each other.</li>
                </ul>

                <h2><i class="fa fa-question-circle"></i>What Perks do you offer?</h2>
                <p>We think the biggest perk is actually the opportunity to discover and tryout awesome products. In addition, we offer both monetary and non-monetary perks. Depending on the nature of the product, the perks vary. At this time, we offer cash rewards and credits for Google Adwords, Facebook promotion and Twitter promotion. We are constantly adding new perks, so please stay tuned.</p>

                <h2><i class="fa fa-question-circle"></i>Do creators pay Influencers directly for their service?</h2>
                <p>No. SproutUp is a managed service model that charges a flat plus pay-for-performance fee from creators. Based on the outcome, we then share a portion of the pay-for-performance fee with our influencer participants.</p>

                <h2><i class="fa fa-question-circle"></i>How do I get notified of SproutUp activities, new products etc.?</h2>
                <p>We understand you are a busy bee. We send email notifications only for necessary things such as trial updates, new products available for trial and outcome reports. Also, we encourage you to be an active user on the SproutUp platform.</p>

            </div>
        </div>
    </div>
</div>
