<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <ul class="list-inline sproutup-footer-links">
              <li><a ui-sref="about">About Us</a></li>
              <li><a href="http://blog.sproutup.co">Blog</a></li>
              <li><a href="https://angel.co/sproutup/jobs">Career</a></li>
              <li><a href="mailto:tao@@sproutup.co" target="_top">Contact Us</a></li>
              <li><a ui-sref="privacy">Privacy Policy</a></li>
              <li><a ui-sref="terms">Terms</a></li>
          </ul>
        <ul class="list-inline sproutup-social-buttons">
            <li>
                <a href="http://twitter.com/sproutupco" target="_blank"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="https://www.facebook.com/sproutup.co" target="_blank"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="https://instagram.com/sproutup.co/" target="_blank"><i class="fa fa-instagram"></i></a>
            </li>
            <li>
              <a href="https://www.pinterest.com/sproutupco/" target="_blank"><i class="fa fa-pinterest"></i></a>
            </li>
            <li>
              <a href="https://angel.co/sproutup" target="_blank"><i class="fa fa-angellist"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/sproutup" target="_blank"><i class="fa fa-linkedin"></i></a>
            </li>
        </ul>

        <p class="copyright small">&copy; SproutUp Co. 2015</p>

      </div>
    </div>
  </div>
</footer>
