@()

    <div class="row marketing-container">
        <div class="marketing-header">
            <h1>Together, we help products grow</h1>
            <h2>We help you discover, try out, and promote the best innovative products</h2>
        </div>

        <div class="row marketing-blurb">
            <div class="col-md-4">
                <p class="marketing-title-seq">1</p>
                <h2 class="marketing-title">Join SproutUp community</h2>
                <p class="marketing-content">Sign up and connect your social channels. We’ll verify your “influence level” and unlock full access if you’re eligible.</p>
            </div>
            <div class="col-md-4">
                <p class="marketing-title-seq">2</p>
                <h2 class="marketing-title">Try out rad products</h2>
                <p class="marketing-content">Once you’re in, you’ll get access to innovative emerging products. Make requests to try out the ones you like.</p>
            </div>
            <div class="col-md-4">
                <p class="marketing-title-seq">3</p>
                <h2 class="marketing-title">Create content and get perks</h2>
                <p class="marketing-content">Write blogs, make YouTube videos, and tweet. Get perks for promoting the products and spreading the word.</p>
            </div>
        </div>

        <div class="marketing-cta">
            <a href="#" class="btn btn-lg sproutup-btn-lg-main">GET STARTED</a>
        </div>

    </div>
