@(products: List[Product])

    <div class="marketing-container">
        <div class="container">
            <div class="row text-center">
                <div class="marketing-header">
                    <h1>SproutUp is redefining commerce</h1>
                </div>
                <div class="row marketing-blurb">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <img class="img-circle img-responsive img-center marketing-img" src="@routes.Assets.at("images/index/product.png")" alt="">
                        <h2 class="marketing-title">Discover cool products</h2>
                        <p class="marketing-content">We partner with the most creative folks and display the emerging products they are making. Here you will find the amazing things.</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <img class="img-circle img-responsive img-center marketing-img" src="@routes.Assets.at("images/index/personal.png")" alt="">
                        <h2 class="marketing-title">Touching is believing</h2>
                        <p class="marketing-content">No experience is better than first-hand personal experience. We facilitate tryout for enthusiasts to touch products by yourself.</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <img class="img-circle img-responsive img-center marketing-img" src="@routes.Assets.at("images/index/sharing.png")" alt="">
                        <h2 class="marketing-title">Sharing is catalyst</h2>
                        <p class="marketing-content">Share product photos, videos and feedback with creators and other users. Authentic experience tells a lot more about a product.</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <img class="img-circle img-responsive img-center marketing-img" src="@routes.Assets.at("images/index/community.png")" alt="">
                        <h2 class="marketing-title">We are community</h2>
                        <p class="marketing-content">Become a part of the community of creators, enthusiasts and product lovers, where we share a passion about innovativeness.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Featured product list -->
    <div class="row product-list-container">
        <h1 class="text-center product-list-header">Check out featured products</h1>
        <h1 class="text-center product-list-header-2">We are expanding the collaboration with product creators. Stay tuned for more exciting stuff, beta coming in early 2015.</h1>

        @for(product <- products) {
            @if(product.isFeatured) {
                <div class="col-sm-6 col-xs-12 product-list-item">
                        <div class="product-cover-photo" style="background-image: url('@("https://s3.amazonaws.com/sproutup-mvp-cdn/assets/" + product.productEAN +".jpg")')">
                            <div class="product-category-list">
                                <button type="button" class="btn btn-product-category">Smart Home</button>
                                <button type="button" class="btn btn-product-category">Lighting</button>
                                <button type="button" class="btn btn-product-category">Design</button>
                            </div>
                            <a href="/product/@product.slug">
                                <div class="product-cover-info">
                                    <div class="product-cover-title">
                                        <div class="featured-product-label">Featured</div>
                                        <p>@product.productName</p>
                                    </div>
                                    <div class="product-cover-description">
                                        @product.productDescription
                                    </div>
                                </div>
                            </a>
                        </div>
                </div>
            }
        }
    </div>

    <hr>

    <div class="row product-list-container" up-product-list>
        <h1 class="text-center product-list-header">Other awesome products on SproutUp</h1>
        <div class="col-sm-12 product-list--search-area">
            <input ng-model="query" class="form-control product-list--search-input" placeholder="Search products">
            <span class="fa fa-search"></span>
        </div>

        <div ng-repeat="product in products | filter: {$:query, isFeatured:false}">
            <up-product-item product="product"></up-product-item>
        </div>
    </div>

    <hr>
