@(localUser: models.User = null)

@moreHead = {
  <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/index.css")">
  <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/product.css")">
}

@main(Messages("SproutUp: Redefine Commerce for Emerging Products"), moreHead) {
  <div>
    <!-- header -->
    <div class="hero-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="hero-message">
              <h1>Discover innovations</h1>
            </div>
      			@if(localUser == null){
                  <div class="col-lg-8 col-lg-offset-2">
                    <a href="@routes.Application.signup()" class="btn btn-lg btn-outline">Join Us</a>
                  </div>
      			} else {
      				<div>
      					<h1 class="welcome-message">Welcome, @localUser.name</h1>
      				</div>
      			}
          </div>
        </div>
      </div>
    </div>
    <!-- end of header -->

    <!-- marketing -->
    <section class="marketing">
      <div class="row text-center">
        <div class="col-lg-8 col-lg-offset-2 marketing-header">
          <h1>SproutUp is <font color="#2996cc">redefining</font> e-commerce</h1>
        </div>
        <div class="row marketing-blurb">
          <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="@routes.Assets.at("images/index/product.png")" alt="">
            <h2 class="marketing-title">PRODUCT</h2>
            <p class="marketing-content">SproutUp partners with the most creative folks and brings emerging products to the market</p>
          </div>
          <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="@routes.Assets.at("images/index/community.png")" alt="">
            <h2 class="marketing-title">COMMUNITY</h2>
            <p class="marketing-content">A community of product geeks and lovers from around the world engaging with innovations</p>
          </div>
          <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="@routes.Assets.at("images/index/personal.png")" alt="">
            <h2 class="marketing-title">PERSONAL</h2>
            <p class="marketing-content">Discover and experience emerging products in a personal way that you have never had before</p>
          </div>
        </div>
      </div>
    </section>
    <!-- end of marketing -->

    <!-- product video showcase -->
    <section class="video-show">
    </section>
    <!-- end of product video showcase -->

    <!-- creator stories -->
    <section class="creator-stories">
    </section>
    <!-- end of creator stories -->

    <!-- press -->
    <section class="press">
    </section>
    <!-- end ofpress -->

  }
