@(title: String, description: String, url: String, image: String, imageType: String)

@import play.api.Play._

@moreHead = {
    <meta name="description" content="@description">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="@title" />
    <meta property="og:site_name" content="Sproutup"/>
    <meta property="og:url" content="@url" />
    <meta property="og:description" content="@description" />

    <meta property="og:image" content="@image" />
    <!--meta property="og:image:secure_url" content="https://secure.example.com/ogp.jpg" /-->
    <meta property="og:image:type" content="@imageType" />
    <!--meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" /-->

    <!--meta property="og:video" content="http://example.com/movie.swf" />
    <meta property="og:video:secure_url" content="https://secure.example.com/movie.swf" />
    <meta property="og:video:type" content="application/x-shockwave-flash" />
    <meta property="og:video:width" content="400" />
    <meta property="og:video:height" content="300" /-->

    <meta property="fb:app_id" content="@{play.api.Play.current.configuration.getString("facebook.app.id")}" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />            <!-- Default -->
    <!--meta property="article:author" content="https://www.facebook.com/fareedzakaria" />
    <meta property="article:publisher" content="https://www.facebook.com/cnn" /-->
}

@main(title, moreHead) {
    <div ui-view autoscroll="true"></div>
}

@footer()
