@(s3Files: List[models.S3File])(mediaUploadForm: Form[S3File])(products: List[models.Product])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="form-header">Internal upload to AWS S3</h1>
        </div>

        <div class="row signup-form-block">
          <div class="col-md-8 col-md-offset-2">

        @helper.form(action = routes.MediaManagement.doUpload, 'enctype -> "multipart/form-data") {

          @select(
          mediaUploadForm("productName"),
          products.map {p =>
            (p.id.toString+"_"+p.productName) -> p.productName
          },
          '_label -> "Product Name"
          )

          @inputText(
          mediaUploadForm("submittedUser"),
          '_label -> "Submitted By"
          )

          @inputFile(
          mediaUploadForm("upload")
          )

          <div>
            <input class="btn btn-primary btn-lg btn-block" type="submit">
          </div>
        }
      </div>
    </div>

      </div>
    </div>

  </div>

  <hr>