@(loginForm: Form[_])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }
@import com.feth.play.module.pa.views.html._

@main(Messages("Log In - Redefine Commerce for Emerging Products")) {

  <div class="row">

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="form-header">Log in and have fun</h1>
        </div>
      </div>

      <div class="row login-form-block">
        <div class="col-md-8 col-md-offset-2">

          <!-- facebook login -->
          <div class="form-group">
            <a href="/authenticate/facebook">
              <button id="signup-with-facebook" type="submit" class="btn btn-primary btn-lg btn-block btn-facebook"><i class="fa fa-facebook-square" style="padding-right: 20px;"></i>Log in with Facebook</button>
            </a>
          </div>
          <div class="signup-or-separator">
            <h6 class="text-special">OR</h6>
            <hr>
          </div>

          @helper.form(routes.Application.doLogin) {

            @if(loginForm.hasGlobalErrors) {
              <p class="alert alert-danger">
                @loginForm.globalError.message
              </p>
            }

            @inputText(
              loginForm("email"),
              '_label -> "Email"
            )

            @inputPassword(
              loginForm("password"),
              '_showConstraints -> false,
              '_label -> "Password"
            )

          <button type="submit" class="btn btn-primary btn-lg btn-block">Log In</button>

        }

        </div>

        <div class="col-md-8 col-md-offset-2">
          <h2>Don't have an account? <a href="@routes.Application.signup()">Sign up</a> here.</h2>
          <h2><a href="javascript:void(0);" onclick="window.location.href = jsRoutes.controllers.Signup.forgotPassword($('#email').val() || null).absoluteURL();">Forgot your password?</a></h2>
        </div>

      </div>

    </div>
  </div>

  <hr>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <ul class="list-inline sproutup-social-buttons">
            <li><a href="https://www.facebook.com/sproutup.co" target="_blank"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="https://angel.co/sproutup" target="_blank"><i class="fa fa-angellist"></i></a>
            </li>
            <li><a href="https://www.linkedin.com/company/sproutup" target="_blank"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>

          <p class="copyright small">Copyright &copy; SproutUp 2014. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </footer>

}
