@(title: String, moreHead: Html = Html(""), bodyAttributes: Html = Html(""), htmlAttributes: Html = Html(""))(content: Html)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import com.feth.play.module.pa.views.html._

<!DOCTYPE html>
<html lang="@lang().code()" ng-app="sproutupApp" @htmlAttributes>
    <head>
        <title ng-bind="$state.current.data.title">@title</title>
        @moreHead

        <!-- favicon -->
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/logo-square.png")">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- <link rel="stylesheet" href="@routes.Assets.at("library/bootstrap/css/bootstrap.css")"> -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/news.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/signup-login-modal.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/index.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/product-item.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/product-item--about.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/product-item--bar.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/product-item--gallery.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/product-list.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/ng-tags-input.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/about.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/creator.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/community.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/profile.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/profile-edit.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/profile-photo.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/profile-product.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/profile-follow.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/profile-video.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/settings.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/creator-dashboard.css")">


        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <!-- google places API -->
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>

        <!-- flowplayer -->
        <!-- 1. skin -->
        <link rel="stylesheet" href="//releases.flowplayer.org/5.5.2/skin/minimalist.css">
        <!-- 2. flowplayer -->
        <script src="//releases.flowplayer.org/5.5.2/commercial/flowplayer.min.js"></script>
        <script>
            flowplayer.conf.adaptiveRatio = true;
            flowplayer.conf.embed = false;
        </script>

        <script src="https://platform.twitter.com/widgets.js"></script>
        <script type="text/javascript" src="@routes.Application.jsRoutes" defer="defer"></script>
        <script src='@routes.Assets.at("library/crypto-js/core-min.js")'></script>
        <script src='@routes.Assets.at("library/crypto-js/sha256.js")'></script>
        <script src='@routes.Assets.at("library/crypto-js/lib-typedarrays-min.js")'></script>
        <script src="@routes.Assets.at("library/masonry/masonry.pkgd.js")"></script>
        <script src="@routes.Assets.at("library/imagesloaded/imagesloaded.pkgd.js")"></script>
        <script src="@routes.Assets.at("javascripts/angular.js")"></script>
        <script src="@routes.Assets.at("javascripts/angular-route.js")"></script>
        <script src="@routes.Assets.at("javascripts/angular-animate.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/angular-cookies.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/angular-resource.js")"></script>
        <script src="@routes.Assets.at("javascripts/ng-tags-input.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/angular-facebook.js")"></script>
        <script src="@routes.Assets.at("javascripts/angulartics.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/angulartics-ga.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/angulartics-mixpanel.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/angulartics-scroll.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/ngAutocomplete.js")"></script>
        <script src="@routes.Assets.at("javascripts/ui-bootstrap-tpls-0.13.0.min.js")"></script>

        <script src="@routes.Assets.at("library/angular-file-upload/angular-file-upload.min.js")"></script>
        <script src="@routes.Assets.at("library/angular-masonry/angular-masonry.js")"></script>
        <script src="@routes.Assets.at("library/ngInfiniteScroll/build/ng-infinite-scroll.min.js")"></script>

        <script src="@routes.Assets.at("app/components/facebook/facebook-directive.js")"></script>
        <script src="@routes.Assets.at("angular/config.js")"></script>
        <script src="@routes.Assets.at("app/app.module.js")"></script>
        <script src="@routes.Assets.at("angular/app.js")"></script>
        <script src="@routes.Assets.at("angular/controllers.js")"></script>
        <script src="@routes.Assets.at("angular/directives.js")"></script>
        <script src="@routes.Assets.at("angular/filters.js")"></script>
        <script src="@routes.Assets.at("angular/services.js")"></script>
        <script src="@routes.Assets.at("javascripts/moment.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/angular-ui-router.min.js")"></script>
        <!--script data-main="/javascripts/main.js" src="/lib/requirejs/require.js"></script-->

        <script src="@routes.Assets.at("app/user/login.controller.js")"></script>
        <script src="@routes.Assets.at("app/user/signup.controller.js")"></script>
        <script src="@routes.Assets.at("app/trial/trial.controller.js")"></script>
        <script src="@routes.Assets.at("app/mytrials/mytrials.controller.js")"></script>
        <script src="@routes.Assets.at("app/settings/profile.controller.js")"></script>
        <script src="@routes.Assets.at("app/settings/settings.controller.js")"></script>
        <script src="@routes.Assets.at("app/settings/analytics.controller.js")"></script>
        <script src="@routes.Assets.at("app/settings/social.controller.js")"></script>
        <script src="@routes.Assets.at("app/oath2/oath2.controller.js")"></script>
        <script src="@routes.Assets.at("app/wizard/wizard.controller.js")"></script>
        <script src="@routes.Assets.at("app/services/auth.service.js")"></script>
        <script src="@routes.Assets.at("app/services/trial.service.js")"></script>
        <script src="@routes.Assets.at("app/services/content.service.js")"></script>
        <script src="@routes.Assets.at("app/services/user.service.js")"></script>
        <script src="@routes.Assets.at("app/services/google.api.service.js")"></script>
        <script src="@routes.Assets.at("app/services/feed.service.js")"></script>
        <script src="@routes.Assets.at("app/services/opengraph.service.js")"></script>
        <script src="@routes.Assets.at("app/services/analytics.service.js")"></script>
        <script src="@routes.Assets.at("app/services/likes.service.js")"></script>
        <script src="@routes.Assets.at("app/services/comment.service.js")"></script>
        <script src="@routes.Assets.at("app/services/mytrialproducts.service.js")"></script>
        <script src="@routes.Assets.at("app/products/dashboard.controller.js")"></script>
        <script src="@routes.Assets.at("app/products/dashboard.controller.js")"></script>
        <script src="@routes.Assets.at("app/content/content.controller.js")"></script>
        <script src="@routes.Assets.at("app/content/content.routes.js")"></script>
        <script src="@routes.Assets.at("app/content/up-content.directive.js")"></script>
        <script src="@routes.Assets.at("app/like/up-like.directive.js")"></script>
        <script src="@routes.Assets.at("app/comments/up-comments.directive.js")"></script>

        <!-- Tooltips -->
        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>

        <!-- Font -->
        <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700'>

        <!-- start Mixpanel -->
        <script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
        for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
        mixpanel.init("@{play.api.Play.current.configuration.getString("mixpanel.app.token")}", {track_pageview: false});</script>
        <!-- end Mixpanel -->

        <!-- start google analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '@{play.api.Play.current.configuration.getString("google.analytics.tracking.id")}', 'auto');
          //ga('send', 'pageview');
        </script>
        <!-- end google analytics -->

        <base href="/"/>
    </head>

    <body @bodyAttributes>
    <div>

      @content

    <!--div ng-controller="AuthCtrl as ctrl" class="well">
        <h2>Logged in user</h2>
        <dt>Name</dt>
        <dd>{{ctrl.m.user.name}}</dd>
        <dd>{{ctrl.m.user.email}}</dd>
        <dt>isLoggedIn</dt>
        <dd>{{ctrl.m.isLoggedIn | json}}</dd>
    </div-->

    </div>
    </body>

</html>
