<div class="container">
    <div class="row text-center">
        <div class="col-lg-12">
            <div class="news-title">SproutUp Beta Launch</div>
            <div class="news-content">
                <div class="news-timestamp">Bethesda, MD - April 20th, 2015</div>
                <p>This privacy policy has been compiled to better serve those who are concerned with how their 'Personally identifiable information' (PII) is being used online. PII, as used in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.</p>
            </div>
        </div>
    </div>
</div>