<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="news-sproutup-logo">
                <img src="@routes.Assets.at("images/logo-round-blue@2x.png")">
            </div>
            <div class="news-title">
                SproutUp launches an open collaboration platform to help product creators evolve and grow
            </div>
            <div class="news-content">
                <div class="news-timestamp">New York, May 4th, 2015</div>
                <p>SproutUp, a DC-based startup, is laser focused on helping emerging product creators transition from early stage to successful viral brands. As an open collaboration platform, SproutUp provides interactive tools for creators to engage with a community of early adopters and technology enthusiasts.</p>
                <blockquote>We are moving toward democratization of innovation and product development. Consumers no longer simply consume, they participate in the creation and marketing process. Crowdfunding sites such as Kickstarter and Indiegogo have led the way by providing an opportunity for consumers to decide which ideas come to life,</blockquote>
                <p>said Nitin Jain, SproutUp Co-Founder and CEO.</p>
                <blockquote>We want to build upon this trend and help creators who have early funding and a market-ready product evolve to the next level.</blockquote>
                <p>SproutUp community members are encouraged to explore new products, request trials, share photos and offer ideas to further product innovation. Enthusiasts become recognized experts based on their community participation. Creators ask questions, field users’ responses and draw actionable insights on product innovation. Creators benefit by improving their products and amplifying their marketing efforts in a cost-effective manner.</p>
                <blockquote>From my experience in product design, good ideas never happen in a box. Inviting customers to join the creative process makes better products and initiates the excitement essential for growth,</blockquote>
                <p>said Tao Ni, Co-Founder and Product Builder.</p>
                <p>After a successful friends and family seed funding round in April 2015, SproutUp launches a Beta version to select companies at the NYC TechCrunch Disrupt conference May 4-6, 2015. A robust platform rollout is expected for summer 2015.</p>
            </div>
            <div class="news-footer">
                <a href="http://techcrunch.com/events/disrupt-ny-2015/event-home/" target="_blank"><img src="@routes.Assets.at("images/events/tc-disrupt-ny-15.png")"></a>
                <p><a href="http://techcrunch.com/events/disrupt-ny-2015" target="_blank">TechCrunch Disrupt NY 2015</a> is <a href="http://www.techcrunch.com" target="_blank">TechCrunch</a>’s sixth annual conference in New York City. The conference is May 4-6, 2015 at the Manhattan Center, 311 West 34th Street (at 8th Ave.) Manhattan.</p>
                <p>Press and media contact: Beth Watson, beth@@sproutup.co</p>
            </div>
        </div>
    </div>
</div>