<div class="perk">
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h3>Introducing</h3>
                        <h1>SproutUp Reward Points</h1>
                        <p>We want SproutUp experience to be awesome and rewarding, so we are stoked to launch a program for you to earn <span>Reward Points</span>. Excited? We bet so! Keep reading below...</p> 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="perk-details">

        <div class="how-it-works--blurb text-center">
            <p class="how-it-works--title">Create content</p>
            <p class="how-it-works--subtitle">After your product trial, earn points by posting blogs, YouTube or Vine videos, or Periscope live demos on <a ui-sref="user.buzz">SproutUp Buzz</a>. Shoutouts on social media count, too!</p>
            <p class="how-it-works--subtitle">We measure the performance of your content. The more views your content drives, the more points you earn. Make sure under <a ui-sref="user.settings.analytics">Account Settings</a>, you authorize SproutUp to read data from you Google or YouTube analytics.</p>
        </div>

        <div class="how-it-works--blurb-b text-center">
            <p class="how-it-works--title">Promote products in your content</p>
            <p class="how-it-works--subtitle">Earn points by embedding your unique referral link in the content you publish</p>
            <div class="row how-it-works--main promote">
                <div class="col-sm-6 how-it-works--content">
                    <img src="@routes.Assets.at("images/perk/promote-1.png")" class="img-responsive">
                    <p>Share your unique referral link in content and social media shoutouts.</p>
                </div>
                <div class="col-sm-6 how-it-works--content">
                    <img src="@routes.Assets.at("images/perk/promote-2.png")" class="img-responsive">
                    <p>You earn points on engagement, i.e. referral link click (coming soon).</p>
                </div>
            </div>
        </div>

        <div class="how-it-works--blurb text-center">
            <p class="how-it-works--title">Share products, earn discount</p>
            <p class="how-it-works--subtitle">Share your favorite products on your social network and earn a discount</p>
            <div class="row how-it-works--main">
                <div class="col-sm-4 how-it-works--content">
                    <img src="@routes.Assets.at("images/perk/share-product-1.png")" class="img-responsive">
                    <p>Pick products you love and look for the "Get Discount" button.</p>
                </div>
                <div class="col-sm-4 how-it-works--content">
                    <img src="@routes.Assets.at("images/perk/share-product-2.png")" class="img-responsive">
                    <p>Share product on social media, earn points and get a coupon.</p>
                </div>
                <div class="col-sm-4 how-it-works--content">
                    <img src="@routes.Assets.at("images/perk/share-product-3.png")" class="img-responsive">
                    <p>When a friend signs up by referral, you earn more points (coming soon).</p>
                </div>
            </div>
        </div>

        <div class="how-it-works--blurb-b text-center">
            <p class="how-it-works--title">Our community loves your participation</p>
            <p class="how-it-works--subtitle">Show your support – earn points by upvoting, commenting and sharing awesome content</p>
            <div class="row how-it-works--main">
                <div class="col-sm-12 how-it-works--content">
                    <img src="@routes.Assets.at("images/perk/participation.jpg")" class="img-responsive">
                </div>
            </div>
        </div>

        <div class="how-it-works--blurb text-center">
            <p class="how-it-works--title"></p>
            <p class="how-it-works--subtitle">Glad you asked</p>
        </div>

    </div>
</div>
