<div class="perk">
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Get involved and earn perks</h1>
                        <h3>Coming soon...</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="perk-details">

        <!-- how it works 1 -->
        <div class="how-it-works--blurb-b text-center">
            <p class="how-it-works--title">Promote products in your content</p>
            <p class="how-it-works--subtitle">Earn credits by embedding your unique referral link in the content you publish</p>
            <div class="row how-it-works--main promote">
                <div class="col-sm-6 how-it-works--content">
                    <img src="@routes.Assets.at("images/perk/promote-1.png")" class="img-responsive">
                    <h1>Spread the word<h1>
                    <p>Share your unique referral link to your social network, or email it.</p>
                </div>
                <div class="col-sm-6 how-it-works--content">
                    <img src="@routes.Assets.at("images/perk/promote-2.png")" class="img-responsive">
                    <h1>Earn perks<h1>
                    <p>When a friend signs up or sprout it further, you earn perks.</p>
                </div>
            </div>
        </div>

        <!-- how it works 2 -->
        <div class="how-it-works--blurb text-center">
            <p class="how-it-works--title">Share products</p>
            <p class="how-it-works--subtitle">Earn discount and cash rewards by sharing your favorite products on your social network</p>
            <div class="row how-it-works--main">
                <div class="col-sm-4 how-it-works--content">
                    <img src="@routes.Assets.at("images/perk/share-product-1.png")" class="img-responsive">
                    <h1>"Sprout me Up"<h1>
                    <p>Pick products you love and look for the "Sprout me Up!" button.</p>
                </div>
                <div class="col-sm-4 how-it-works--content">
                    <img src="@routes.Assets.at("images/perk/share-product-2.png")" class="img-responsive">
                    <h1>Spread the word<h1>
                    <p>Share your unique link to your social network, or email it.</p>
                </div>
                <div class="col-sm-4 how-it-works--content">
                    <img src="@routes.Assets.at("images/perk/share-product-3.png")" class="img-responsive">
                    <h1>Earn perks<h1>
                    <p>When a friend signs up or sprout it further, you earn perks.</p>
                </div>
            </div>
        </div>

    </div>
</div>
