@(product: models.Product)

@main(Messages("Explore Products - Redefine Commerce for Emerging Products")) {

  <div class="product-header">
    <div class="container-fluid product-info">
      <div class="col-lg-12 col-md-12 col-sm-12">
          <p class="product-title">@product.productName</p>
          <p class="product-description">@product.productDescription</p>
        </div>
      </div>
  </div>

  <section id="media">
    <div class="container">
      <div class="media-header">How people are <font color="#2996cc" >using</font> @product.productName</div>

      <div class="row">
        <div class="col-md-4 product-photo">
            <img class="img-responsive" src="https://s3.amazonaws.com/sproutup-cdn/product/belleds/photos/2014-12-09+11.00.13.jpg">
        </div>
        <div class="col-md-4 product-photo">
            <img class="img-responsive" src="https://s3.amazonaws.com/sproutup-cdn/product/belleds/photos/2014-12-09+21.05.21.jpg">
        </div>
        <div class="col-md-4 product-photo">
            <img class="img-responsive" src="https://s3.amazonaws.com/sproutup-cdn/product/belleds/photos/2014-12-09+21.13.29.jpg">
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 product-photo">
          <img class="img-responsive" src="https://s3.amazonaws.com/sproutup-cdn/product/belleds/photos/2014-12-09+11.00.13.jpg">
        </div>
        <div class="col-md-4 product-photo">
          <img class="img-responsive" src="https://s3.amazonaws.com/sproutup-cdn/product/belleds/photos/2014-12-09+21.05.21.jpg">
        </div>
        <div class="col-md-4 product-photo">
          <img class="img-responsive" src="https://s3.amazonaws.com/sproutup-cdn/product/belleds/photos/2014-12-09+21.13.29.jpg">
        </div>
      </div>

    </div>

  </section>

  <hr>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <ul class="list-inline sproutup-social-buttons">
            <li><a href="https://www.facebook.com/sproutup.co" target="_blank"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="https://angel.co/sproutup" target="_blank"><i class="fa fa-angellist"></i></a>
            </li>
            <li><a href="https://www.linkedin.com/company/sproutup" target="_blank"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>

          <p class="copyright small">Copyright &copy; SproutUp 2014. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </footer>
  

}
