@()

<div class="product-hero-banner" up-background-image="{{product.banner.url.image}}" up-background-attr="?w=1600" up-fallback-image="/assets/images/default-product-banner.jpg">
    <div class="product-info-wrapper">
        <div class="col-md-7 col-sm-6 product-info">
            <div class="product-title">{{product.productName}}</div>
            <div class="product-description">{{product.productDescription}}</div>
            <ul class="list-inline product-social-buttons">
                <li ng-show="product.urlHome"><a analytics-on="click" analytics-event="Visit Product Site: {{product.productName}}" href="{{product.urlHome}}" target="_blank"><i class="fa fa-home"></i></a></li>
                <li ng-show="product.urlFacebook"><a analytics-on="click" analytics-event="Visit Product Facebook: {{product.productName}}" href="{{product.urlFacebook}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li ng-show="product.urlTwitter"><a  analytics-on="click" analytics-event="Visit Product Twitter: {{product.productName}}" href="{{product.urlTwitter}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
            </ul>
            <!-- <div class="row product-share-buttons">
                <div class="fb-share-button">
                    <a analytics-on="click" analytics-event="Share Product on Facebook: {{product.productName}}" up-facebook-like-share ng-click="share()" xxhref="https://www.facebook.com/sharer.php?p[url]=http://www.producthunt.com/posts/paragraphs" target="_blank" class="btn btn-xs btn-facebook-share"><i class="fa fa-facebook"></i>Share</a>
                </div>
                <div class="tw-share-button">
                    <a analytics-on="click" analytics-event="Share Product on Twitter: {{product.productName}}" up-twitter-tweet-button text="Check out {{product.productName}}" xxhref="https://twitter.com/intent/tweet?text=blabla$url&via=sproutupco" class="btn btn-xs btn-twitter-share"><i class="fa fa-twitter"></i>Tweet</a>
                </div>
            </div> -->
            <div class="product-menu--action">
                <!-- <a class="btn btn-lg sproutup-btn-md-upvote" href="#"><i class="fa fa-thumbs-up"></i>40</a> -->
                <a analytics-on="click" analytics-event="Request trial: {{product.productName}}" ng-show="init && product.isAvailableForTrial && !isLoggedIn " class="btn btn-lg sproutup-btn-md-main" ng-click="login('user.product.detail.about', {slug: product.slug} )" ui-sref="user.login">Request Product Trial</a>
                <a analytics-on="click" analytics-event="Request trial: {{product.productName}}" ng-show="init && product.isAvailableForTrial && isLoggedIn && !hasCurrentTrial && !hasReachedTrialLimit" class="btn btn-lg sproutup-btn-md-main" ui-sref="user.trial.request({ slug: product.slug })">Request Product Trial</a>
                <a analytics-on="click" analytics-event="Request trial: {{product.productName}}" ng-show="init && product.isAvailableForTrial && isLoggedIn && !hasCurrentTrial && hasReachedTrialLimit" class="btn btn-lg sproutup-btn-md-main" ui-sref="user.trial.confirmation({ slug: product.slug })">Request Product Trial</a>
                <a analytics-on="click" analytics-event="View trial status: {{product.productName}}" ng-show="init && isLoggedIn && hasCurrentTrial" class="btn btn-lg sproutup-btn-md-main" ui-sref="user.mytrials.current">View Trial Status</a>
                <a analytics-on="click" analytics-event="Sprout me Up: {{product.productName}}" ng-show="init && activeSprout && !isLoggedIn" class="btn btn-lg sproutup-btn-md-main" ng-click="login('user.product.detail.about', {slug: product.slug} )" ui-sref="user.login">Sprout me Up!</a>
                <a analytics-on="click" analytics-event="Sprout me Up: {{product.productName}}" ng-show="init && activeSprout && isLoggedIn" class="btn btn-lg sproutup-btn-md-main" ng-click="open()">Sprout me Up!</a>
                <a analytics-on="click" analytics-event="Buy product: {{product.productName}}" ng-show="init && product.isAvailableToBuy && product.urlBuy" class="btn btn-lg sproutup-btn-md-main" ng-href="{{product.urlBuy}}">Buy</a>
            </div>
            <div class="product-menu--help">
                <a ng-show="init && product.isAvailableForTrial && !activeSprout" ui-sref="user.howitworks"><i class="fa fa-question-circle"></i>Learn how Trial works</a>

                <!-- Added by apurv (modal share/signup on Sprout <Product> Up) -->
                <div style="display: inline">
                    <script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-header">
                            <button class="close" ng-click="close()">&times</button>
                            <h3 class="modal-title">Sprout {{product.productName}} Up!</h3>
                        </div>
                        <div class="modal-body">
                            <p class="campaign-description">{{longDescription}}</p>
            	            <p class="campaign-body">Here is a unique referral link that you can embed anywhere or send to anyone: <span>{{uniqueLink}}</span></p>
            	            <div class="row product-share-buttons">
                                <div class="fb-share-button">
                                    <a analytics-on="click" analytics-event="Sprout up on Facebook: {{product.productName}}" ng-click="fbShare()" class="btn btn-xs btn-facebook-share"><i class="fa fa-facebook"></i></a>
                                </div>
                                <div class="tw-share-button">
                            		<a analytics-on="click" analytics-event="Sprout up on Twitter: {{product.productName}}" href="{{twtLink}}" class="btn btn-xs btn-twitter-share"><i class="fa fa-twitter"></i></a>
							    </div>
                            </div>
                            <p><input class="sproutup-checkbox" ng-show="showCheckbox" type="checkbox" ng-click="handleCheckbox()" id="wantDiscount"/> {{checkboxText}}</p>
                            <p class="campaign-coupon" ng-show="checked && perk1">{{perk1}}</p>
                        </div>
                        <div class="modal-footer">
							<a class="btn sproutup-btn-md-main" ng-click="close()">Cool, all done!</a>
						</div>
                    </script>
                </div>

            </div>
        </div>
        <div ng-show="init && hasTrial" class="col-md-5 col-sm-6 about-product--quote">
            <div class="triangle-border">
                <img class="about-product--quote-logo" ng-src="{{avatarUrl}}">

                <p class="about-product--quote-user">Why <span>{{trialName}}</span> is interested in trying {{product.productName}}:</p>
                <blockquote class="about-product--quote-block">
                    <p class="about-product--quote-content">{{trialReason}}</p>
                </blockquote>
            </div>
        </div>
    </div>

    <!-- Menu in banner -->
    <div class="product-menu">
        <div class="row product-menu--content">
            <div class="col-xs-6">
                <a analytics-on="click" analytics-event="Product About: {{product.productName}}" ui-sref="user.product.detail.about({ slug: product.slug })" class="product-menu--item" ui-sref-active="active" href="#">About</a>
            </div>
            <div class="col-xs-6">
                <a analytics-on="click" analytics-event="Product Geekout: {{product.productName}}" ui-sref="user.product.detail.bar({ slug: product.slug })" class="product-menu--item" ui-sref-active="active" href="#">Discussion</a>
            </div>
        </div>
    </div>
</div>

<!--div ng-include src="tabs[tabs.activeTab].page"></div-->
<div ui-view autoscroll="true"></div>
