@()

@moreHead = {
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/product-item.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/product-item--about.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/product-item--bar.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/product-list.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/ng-tags-input.css")">
}

@htmlAttributes = {
}

@bodyAttributes = {
    ng-controller="ProductTabCtrl"
}

@main(Messages("Explore Products | SproutUp: Redefine Commerce for Emerging Products"), moreHead, bodyAttributes, htmlAttributes) {

    <div ng-view class="view-frame"></div>

}
