@()

<div class="product-header" style="background-image: url('https://s3.amazonaws.com/sproutup-mvp-cdn/assets/{{product.productEAN}}.jpg')">
    <div class="product-info">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <p class="product-title">{{product.productName}}</p>
            <p class="product-description">{{product.productDescription}}</p>
            <ul class="list-inline product-social-buttons">
                <p>product details</p>

            </ul>

            <div class="col-lg-12">
                <a data-toggle="modal" data-target="#uploadMediaModal" class="btn btn-lg btn-outline">Share my photos</a>
            </div>
        </div>
    </div>
</div>
