@(products: com.avaje.ebean.Page[Product])

@main(Messages("Explore Products - Redefine Commerce for Emerging Products")) {

<div class="product-list">
  <div class="row text-center product-list-container">


      @for(product <- products.getList()) {

      <div class="col-sm-6 col-xs-12 product-cover-item">
        <a href="@routes.Products.details(product.id)">
          <div class="product-cover-photo" style="background-image: url('@routes.Assets.at("images/product/"+product.productEAN+".jpg")')">
            <div class="product-cover-overlay"></div>
            <p class="product-cover-title">@product.productName</p>
            <p class="product-cover-description">@product.productDescription</p>
          </div>
        </a>
      </div>
    }

  </div>
</div>

<hr>

}
