@()

<div class="product-hero-banner" up-background-image="{{product.banner.url.image}}" up-background-attr="?w=1600" up-fallback-image="/assets/images/default-product-banner.jpg">
    <div class="product-info-wrapper">
        <div class="col-md-7 col-sm-6 product-info">
            <div class="product-title">{{product.name}}</div>
            <div class="product-description">{{product.tagline}}</div>
            <ul class="list-inline product-social-buttons">
                <li ng-show="product.urlHome"><a analytics-on="click" analytics-event="Visit Product Site: {{product.name}}" href="{{product.urlHome}}" target="_blank"><i class="fa fa-home"></i></a></li>
                <li ng-show="product.urlFacebook"><a analytics-on="click" analytics-event="Visit Product Facebook: {{product.name}}" href="{{product.urlFacebook}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li ng-show="product.urlTwitter"><a  analytics-on="click" analytics-event="Visit Product Twitter: {{product.name}}" href="{{product.urlTwitter}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
            </ul>
            <!-- <div class="row product-share-buttons">
                <div class="fb-share-button">
                    <a analytics-on="click" analytics-event="Share Product on Facebook: {{product.productName}}" up-facebook-like-share ng-click="share()" xxhref="https://www.facebook.com/sharer.php?p[url]=http://www.producthunt.com/posts/paragraphs" target="_blank" class="btn btn-xs btn-facebook-share"><i class="fa fa-facebook"></i>Share</a>
                </div>
                <div class="tw-share-button">
                    <a analytics-on="click" analytics-event="Share Product on Twitter: {{product.productName}}" up-twitter-tweet-button text="Check out {{product.productName}}" xxhref="https://twitter.com/intent/tweet?text=blabla$url&via=sproutupco" class="btn btn-xs btn-twitter-share"><i class="fa fa-twitter"></i>Tweet</a>
                </div>
            </div> -->
            <div class="product-menu--action">
                <!-- <a class="btn btn-lg sproutup-btn-md-upvote" href="#"><i class="fa fa-thumbs-up"></i>40</a> -->
                <a analytics-on="click" analytics-event="Request Trial" analytics-slug="{{product.slug}}" ng-if="initVar && product.isAvailableForTrial && !isLoggedIn && !product.isTrialFullHouse" class="btn btn-lg sproutup-btn-md-main" ng-click="login('user.product.detail.about', {slug: product.slug} )" ui-sref="user.login">Request Product Trial</a>
                <a analytics-on="click" analytics-event="Request Trial" analytics-slug="{{product.slug}}" ng-if="initVar && product.isAvailableForTrial && isLoggedIn && !hasCurrentTrial && !hasReachedTrialLimit && !product.isTrialFullHouse" class="btn btn-lg sproutup-btn-md-main" ui-sref="user.trial.request({ slug: product.slug })">Request Product Trial</a>
                <a analytics-on="click" analytics-event="Request Trial" analytics-slug="{{product.slug}}" ng-if="initVar && product.isAvailableForTrial && isLoggedIn && !hasCurrentTrial && hasReachedTrialLimit && !product.isTrialFullHouse" class="btn btn-lg sproutup-btn-md-main" ui-sref="user.trial.confirmation({ slug: product.slug })">Request Product Trial</a>
                <a analytics-on="click" analytics-event="Request Trial" analytics-slug="{{product.slug}}" ng-if="initVar && product.isAvailableForTrial && !hasCurrentTrial && product.isTrialFullHouse" class="btn btn-lg sproutup-btn-md-main" ng-disabled="product.isTrialFullHouse" popover="Product trial is temporarily unavailable since we have too many requests :( But hey, please check back later!" popover-trigger="mouseenter" popover-placement="right">Request Product Trial</a>
                <a analytics-on="click" analytics-event="View Request Status" analytics-slug="{{product.slug}}" ng-if="initVar && isLoggedIn && hasCurrentTrial" class="btn btn-lg sproutup-btn-md-main" ui-sref="user.mytrials.current">View Trial Status</a>
                <a analytics-on="click" analytics-event="Enter Contest" analytics-slug="{{product.slug}}" ng-if="initVar && product.isAvailableForContest" class="btn btn-lg sproutup-btn-md-main contest" ng-click="openContest()" popover="Enter free giveaway and spread the word!" popover-trigger="mouseenter" popover-placement="top">{{contestButtonTitle}}</a>
                <!-- <a analytics-on="click" analytics-event="Earn Discount" analytics-slug="{{product.slug}}" ng-if="initVar && activeSprout" class="btn btn-lg sproutup-btn-md-main discount" ng-click="open()" popover="Spread the word, unlock a special discount and buy it!" popover-trigger="mouseenter" popover-placement="top">Earn Discount</a> 
                <a analytics-on="click" analytics-event="Earn Discount" analytics-slug="{{product.slug}}" ng-if="initVar && activeSprout && !isLoggedIn" class="btn btn-lg sproutup-btn-md-main discount" ng-click="login('user.product.detail.about', {slug: product.slug} )" ui-sref="user.login" popover="Spread the word, unlock a special discount and buy it!" popover-trigger="mouseenter" popover-placement="top">Get Discount</a>
                <a analytics-on="click" analytics-event="Earn Discount" analytics-slug="{{product.slug}}" ng-if="initVar && activeSprout && isLoggedIn" class="btn btn-lg sproutup-btn-md-main discount" ng-click="open()" popover="Spread the word, unlock a special discount and buy it!" popover-trigger="mouseenter" popover-placement="top">Get Discount</a>--> 
                <a analytics-on="click" analytics-event="Earn Discount" analytics-slug="{{product.slug}}" ng-if="initVar && product.isAvailableForDiscount" class="btn btn-lg sproutup-btn-md-main discount" ng-click="open()" popover="Spread the word, unlock a special discount and buy it!" popover-trigger="mouseenter" popover-placement="top">Get Discount</a>
                <a analytics-on="click" analytics-event="I Want One" analytics-slug="{{product.slug}}" ng-if="initVar && !product.isAvailableForDiscount && product.isAvailableToBuy && product.urlBuy" class="btn btn-lg sproutup-btn-md-main" ng-href="{{product.urlBuy}}" target="_blank">I Want One</a>
                
            </div>
            <div class="product-menu--help">
                <a ng-show="initVar && product.isAvailableForTrial" ui-sref="user.howitworks"><i class="fa fa-question-circle"></i>Learn how Product Trial works</a>
            </div>
        </div>
        <div ng-show="initVar && hasTrial" class="col-md-5 col-sm-6 about-product--quote">
            <div class="triangle-border">
                <img class="about-product--quote-logo" ng-src="{{avatarUrl}}">

                <p class="about-product--quote-user">Why <span>{{trialName}}</span> is interested in trying {{product.name}}:</p>
                <blockquote class="about-product--quote-block">
                    <p class="about-product--quote-content">{{trialReason}}</p>
                </blockquote>
            </div>
        </div>
    </div>

    <!-- Menu in banner -->
    <div class="product-menu">
        <div class="row product-menu--content">
            <div class="col-xs-6">
                <a analytics-on="click" analytics-event="Product Buzz" analytics-slug="{{product.slug}}" ui-sref="user.product.detail.buzz({ slug: product.slug })" class="product-menu--item" ui-sref-active="active" href="#">Buzz<span class="label label-new-feature">new</span></a>
            </div>
            <div class="col-xs-6">
                <a analytics-on="click" analytics-event="Product About" analytics-slug="{{product.slug}}" ui-sref="user.product.detail.about({ slug: product.slug })" class="product-menu--item" ui-sref-active="active" href="#">About</a>
            </div>
        </div>
    </div>
</div>

<!-- Added by apurv (modal share/signup on Sprout <Product> Up) -->
<div>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <button class="close" ng-click="close()">&times</button>
            <h3 class="modal-title">I want {{product.name}}!</h3>
        </div>
        <div class="modal-body">
            <p class="campaign-description">{{longDescription}}</p>
            <div class="row product-share-buttons">
                <div class="fb-share-button">
                    <a analytics-on="click" analytics-event="Share for Coupon" analytics-slug="{{product.slug}}" ng-click="fbShare()" class="btn btn-xs btn-facebook-share"><i class="fa fa-facebook"></i></a>
                </div>
                <div class="tw-share-button">
                    <a analytics-on="click" analytics-event="Share for Coupon" analytics-slug="{{product.slug}}" href="{{twtLink}}" class="btn btn-xs btn-twitter-share"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
            <hr>
			<div ng-show="offerDiscount">
				<div ng-show="!sharedOnSocialMedia">
					<p class="campaign-description">Your discount code will show up after you spread the word!</p>
					<p class="campaign-coupon disable"><i class="fa fa-tags"></i></p>
				</div>
				<div ng-show="sharedOnSocialMedia">
            		<p class="campaign-description">{{discountText}}</p>
            		<p class="campaign-coupon" ng-show="perk1">{{perk1}}</p>
				</div>
			</div>
            <a analytics-on="click" analytics-event="Buy Now" analytics-slug="{{product.slug}}" class="btn sproutup-btn-md-main" ng-show="product.isAvailableToBuy && product.urlBuy" href="{{product.urlBuy}}" target="_blank">Buy {{product.name}} now</a>
        </div>
    </script>
</div>

<!-- Added by nitinj (modal Contest) -->
<div>
    <script type="text/ng-template" id="contestModal.html">
        <div class="modal-header">
            <button class="close" ng-click="close()">&times</button>
            <h3 class="modal-title">{{contestTitle}}!</h3>
        </div>
        <div class="modal-body">
            <p class="campaign-description">{{contestDescription}}</p>
            <p class="campaign-description"><span>{{totalNumParticipated}}</span> already in. Be the next! Expecting at least <span>{{minimumNumRequired}}</span> entries.</p>
            <div class="row product-share-buttons">
                <div class="fb-share-button">
                    <a analytics-on="click" analytics-event="Share for Contest" analytics-slug="{{product.slug}}" ng-click="fbShare()" class="btn btn-xs btn-facebook-share"><i class="fa fa-facebook"></i></a>
                </div>
                <div class="tw-share-button">
                    <a analytics-on="click" analytics-event="Share for Contest" analytics-slug="{{product.slug}}" href="{{twtLink}}" class="btn btn-xs btn-twitter-share"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
            <hr>
			<div>
				<div ng-show="contestSharedOnSocialMedia">
            		<p class="campaign-confirmation">{{contestConfirmation}}</p>
				</div>
			</div>
        </div>
    </script>
</div>

<!--div ng-include src="tabs[tabs.activeTab].page"></div-->
<div ui-view autoscroll="true"></div>
