@(products: List[Product])

@main(Messages("Explore Products - Redefine Commerce for Emerging Products")) {

<div class="product-list">
  <div class="container">
    <div class="row">

      @for(product <- products) {

      <div class="col-sm-6 col-xs-12 product-cover-item">
        <a href="@routes.Products.details(product.productID)">
          <div style="background-image: url('@routes.Assets.at("images/product/"+product.productID+".jpg")');
            height:480px;
            background-size:cover;
            background-position:center;
            background-repeat:no-repeat;
            color:#fff">
            <div class="product-cover-overlay"></div>
            <p class="product-cover-title">@product.productName</p>
            <p class="product-cover-description">@product.productDescription</p>
          </div>
        </a>
      </div>
    }
    </div>
  </div>
</div>

<hr>

}
