@(localUser: models.User = null)

@import com.feth.play.module.pa.views.html._

@main(Messages("My Profile | SproutUp: Redefine Commerce for Emerging Products")) {

  @currentAuth() { auth =>

	<div class="profile-header">
        <div class="row text-center">
          <div class="col-lg-12">

            <div class="profile-message">
              @if(auth.getProvider() == "facebook") {
                <img class="img-responsive img-center profile-img-circle" src="http://graph.facebook.com/@auth.getId()/picture/?type=large">
              } else {
                <img class="img-responsive img-center profile-img-circle" src="@routes.Assets.at("images/general-profile-icon.png")">
              }

              <h1>@localUser.name</h1>
            </div>

          </div>
      </div>
    </div>
  }

  <hr>
}
