<div class="col-sm-12 edit-profile-page" up-profile-edit="">
    <form name="basicinfoform" class="" novalidate>

        <div class="col-sm-6 profile-left-rail">
            <!-- Basic Information -->
            <div class="profile-edit--header">Basic Information</div>
            <!-- full name -->
            <div class="row profile-input-row">
                <div class="col-sm-12 profile-input-cell">
                    <input type="text" class="form-control form-validate form-input medium" placeholder="Full Name" ng-model="user.name" required>
                </div>
            </div>
            <!-- email and username -->
            <div class="row profile-input-row">
                <div class="col-sm-6 profile-input-cell">
                    <input type="email" disabled class="form-control form-validate form-input medium" placeholder="Email" ng-model="user.email">
                </div>
                <div class="col-sm-6 profile-input-cell">
                    <input type="text" class="form-control form-validate form-input medium left-feedback" placeholder="Pick a nickname" ng-model="user.nickname" required>
                    <span class="fa fa-lg">@@</span>
                </div>
            </div>
            <!-- short description -->
            <div class="row profile-input-row">
                <div class="col-sm-12 profile-input-cell">
                    <textarea class="form-control form-input-textarea no-resize" placeholder="Short description about yourself" rows="2" ng-model="user.description"></textarea>
                </div>
            </div>

        </div>

        <div class="col-sm-6 profile-right-rail">
            <div class="profile-edit--header">Social Networks</div>
            <div class="row profile-input-row">
                <div class="col-sm-12 profile-input-cell">
                    <input type="text" class="form-control form-input medium left-feedback" placeholder="Your Facebook: facebook.com/example" ng-model="user.urlFacebook">
                    <span class="fa fa-lg fa-facebook-square"></span>
                </div>
            </div>
            <div class="row profile-input-row">
                <div class="col-sm-12 profile-input-cell">
                    <input type="text" class="form-control form-input medium left-feedback" placeholder="Your Twitter: twitter.com/@@username" ng-model="user.urlTwitter">
                    <span class="fa fa-lg fa-twitter-square"></span>
                </div>
            </div>
            <div class="row profile-input-row">
                <div class="col-sm-12 profile-input-cell">
                    <input type="text" class="form-control form-input medium left-feedback" placeholder="Your Pinterest, pinterest.com/example" ng-model="user.urlPinterest">
                    <span class="fa fa-lg fa-pinterest-square"></span>
                </div>
            </div>
            <div class="row profile-input-row">
                <div class="col-sm-12 profile-input-cell">
                    <input type="text" class="form-control form-input medium left-feedback" placeholder="Your blog" ng-model="user.urlBlog">
                    <span class="fa fa-lg fa-rss-square"></span>
                </div>
            </div>
        </div>

    </form>

</div>

