<div class="product-list-wrapper" up-product-list>

    <!-- <div class="row sproutup-tabs">
        <div class="col-lg-12">
            <div class="sproutup-tabs--content">
                <a ng-click="query = {isAvailableForTrial: true}" class="btn btn-lg btn-sproutup-tab" ng-class="{'active': query.isAvailableForTrial==true}">All Products</a>
                <a ui-sref="user.comingsoon" class="btn btn-lg btn-sproutup-tab" ng-class="{'active': query.isAvailableForTrial==false}">Coming Soon</a>
            </div>
        </div>
    </div> -->

    <div class="product-list">
        <!-- <div class="product-list-header">
            <h1>We try our best to surprise you with the best innovative products. Request a trial and get a hands-on experience.</h1>
        </div> -->

        <div class="row product-list-container">
            <div class="col-sm-12 product-list--search-area">
                <input ng-model="query.$" class="form-control product-list--search-input" placeholder="Search products" ng-init="query.isAvailableForTrial=true">
                <span class="fa fa-search"></span>
            </div>

            <div ng-repeat="product in products | filter: query | orderBy:'random'">
                <up-product-item product="product"></up-product-item>
            </div>
        </div>

        <!--hr>
        <div class="product-list-header">
            <h1>Help us develop a wicked product showcase. Suggest cool product you know about.</h1>
        </div>
        <form name="suggestion" novalidate>
            <div class="row suggest-product">
                < !-- Product Name - - >
                <div class="col-sm-12 suggest-product-form">
                    <input type="text" class="form-control form-validate form-input large" placeholder="Product Name" name="productName" ng-model="newSuggestion.productName" required="">
                </div>
                < !-- Product URL - - >
                <div class="col-sm-12 suggest-product-form">
                    <input type="text" class="form-control form-validate form-input large" placeholder="Product URL" name="productURL" ng-model="newSuggestion.productUrl" required="">
                </div>
                <div class="col-sm-12 suggest-product-form">
                    <a class="btn btn-lg btn-suggest-product" ng-click="addSuggestion()" ng-disabled="suggestion.$invalid">Suggest it</a>
                </div>
            </div>
        </form-->
    </div>
</div>