@(signupForm: Form[_])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@main(Messages("Join | SproutUp: Redefine Commerce for Emerging Products")) {
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h1 class="form-header">Join the community</h1>
      </div>
    </div>

    <div class="row signup-form-block">
      <div class="col-md-8 col-md-offset-2">

        <div class="form-group">
          <a href="/authenticate/facebook">
            <button id="signup-with-facebook" type="submit" class="btn btn-primary btn-lg btn-block btn-facebook"><i class="fa fa-facebook-square" style="padding-right: 20px;"></i>Join with Facebook</button>
          </a>
        </div>

        <div class="form-group">
          <a href="/authenticate/twitter">
            <button id="signup-with-twitter" type="submit" class="btn btn-primary btn-lg btn-block btn-twitter"><i class="fa fa-twitter-square" style="padding-right: 20px;"></i>Join with Twitter</button>
          </a>
        </div>

        <div class="signup-or-separator">
          <h6 class="text-special">OR</h6>
          <hr>
        </div>

        @helper.form(routes.Application.doSignup) {

          @if(signupForm.hasGlobalErrors) {
            <p class="alert alert-danger">
              @signupForm.globalError.message
            </p>
          }

          @inputText(
            signupForm("name"),
            '_label -> "Full Name",
            'placeholder -> "This is how people in the community recognize you"
          )

          @inputText(
            signupForm("email"),
            '_label -> "Email",
            'placeholder -> "Email is your login, so don't spoof"
          )

          @inputPassword(
            signupForm("password"),
            '_label -> "Password",
            'placeholder -> "At least 6 characters, but don't use 123456"
          )

          @inputPassword(
            signupForm("repeatPassword"),
            '_label -> "Confirm Password",
            'placeholder -> "You should be able to confirm it at least once"
          )

          <button type="submit" class="btn btn-primary btn-lg btn-block">Sign Up</button>

        }

      </div>

      <div class="col-md-8 col-md-offset-2">
        <h2>Already in the community? Okie dokie, just <a href="@routes.Application.login()">log in</a> here.</h2>
      </div>


    </div>
  </div>

  <hr>

}
