<div class="container">
    <div class="row text-center">
        <div class="col-lg-12">
            <h1 class="legal-title">Terms of Service</h1>
            <div class="legal-content">
                <p>These Terms of Service (“Terms”) govern your access to and use of the services, including our various websites, SMS, APIs, email notifications, applications, buttons, widgets, ads, and commerce services (the “Services” or “SproutUp”), and any information, text, graphics, photos or other materials uploaded, downloaded or appearing on the Services (collectively referred to as “Content”). Your access to and use of the Services are conditioned on your acceptance of and compliance with these Terms. By accessing or using the Services you agree to be bound by these Terms.</p>
            </div>
        </div>
    </div>
</div>

