<h1>Thanks for signing up! We have one more thing to ask...</h1>
<h2>Please let us know your <span>twitter</span> account</h2>

<div class="signup-wizard-row">
    <input class="form-control form-input large" placeholder="@@username" required="" type="text">
</div>
<p>At this point, we are offering <span>Product Trials</span> to a limited group of users. We use your twitter handle to determine your eligibility.</p>
<div class="signup-wizard-actions">
    <button class="btn btn-lg add-product-btn save">Continue</button>
    <button class="btn btn-lg add-product-btn cancel">Skip</button>
</div>
