<div class="collapse navbar-collapse" id="sproutup-collapse-navbar">
    <ul class="nav navbar-nav navbar-item navbar-left">
        <li><a href="#">PRODUCTS</a></li>
        <li><a href="#">TRIALS</a></li>
        <li><a href="#">PERKS</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-item navbar-right">

        <li>
            <img class="profile-img" ng-src="{{user.avatarUrl}}">
        </li>

        <li class="dropdown">
            <a href="#" analytics-on="click" analytics-event="User Menu" class="dropdown-toggle" data-toggle="dropdown">{{user.name}}<i class="fa fa-angle-down login-angle-down"></i></a>
            <ul class="dropdown-menu" role="menu">
                <li><a analytics-on="click" analytics-event="Enter User Settings" ui-sref="settings.profile">Profile & Settings</a></li>
                <li><a href="" analytics-on="click" analytics-event="Log Out" ng-click="logout()">Log Out</a></li>
            </ul>
        </li>
    </ul>
</div>
