<div class="collapse navbar-collapse" id="sproutup-collapse-navbar">

    <ul class="nav navbar-nav navbar-item navbar-right">
        <li><a analytics-on="click" analytics-event="Enter Creators Page" ui-sref="creator">For Creators</a></li>

        <li ng-show="!isLoggedIn">
            <a href="" ng-click="login('sm')">Log In</a>
        </li>

        <li ng-show="!isLoggedIn" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign Up</a>
            <ul class="dropdown-menu" role="menu">
                <li><a analytics-on="click" analytics-event="Sign up as Influencer">Influencer</a></li>
                <li><a analytics-on="click" analytics-event="Sign up as Creator">Product Creator</a></li>
            </ul>
        </li>

        <li ng-show="isLoggedIn">
            <a href="#">My Dashboard</a>
        </li>

        <li ng-show="isLoggedIn">
            <a href="" ng-click="logout()">Log Out</a>
        </li>

    </ul>
</div>
