<div class="modal fade" id="forgot-password-modal" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <!-- forgot password-->
                    <div class="signup-login-form-header">
                        <h1>Reset password</h1>
                        <h2>Enter the email address associated with your account, and we'll send you a link to reset it.</h2>
                    </div>
                    <div class="signup-login-form">
                        <input class="form-control signup-login-input" id="email" type="text" placeholder="Email address">
                        <button class="btn btn-lg password-reset-btn" type="submit">Send reset link</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
