<div class="modal-body">
    <div class="row">
        <!-- facebook login -->
        <a href="/authenticate/facebook">
            <button type="submit" class="btn btn-lg btn-facebook"><i class="fa fa-facebook-square"></i>Sign up with Facebook</button>
        </a>
        <!-- twitter login -->
        <a href="/authenticate/twitter">
            <button type="submit" class="btn btn-lg btn-twitter"><i class="fa fa-twitter-square"></i>Sign up with Twitter</button>
        </a>
        <!-- separator -->
        <div class="signup-or-separator">
            <h6 class="text-special">OR</h6>
            <hr>
        </div>
        <!-- email login -->
        <form name="signupForm" class="signupForm" novalidate>
            <div class="signup-login-form">
                <div class="signup-login-form--error-message" ng-show="signup.error"><i class="fa fa-minus-circle"></i>{{signup.error}}</div>
                <!-- full name -->
                <input ng-model="signup.name" required="" class="form-control signup-login-input" id="name" type="text" name="yourName" placeholder="Your full name">
                <div ng-show="signupForm.$submitted || signupForm.yourName.$touched">
                    <div class="signup-login-form--error-message" ng-show="signupForm.yourName.$error.required"><i class="fa fa-minus-circle"></i>Please tell us your name</div>
                </div>

                <!-- email -->
                <input ng-model="signup.email" required="" class="form-control signup-login-input" id="email" type="email" name="yourEmail" placeholder="Email address - Don't spoof your login">
                <div ng-show="signupForm.$submitted || signupForm.yourEmail.$touched">
                    <div class="signup-login-form--error-message" ng-show="signupForm.yourEmail.$error.required"><i class="fa fa-minus-circle"></i>Can't sign up without an email</div>
                    <div class="signup-login-form--error-message" ng-show="signupForm.yourEmail.$error.email"><i class="fa fa-minus-circle"></i>Err, you sure the email is valid?</div>
                </div>

                <!-- password -->
                <input ng-model="signup.password" required="" ng-minlength="3" class="form-control signup-login-input" id="password" type="password" name="yourPassword" placeholder="Password">
                <div ng-show="signupForm.$submitted || signupForm.yourPassword.$touched">
                    <div class="signup-login-form--error-message" ng-show="signupForm.yourPassword.$error.required"><i class="fa fa-minus-circle"></i>3+ characters would be safer</div>
                    <div class="signup-login-form--error-message" ng-show="signupForm.yourPassword.$error.minlength"><i class="fa fa-minus-circle"></i>3+ characters would be safer</div>
                </div>

                <!-- agreement -->
                <div class="signup-agreement">
                    By signing up, I agree to SproutUp's <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.
                </div>
                <button ng-disabled="signupForm.$invalid" class="btn btn-lg signup-login-btn" type="submit" ng-click="ok()">Sign up</button>
            </div>
        </form>

        <!-- footer -->
        <hr class="signup-login-form-separator">
        <div ng-click="login()" class="signup-login-form-footer">Already in SproutUp community? <a href="#">Log in</a></div>
    </div>
</div>
