<div id="suggest-product-section">
    <div class="col-lg-12">
        <h2 class="how-it-works--header">You in? Hit us up and get early access!</h2>
    </div>
    <form name="request" novalidate>
        <div class="row early-access-signup">
            <div class="early-access-signup-header">
                <p>SproutUp Beta is Freemium.</p>
                <p>Take advantage of our Beta phase and get your product up on SproutUp without paying a dime. We’ll be launching a subscription plan later this summer. We’ve got super things planned and would love to co-create with you to make this everything you need it to be.</p>
            </div>


            <!-- Name -->
            <div class="col-sm-12 early-access-signup-form">
                <input type="text" class="form-control form-validate form-input large" placeholder="Your name" name="yourName" ng-model="newRequest.name" required="">
            </div>

            <!-- Email -->
            <div class="col-sm-12 early-access-signup-form">
                <input type="email" class="form-control form-validate form-input large" placeholder="Your email address" name="yourEmail" ng-model="newRequest.email" required="">
            </div>
            <div ng-show="request.$submitted || request.yourEmail.$touched">
                <div class="form--error-message" ng-show="request.yourEmail.$error.required"><i class="fa fa-minus-circle"></i>Please tell us your email</div>
                <div class="form--error-message" ng-show="request.yourEmail.$error.email"><i class="fa fa-minus-circle"></i>Err, you sure the email is valid?</div>
            </div>

            <!-- Product URL-->
            <div class="col-sm-12 early-access-signup-form">
                <input type="text" class="form-control form-validate form-input large" placeholder="Please provide your product website URL" name="productURL" ng-model="newRequest.productUrl" required="">
            </div>

            <div class="col-sm-12 early-access-signup-form">
                <a class="btn btn-lg btn-early-access-signup" ng-click="addRequest()" ng-disabled="request.$invalid">Send request</a>
            </div>
        </div>
    </form>
</div>
