<div id="suggest-product-section">
    <div class="col-lg-12">
        <h2 class="overview-title">Interested? Sign up to receive an invite!</h2>
    </div>
    <form name="request" novalidate>
        <div class="col-sm-12 early-access-signup">
            <div class="early-access-signup-header">
                We are still in private beta, but are expanding collaboration with the most innovative creators. Would love to hear from you.
            </div>

            <!-- Name -->
            <div class="col-sm-12 early-access-signup-form">
                <input type="text" class="form-control early-access-signup-form-input" placeholder="Your name" name="yourName" ng-model="newRequest.name" required="">
            </div>
            <div ng-show="request.$submitted || request.yourName.$touched">
                <div class="contact-form--error-message" ng-show="request.yourName.$error.required"><i class="fa fa-minus-circle"></i>Please tell us your name</div>
            </div>

            <!-- Email -->
            <div class="col-sm-12 early-access-signup-form">
                <input type="email" class="form-control early-access-signup-form-input" placeholder="Your email address" name="yourEmail" ng-model="newRequest.email" required="">
            </div>
            <div ng-show="request.$submitted || request.yourEmail.$touched">
                <div class="contact-form--error-message" ng-show="request.yourEmail.$error.required"><i class="fa fa-minus-circle"></i>Please tell us your email</div>
                <div class="contact-form--error-message" ng-show="request.yourEmail.$error.email"><i class="fa fa-minus-circle"></i>Err, you sure the email is valid?</div>
            </div>

            <!-- Product URL-->
            <div class="col-sm-12 early-access-signup-form">
                <input type="url" class="form-control early-access-signup-form-input" placeholder="Please provide your product website URL" name="productURL" ng-model="newRequest.productUrl" required="">
            </div>
            <div ng-show="request.$submitted || request.productURL.$touched">
                <div class="contact-form--error-message" ng-show="request.productURL.$error.required"><i class="fa fa-minus-circle"></i>Please tell us a URL to your product</div>
                <div class="contact-form--error-message" ng-show="request.productURL.$error.url"><i class="fa fa-minus-circle"></i>Err, this does not look like a URL</div>
            </div>

            <div class="col-sm-12 early-access-signup-form">
                <a class="btn btn-lg btn-early-access-signup" ng-click="addRequest()" ng-disabled="request.$invalid">Sign up</a>
            </div>
        </div>
    </form>
</div>
