<div class="media col-sm-12">

    <div masonry masonry-options="{ isFitWidth: true, transitionDuration: 0, gutter: 4}" class="masonry">
        <div ng-repeat="file in files | orderBy: 'createdAt':true " class="masonry-brick">
            <div ng-switch="file.type.substring(0, 6)">
                <div ng-switch-when="image/">
                    <up-photo file="file" user="user"></up-photo>
                </div>
                <div ng-switch-when="video/">
                    <up-video file="file" user="user"></up-video>
                </div>
                <div ng-switch-default>?-{{file.type}}</div>
            </div>
        </div>
    </div>
</div>
