<div class="col-md-4 col-sm-6 col-xs-12 product-list-item">
    <a analytics-on="click" analytics-event="Enter Product: {{product.productName}}" ui-sref="user.product.detail.about({ slug: product.slug })">
        <div class="product-cover-photo" up-background-image="{{product.banner.url.image}}" up-background-attr="?w=1600" up-fallback-image="/assets/images/default-product-banner.jpg">
            <div class="product-cover-info">
                <div class="product-category-list">
                    <button ng-repeat="tag in product.tags" class="btn btn-product-category" type="button">{{tag.name}}</button>
                </div>
                <div class="product-cover-title">{{product.productName}}</div>
                <div class="product-cover-description">{{product.productDescription}}</div>
                <div ng-hide="!product.trials" class="trial-user-list-title">{{product.trials.length}} TRIALS REQUESTED</div>
                <div class="trial-user-list">
                    <img ng-repeat="trial in product.trials | limitTo:6" class="trial-user-img" src="{{trial.user.avatarUrl}}">
                </div>
            </div>
        </div>
    </a>
</div>
