<div class="row profile-info">
        <div class="col-sm-3 profile-user--avatar">
            <img class="img-responsive" src="assets/images/user/zWnxNjhz_400x400.jpeg">
        </div>
        <div class="col-sm-9 profile-user--details">
            <p class="profile-user--name">{{user.name}}<span class="profile-user--alias">@{{user.nickname}}</span></p>
            <p class="profile-user--description">{{user.description}}</p>
            <ul class="list-inline profile-user-social-buttons">
                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-rss"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
            </ul>
            <ul class="list-inline profile-user--badge">
                <li class="profile-user--badge-item">Influencer</li>
            </ul>
        </div>
</div>
