<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 product-list-item">
    <div class="product-cover-photo" up-background-image="{{product.banner.url.image}}" up-background-attr="?w=1600" up-fallback-image="/assets/images/default-product-banner.jpg">
        <div class="product-category-list">
            <button ng-repeat="tag in product.tags" class="btn btn-product-category" type="button">{{tag.name}}</button>
        </div>
        <a ui-sref="product.detail.about({ slug: product.slug })">
            <div class="product-cover-info">
                <div class="product-cover-title">
                    <div ng-show="product.isAvailableForTrial" class="featured-product-label">Try me!</div>
                    {{product.productName}}
                </div>
                <div class="product-cover-description">
                    {{product.productDescription}}
                </div>
            </div>
        </a>
    </div>
</div>
