<div class="col-md-4 col-sm-6 col-xs-12 product-list-item">
    <a analytics-on="click" analytics-event="View Product" analytics-slug="{{product.slug}}" ui-sref="user.product.detail.buzz({ slug: product.slug })">
        <div class="product-cover-photo" up-background-image="{{product.banner.url.image}}" up-background-attr="?w=800" up-fallback-image="/assets/images/default-product-banner.jpg">
            <div class="product-cover-info">
                <div class="product-cover-title">{{product.name}}</div>
                <div class="product-cover-description">{{product.tagline}}</div>
                <div class="product-cover-label">  
                    <img ng-show="product.isAvailableForContest" class="img-responsive product-cover-label-img" src="assets/images/giveaway.png">
                    <img ng-show="product.isAvailableForDiscount" class="img-responsive product-cover-label-img" src="assets/images/discount.png">
                </div>
            </div>
        </div>
    </a>
    <div class="trial-user-list">
        <div ng-show="getActiveRequests(product).length!=0" class="trial-user-list-title">{{getActiveRequests(product).length}} TRIALS REQUESTED</div>
        <div class="trial-user-wrapper" ng-repeat="trial in getActiveRequests(product) | orderBy: '-updatedAt' | limitTo:8" ng-mouseenter="avatarHover = true" ng-mouseleave="avatarHover = false">
            <a ui-sref="user.profile.buzz({ nickname: trial.user.nickname })">
                <img class="trial-user-img" ng-src="{{trial.user.avatarUrl}}">
            </a>
            <up-user-card user="trial.user" ng-if="avatarHover"></up-user-card>
        </div>
        
    </div>
</div>
