<div ng-if="justCreator==false" ng-repeat="member in product.team" ng-hide="$first" class="col-sm-4 about-product--team-member">
    <div class="about-product--team-member-photo" style="background-image: url('{{member.photo.url.image}}?w=280&h=280')">
        <div class="meet-creator-overlay-info">
            <h1>Meet {{member.title}}</h1>
            <h2>{{member.name}}</h2>
        </div>
    </div>
</div>
<div ng-if="justCreator==true && product.team.length > 0" class="about-product--mission-creator  secondrow">
    <div class="about-product--team-member-photo" style="background-image: url('{{product.team[0].photo.url.image}}?w=280&h=280')">
        <div class="meet-creator-overlay-info">
            <h1>Meet {{product.team[0].title}}</h1>
            <h2>{{product.team[0].name}}</h2>
        </div>
    </div>
</div>
