<div class="product-list--landing-page">
    <h1 class="text-center product-list-header">Other awesome products on SproutUp</h1>
    <div class="col-sm-12 product-list--search-area">
        <input ng-model="query" class="form-control product-list--search-input" placeholder="Search products">
        <span class="fa fa-search"></span>
    </div>

    <div class="row product-list-container">
        <div ng-repeat="product in products | filter:query">
            <up-product-item product="product"></up-product-item>
        </div>
    </div>
</div>
