<div>
    <!-- row 1: intro video -->
    <div class="row about-product-row">
        <div ng-if="product.video">
            <div class="col-sm-12 about-product-tile">
                <div class="about-product--video">
                    <up-video-simple file="product.video" overlay="false"></up-video-simple>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="row about-product-row">
        <div class="col-sm-4 about-product-photo">
            <img class="img-responsive" src="http://d30xksqof6w2my.cloudfront.net/f21e5d39-c04f-4081-aa1a-8eaff319bf0f_17.jpg?w=1024&h=1024">
        </div>
        <div class="col-sm-4 about-product-photo">
            <img class="img-responsive" src="http://d30xksqof6w2my.cloudfront.net/2712d93d-7cdb-4d4b-a9b9-1a3000474149_17.jpg?w=1024&h=1024">
        </div>
        <div class="col-sm-4 about-product-photo">
            <img class="img-responsive" src="http://d30xksqof6w2my.cloudfront.net/f21e5d39-c04f-4081-aa1a-8eaff319bf0f_17.jpg?w=560&h=560">
        </div>
    </div> -->

    <div class="row about-product-row">
        <div class="col-sm-12 about-product-tile" up-product-about-description product="product">
        </div>
    </div>

    <div class="row about-product-row">
        <div class="col-sm-12 about-product-tile" up-product-about-features product="product">
        </div>
    </div>

    <!-- <div class="row about-product-row">
        <div class="col-sm-6 about-product-photo">
            <img class="img-responsive" src="http://d30xksqof6w2my.cloudfront.net/f21e5d39-c04f-4081-aa1a-8eaff319bf0f_17.jpg?w=1024&h=1024">
        </div>
        <div class="col-sm-6 about-product-photo">
            <img class="img-responsive" src="http://d30xksqof6w2my.cloudfront.net/2712d93d-7cdb-4d4b-a9b9-1a3000474149_17.jpg?w=1024&h=1024">
        </div>
    </div> -->

    <!-- row 3: mission statements -->
    <div ng-show="product.missionStatement" class="row about-product-row">
        <div class="col-md-12 about-product-tile" up-product-about-mission product="product">
        </div>
    </div>

    <!-- row 4: product story -->
    <div ng-show="!product.productStory" class="row about-product-row">
        <div class="col-sm-12 about-product-tile" up-product-about-story product="product" equal-height="false">
        </div>
    </div>

    <!-- row 5: product team -->
    <!-- <div class="row about-product-row">
        <div class="col-sm-12 about-product-tile">
            <div ng-show="product.team.length>1" class="about-product--team">
                <p class="about-product--header">Meet the team</p>
                <div class="fluid-container about-product--team-content">
                    <up-product-about-team product="product" just-creator="false"></up-product-about-team>
                </div>
            </div>
        </div>
    </div> -->
</div>
