<div class="profile-menu">
    <div class="row profile-menu-body">
        <div class="col-xs-4">
            <div class="profile-menu--item">
                <a ui-sref="profile.photos" ui-sref-active="active">
                    <span class="profile-menu--item-value">{{menu.photos}}</span>
                    <span class="profile-menu--item-label">Photos</span>
                </a>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="profile-menu--item">
                <a ui-sref="profile.videos" ui-sref-active="active">
                    <span class="profile-menu--item-value">{{menu.videos}}</span>
                    <span class="profile-menu--item-label">Videos</span>
                </a>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="profile-menu--item">
                <a ui-sref="profile.products" ui-sref-active="active">
                    <span class="profile-menu--item-value">{{menu.products}}</span>
                    <span class="profile-menu--item-label">Products</span>
                </a>
            </div>
        </div>
    </div>
</div>
