<div id="suggest-product-section" class="up-slideable row">
    <h1 class="text-center suggest-product-header">Didn't see a product you love? Suggest it here.</h1>
    <h1 class="text-center suggest-product-header-2">We feel thrilled to hear from the community what products they love and care about! We will put up a product page for you to share experience and talk with others.</h1>
    <form name="suggestion" novalidate>
        <div class="suggest-product">
            <!-- Email -->
            <div class="col-sm-12 suggest-product-form">
                <input type="email" class="form-control suggest-product-form-input" placeholder="Your email address" name="yourEmail" ng-model="newSuggestion.email" required="">
            </div>

            <!-- Product Name -->
            <div class="col-sm-12 suggest-product-form">
                <input type="text" class="form-control suggest-product-form-input" placeholder="Product Name" name="productName" ng-model="newSuggestion.productName" required="">
            </div>

            <!-- Product URL -->
            <div class="col-sm-12 suggest-product-form">
                <input type="url" class="form-control suggest-product-form-input" placeholder="Product URL" name="productURL" ng-model="newSuggestion.productUrl" required="">
            </div>

            <div class="col-sm-12 suggest-product-form">
                <a class="btn btn-lg btn-suggest-product" ng-click="addSuggestion()" ng-disabled="suggestion.$invalid">Suggest it</a>
            </div>
        </div>
    </form>
</div>
