<div>
    <!-- row 1: intro video -->
    <div class="row about-product-row">
        <div ng-if="product.video">
            <div class="col-sm-12 about-product-tile">
                <div class="about-product--video">
                    <up-video file="product.video" overlay="false"></up-video>
                </div>
            </div>
        </div>
    </div>

    <div class="row about-product-row">
        <div class="col-sm-7 about-product-tile" up-product-about-description product="product" equal-height="true">
        </div>
        <div class="col-sm-5 about-product-tile" up-product-about-features product="product" equal-height="true">
        </div>
    </div>

    <!-- row 3: mission statements -->
    <div ng-show="product.missionStatement" class="row about-product-row">
        <div class="col-sm-8 about-product-tile" up-product-about-mission product="product" equal-height=".secondrow">
        </div>
        <div class="col-sm-4 about-product-tile" up-product-about-team product="product" just-creator="true" equal-height=".secondrow">
        </div>
    </div>

    <!-- row 4: product story -->
    <div ng-show="!product.productStory" class="row about-product-row">
        <div class="col-sm-12 about-product-tile" up-product-about-story product="product" equal-height="false">
        </div>
    </div>

    <!-- row 5: product team -->
    <div class="row about-product-row">
        <div class="col-sm-12 about-product-tile">
            <div ng-show="product.team.length>0" class="about-product--team">
                <p class="about-product--header">Meet the team</p>
                <div class="fluid-container about-product--team-content">
                    <up-product-about-team product="product" just-creator="false"></up-product-about-team>
                </div>
            </div>
        </div>
    </div>
</div>
