
<!-- 	If the order of these elements is changed, the directive must be changed accordingly in directives.js.  -->

<div class="user-card-wrapper">
	<img ng-src="{{ user.avatarUrl }}" class="user-card-avatar">
	<div class="user-card-name">{{ user.name }}</div>
	<a ng-href="{{ user.urlTwitter }}">
		<div class="user-card-nickname">{{ user.twitterHandle }}</div>
	</a>
	<div class="user-card-arrow"></div>
	<div class="user-card-arrow-up"></div>
</div>
<div class="user-card-hover-box"></div>

<!-- this div is for testing -->
<!-- <div class="user-card-wrapper">
	<img src="https://pbs.twimg.com/profile_images/546875112947867649/U8BFoVYj.jpeg" class="user-card-avatar">
	<div class="user-card-name">Thomas O'Brien</div>
	<div class="user-card-nickname">thomasbeta</div>
	<div class="user-card-arrow"></div>
	<div class="user-card-arrow-up"></div>
</div>
<div class="user-card-hover-box"></div> -->